{
  "extends": "stylelint-config-standard",
  "rules": {
    "comment-empty-line-before": null,
    "no-descending-specificity": null,
    "selector-type-no-unknown": null,
    "color-hex-length": null,
    "length-zero-no-unit": null
  }
}
