<section class="api-feedback-section">
  <div class="col">
    <a target="_blank" href="https://redpandacommunity.slack.com/archives/C072PCQ63SQ" alt="Slack Community">
      <span class="material-icons MuiIcon-root mailIcon_fWLs" aria-hidden="true">group</span> Share your feedback
    </a>
  </div>
  <div class="col">
    <a target="_blank" href="mailto:rp-docs-feedback@redpanda.com?subject=Documentation Feedback&amp;body=Doc url: https://docs.redpanda.com/docs/get-started/">
      <span class="material-icons MuiIcon-root mailIcon_fWLs" aria-hidden="true">email</span>
      <span> Sign up for Updates</span>
    </a>
  </div>
  <div class="col">
    <div class="theme-switcher">
      <button id="switch-theme" type="button" title="Switch between dark and light mode" aria-label="Switch between dark and light mode" aria-live="polite">
        <img class="theme-image" src="{{{uiRootPath}}}/img/octicons-24.svg#view-sun" alt=""></img>
      </button>
    </div>
  </div>
</section>
