<article class="doc">
{{> latest-banner}}
{{#unless page.attributes.cloud}}
  {{> page-versions}}
{{/unless}}
{{#with page.title}}
<h1 class="page">{{{this}}}</h1>
{{/with}}
{{#if (eq page.layout 'home')}}
  {{> home}}
{{else if (eq page.layout 'index')}}
  {{> index}}
{{else}}
  {{> context-switcher}}
  {{{page.contents}}}
{{/if}}
{{> feedback-footer}}
{{> pagination}}
</article>
