<div class="body no-keep-markup">
{{#if (ne page.attributes.role 'home')}}
{{> nav}}
{{/if}}
{{> main}}
</div>
<div class="nav-expand hidden" title="Expand navigation tree"><img src="{{{uiRootPath}}}/img/collapse-icon.svg" class="menu-icon" alt="Expand navigation tree"></div>
{{#if page.componentVersion.asciidoc.attributes.toc-tools-title}}
{{> connect-tools-fab}}
{{/if}}