<div class="body">
  {{#if (ne page.layout '404') }}
  {{> feedback-forms}}
  {{/if}}
  <div class="nav-container"{{#if page.component}} data-component="{{page.component.name}}" data-version="{{page.version}}"{{/if}}>
    <aside class="nav">
      <div class="top-panel">
      {{#if (and (ne page.layout 'search') (ne page.layout 'labs-search'))}}
        <div class="search hide-for-print">
          <div id="autocomplete"></div>
        </div>
      {{/if}}
      {{> nav-explore}}
      </div>
      <div class="panels">
        {{#with page.component.url}}
          <div class="badge-button">
            <a href="{{{relativize this}}}" aria-label="Go to landing page"><i class="fa fa-long-arrow-left"></i> Search all labs</a>
          </div>
        {{/with}}
        <div class="nav-panel-menu is-active" data-panel="menu">
        <nav class="nav-menu">
          {{> nav-tree-lab}}
        </nav>
      </div>
      </div>
    </aside>
  </div>
  <main class="article">
  {{> toolbar}}
    <div class="content">
      {{> toc}}
      {{> article}}
    </div>
  </main>
</div>