<div class="body no-keep-markup">
{{> nav}}
{{> main}}
</div>
<div class="nav-collapse" title="Collapse navigation">
  <img src="{{{uiRootPath}}}/img/collapse-icon.svg" class="menu-icon">
  <p>Collapse</p>
</div>
