<section class="cloud-api-feedback-section">
  <div class="col">
    <a target="_blank" href="https://redpandacommunity.slack.com/archives/C072PCQ63SQ" alt="Slack Community">
      <span class="material-icons MuiIcon-root mailIcon_fWLs" aria-hidden="true">group</span> Share your feedback
    </a>
  </div>
  <div class="col">
    <a target="_blank" onclick="handleModal(event)">
      <span class="material-icons MuiIcon-root mailIcon_fWLs" aria-hidden="true">email</span>
      <span> Sign up for updates</span>
    </a>
  </div>
</section>

<script>
var modal = document.getElementById("cloud-api-feedback-modal");

function handleModal(event) {
  event.preventDefault();
  //modal.classList.toggle('hidden');
  return false;
}
</script>
