<div class="context-switcher">
  {{#each (obj page.attributes.context-switcher)}}
    <a
      id="{{{this.name}}}"
      href="{{{relativize (resolve-resource  this.to)}}}"
      class="context-link {{#if (eq @root.page.url (resolve-resource  this.to))}}active{{/if}}"
    >
      <button type="button">{{{this.name}}}</button>
    </a>
    {{/each}}
</div>