<script>
function createEditablePlaceholders () {
  const codeElements = document.querySelectorAll("pre > code");

  for (let i = 0; i < codeElements.length; i++) {
    const codeElement = codeElements[i];
    addEditableSpan(/&lt;.[^&A-Z]*&gt;/g, codeElement);
  }
}

if (!RegExp.escape) {
  RegExp.escape = function(s) {
    return s.replace(/[\\^$*+?.()|[\]{}]/g, '\\$&');
  };
}

function addEditableSpan(regex, element) {
  if (!element || !element.textContent) {
    return;
  }
  const text = element.innerHTML;
  const placeholders = text.match(regex) || [];
  const processed = new Set();
  let newHTML = text;
  for (const placeholder of placeholders) {
    const cleanedPlaceholder = placeholder.replace(/<[^>]*>/g, '').replace(/&lt;|&gt;/g, '');
    if (processed.has(placeholder)) {
      continue;
    }
    const regexString = RegExp.escape(placeholder);
    const globalRegex = new RegExp(regexString, 'g');
    newHTML = newHTML.replace(globalRegex, `<span contenteditable="true" data-type="${cleanedPlaceholder}" onclick="removeCursor(event)">&lt;${cleanedPlaceholder}&gt;</span><span class="cursor"></span>`);
    processed.add(placeholder);
  }
  element.innerHTML = newHTML;
}


function removeCursor (element) {
  if (element.target) {
    element = element.target
  }
  if (element.contentEditable == 'true') {
    element.nextElementSibling.classList.remove('cursor');
  } else {
    element.parentElement.nextElementSibling.classList.remove('cursor');
  }
}

function addClasses () {
  const editablePlaceholders = document.querySelectorAll('[contenteditable="true"], [contenteditable="true"] span');

  editablePlaceholders.forEach((placeholder) => {
    placeholder.classList.add('editable');
    placeholder.addEventListener('input', function(event) {
      const dataType = event.target.dataset.type;
      const newText = event.target.textContent;

      document.querySelectorAll(`[data-type="${dataType}"][contenteditable="true"]`).forEach(span => {
        if (span !== event.target) {
          span.textContent = newText;
        }
      });
    });
  });
}

function addEvents() {
  const editablePlaceholders = document.querySelectorAll('[contenteditable="true"], [contenteditable="true"] span');

  editablePlaceholders.forEach((placeholder) => {
    placeholder.addEventListener('input', function(event) {
      const dataType = event.target.dataset.type;
      const newText = event.target.textContent;

      document.querySelectorAll(`[data-type="${dataType}"][contenteditable="true"]`).forEach(span => {
        if (span !== event.target) {
          span.textContent = newText;
          removeCursor(span)
        }
      });
    });
  });
}

window.onload = function() {
  try {
    createEditablePlaceholders();
    addClasses()
    addEvents()
  } catch (error) {
    console.error('An error occurred while making placeholders editable:', error);
  }
};
</script>