<div class="form-field wrapper">
  <span class="material-icons MuiIcon-root" aria-hidden="true" style="color: green;overflow: hidden;width: 1em;height: 1em;font-size: 4em;">checkmark</span>
  <h4>Thank you for your feedback!</h4>
  <p>We appreciate your input and will use it to improve our documentation.</p>
  <div class="form-field wrapper">
    <button onclick="closeForm(event)" class="button close">Close</button>
  </div>
</div>
