<form id="feedbackForm" class="hidden" name="feedbackForm" method="POST" netlify-honeypot="bot-field" data-netlify="true" data-netlify-recaptcha="true">
  <input type="hidden" name="form-name" value="feedbackForm" />

  <!-- Honeypot -->
  <p class="hidden">
    <label>Beep-Boop. Bot-field: <input name="bot-field"></label>
  </p>

  <!-- Hidden metadata -->
  <input type="hidden" name="version">
  <input type="hidden" name="url">
  <input type="hidden" name="positiveFeedback">
  <input type="hidden" name="beta">
  <input type="hidden" name="date">
  <input type="radio" name="feedback" value="" hidden>
  <input type="hidden" name="navigator">

  <div class="feedback-modal">
    <div class="feedback-modal-body">
      <h4>What do you think of this page?{{page.url}}</h4>

      <div id="feedback-details" class="hidden">
        <div class="radio-buttons form-field" id="feedback-options"></div>

        <div class="form-field">
          <h4><span id="feedback-prompt">Let us know more:</span></h4>
          <textarea name="otherText" rows="4" cols="50" placeholder="Please share details or suggestions."></textarea>
        </div>

        <div class="form-field">
          <h4>Let us contact you about your feedback:</h4>
          <input type="text" name="email" placeholder="email@example.com">
        </div>

        <div data-netlify-recaptcha="true"></div>

        <div class="form-field wrapper">
          <button type="submit" id="submitButton" class="submitButton">Submit</button>
        </div>
        <p id="captchaHint" class="hint" style="display:none;" aria-describedby="captchaHint" aria-live="polite">
          Please complete the “I'm not a robot” checkbox to submit.
        </p>
      </div>
    </div>
  </div>

  <div class="modal-overlay" id="modal-overlay"></div>
</form>
