{{#if (ne page.attributes.role 'home')}}
{{> contributors-modal}}
<section class="feedback-section">
  {{> thumbs}}
  <div class="col">
    <a target="_blank" href="https://redpanda.com/slack" alt="Slack Community">
      <span class="material-symbols-outlined">group</span> Ask in the community
    </a>
  </div>
  <div class="col">
    <a target="_blank" href="mailto:rp-docs-feedback@redpanda.com?subject=Documentation Feedback&amp;body=Doc url: {{{page.url}}}">
      <span class="material-symbols-outlined">mail</span>
      <span> Share your feedback</span>
    </a>
  </div>
  <div class="col">
    <a aria-label="See options for contributing" onclick="handleModal(event)" rel="nofollow">
      <span class="material-symbols-outlined">group_add</span>
      <span>Make a contribution</span>
    </a>
  </div>
</section>
{{> feedback-success}}
<script>
var modal = document.getElementById("contributors-modal");

function handleModal(event) {
  event.preventDefault();
  modal.classList.toggle('hidden');
  return false;
}
</script>
{{/if}}