<form id="positive" class="hidden" data-netlify="true" name="feedbackForm" method="POST" netlify-honeypot="bot-field" onSubmit="handleSubmit(event)">
  <div class="feedback-modal">
    <div class="feedback-modal-body">
      <h4>What do you like about this doc?</h4>
      <div>
        <div class="radio-buttons form-field">
          <input type="hidden" name="form-name" value="feedbackForm">
          <p class="hidden">
            <label class="hidden">Beep-Boop. Bot-field <input name="bot-field"></label>
          </p>
          <input class="hidden" name="version">
          <input class="hidden" name="url">
          <input class="hidden" name="positiveFeedback">
          <input class="hidden" name="beta">
          <input class="hidden" name="date">
          <input class="hidden" name="navigator">
          <label>
            <input type="radio" name="feedback" id="solvedProblem" value="Solved my problem" checked="">
            <span class="label">Solved my problem</span>
          </label>
          <br>
          <label>
            <input type="radio" name="feedback" id="easyToUnderstand" value="Easy to understand">
            <span class="label">Easy to understand</span>
          </label>
          <br>
          <label>
            <input type="radio" name="feedback" id="other" value="other">
            <span class="label">Other</span>
          </label>
        </div>
        <div class="form-field">
          <h4>Optional: Share your email address</h4>
          Let us know if we can contact you about your feedback.
          </br>
          <input type="text" name="email" id="email" placeholder="email@example.com">
        </div>
        <div class="form-field">
          <h4>Let us know what we do well:</h4>
          <textarea id="otherText" name="otherText" rows="4" cols="50" placeholder="Please share details or suggestions for this topic."></textarea>
        </div>
      </div>
      <div class="form-field wrapper">
        <button type="submit" class="button">Submit</button>
      </div>
    </div>
  </div>
  <div class="modal-overlay" id="modal-overlay">
  </div>
</form>
<form id="negative" class="hidden" data-netlify="true" name="feedbackForm" method="POST" netlify-honeypot="bot-field" onSubmit="handleSubmit(event)">
  <div class="feedback-modal">
    <div class="feedback-modal-body">
      <h4>What did you not like about this doc?</h4>
      <div>
        <div class="radio-buttons form-field">
          <input type="hidden" name="form-name" value="feedbackForm">
          <p class="hidden">
            <label class="hidden">Beep-Boop. Bot-field <input name="bot-field"></label>
          </p>
          <input class="hidden" name="version">
          <input class="hidden" name="url">
          <input class="hidden" name="positiveFeedback">
          <input class="hidden" name="beta">
          <input class="hidden" name="date">
          <input class="hidden" name="navigator">
          <label>
            <input type="radio" name="feedback" id="solvedProblem" value="Solved my problem" checked="">
            <span class="label">Did not solve my problem</span>
          </label>
          <br>
          <label>
            <input type="radio" name="feedback" id="easyToUnderstand" value="Easy to understand">
            <span class="label">Hard to understand</span>
          </label>
          <br>
          <label>
            <input type="radio" name="feedback" id="other" value="other">
            <span class="label">Other</span>
          </label>
        </div>
        <div class="form-field">
          <h4>Optional: Share your email address</h4>
          Let us know if we can contact you about your feedback.
          </br>
          <input type="text" name="email" id="email" placeholder="email@example.com">
        </div>
        <div class="form-field">
          <h4>Let us know what we can improve:</h4>
          <textarea id="otherText" name="otherText" rows="4" cols="50" placeholder="Please share details or suggestions for this topic."></textarea>
        </div>
      </div>
      <div class="form-field wrapper">
        <button type="submit" class="button">Submit</button>
      </div>
    </div>
  </div>
  <div class="modal-overlay" id="modal-overlay">
  </div>
</form>