<footer role="contentinfo" class="footer">
    <nav class="footer-nav">
        <div class="footer-links">
            <h6 class="footer-links-heading">RESOURCES</h6>
            <ul class="footer-links-list">
                <li class="footer-links-list-item"><a class="footer-links-list-item-detail" aria-label="Capabilities" target="_blank" href="https://redpanda.com/">Redpanda.com</a></li>
                <li class="footer-links-list-item"><a class="footer-links-list-item-detail" aria-label="Redpanda University" target="_blank" href="https://university.redpanda.com">Redpanda University</a></li>
                <li class="footer-links-list-item"><a class="footer-links-list-item-detail" aria-label="Kafka vs Redpanda" target="_blank" href="https://redpanda.com/blog/redpanda-vs-kafka-faster-safer">Kafka vs Redpanda</a></li>
                <li class="footer-links-list-item"><a class="footer-links-list-item-detail" aria-label="Jepsen report " target="_blank" href="https://redpanda.com/blog/redpanda-official-jepsen-report-and-analysis">Jepsen report </a></li>
                <li class="footer-links-list-item"><a class="footer-links-list-item-detail" aria-label="GitHub" href="https://github.com/redpanda-data">GitHub</a></li>
            </ul>
        </div>
        <div class="footer-links">
            <h6 class="footer-links-heading">COMPANY</h6>
            <ul class="footer-links-list">
                <li class="footer-links-list-item"><a class="footer-links-list-item-detail" aria-label="Contact" target="_blank" href="https://redpanda.com/contact">Contact</a></li>
                <li class="footer-links-list-item"><a class="footer-links-list-item-detail" aria-label="About us" target="_blank" href="https://redpanda.com/about-us">About us</a></li>
                <li class="footer-links-list-item"><a class="footer-links-list-item-detail" aria-label="Careers" target="_blank" href="https://redpanda.com/careers">Careers</a></li>
                <li class="footer-links-list-item"><a class="footer-links-list-item-detail" aria-label="Press" target="_blank" href="https://redpanda.com/press">Press</a></li>
                <li class="footer-links-list-item"><a class="footer-links-list-item-detail" aria-label="Scholarship" target="_blank" href="https://redpanda.com/scholarship">Scholarship</a></li>
            </ul>
        </div>
        <div class="footer-links">
            <h6 class="footer-links-heading">QUICK LINKS</h6>
            <ul class="footer-links-list">
                <li class="footer-links-list-item"><a class="footer-links-list-item-detail" aria-label="Pricing" target="_blank" href="https://redpanda.com/contact">Pricing</a></li>
                <li class="footer-links-list-item"><a class="footer-links-list-item-detail" aria-label="Blog" target="_blank" href="https://redpanda.com/blog">Blog</a></li>
                <li class="footer-links-list-item"><a class="footer-links-list-item-detail" aria-label="Support" target="_blank" href="https://support.redpanda.com">Support</a></li>
                <li class="footer-links-list-item"><a class="footer-links-list-item-detail" aria-label="Privacy policy" target="_blank" href="https://redpanda.com/legal/privacy-policy">Privacy policy</a></li>
                <li class="footer-links-list-item"><a class="footer-links-list-item-detail" aria-label="Terms of use" target="_blank" href="https://redpanda.com/terms-of-use">Terms of use</a></li>
            </ul>
        </div>
    </nav>
  <p class="footer-copyright">© {{year}} Redpanda Data Inc.</p>
</footer>
