<footer class="footer">
  <div class="padding-global">
    <div class="container-large">
      <div class="footer__wrap">
        <div class="footer__top">
          <a href="https://redpanda.com" target="_blank" class="footer__logo-link">
            <img src="{{{uiRootPath}}}/img/footer-logo.svg" loading="lazy" alt="Redpanda" height="40" class="footer__logo">
          </a>
          <div class="footer__columns">
            <div class="footer__column">
              <div class="footer__header">Product</div>
              <a href="https://redpanda.com/agentic-data-plane" target="_blank" class="footer__link">Agentic Data Plane</a>
              <a href="https://redpanda.com/data-streaming" target="_blank" class="footer__link">Data Streaming</a>
            </div>
            <div class="footer__column">
              <div class="footer__header">Learn</div>
              <a href="https://redpanda.com/resources" target="_blank" class="footer__link">Resources</a>
              <a href="https://redpanda.com/events" target="_blank" class="footer__link">Events</a>
              <a href="https://redpanda.com/events?tab=on-demand" target="_blank" class="footer__link">On-demand</a>
              <a href="https://redpanda.com/blog" target="_blank" class="footer__link">Blog</a>
              <a href="https://docs.redpanda.com/home/" class="footer__link">Docs</a>
            </div>
            <div class="footer__column">
              <div class="footer__header">Company</div>
              <a href="https://redpanda.com/about-us" target="_blank" class="footer__link">About us</a>
              <a href="https://redpanda.com/customers" target="_blank" class="footer__link">Customers</a>
              <a href="https://redpanda.com/press" target="_blank" class="footer__link">Press</a>
              <a href="https://redpanda.com/partners" target="_blank" class="footer__link">Partners</a>
              <a href="https://redpanda.com/careers" target="_blank" class="footer__link">Careers</a>
              <a href="https://redpanda.com/contact" target="_blank" class="footer__link">Contact</a>
              <a href="https://redpanda.com/legal/legal-hub" target="_blank" class="footer__link">Legal hub</a>
              <a href="https://trust.redpanda.com/" target="_blank" class="footer__link">Trust center</a>
            </div>
          </div>
        </div>
        <div class="line__grey"></div>
        <div class="footer__bottom">
          <div class="footer__socials">
            <a class="footer__social-link" href="https://twitter.com/redpandadata" aria-label="Redpanda on X" target="_blank" title="Redpanda on X">
              <svg width="24" height="24" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M15.2048 10.6575L23.9422 0.5H21.8708L14.2835 9.31956L8.22386 0.5H1.23511L10.3989 13.8359L1.23511 24.4883H3.3065L11.3182 15.1738L17.7182 24.4883H24.707L15.2028 10.6575H15.2048ZM12.3686 13.9533L11.4395 12.6252L4.05173 2.05892H7.23217L13.194 10.587L14.1231 11.9152L21.8728 22.9998H18.6923L12.3686 13.9553V13.9533Z" fill="currentColor"/>
              </svg>
            </a>
            <a class="footer__social-link" href="https://bsky.app/profile/redpanda.com" aria-label="Redpanda on BlueSky" target="_blank" title="Redpanda on BlueSky">
              <svg width="24" height="24" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M5.42878 3.16126C8.08862 5.1581 10.9496 9.20686 12 11.3797C13.0505 9.20702 15.9113 5.15806 18.5712 3.16126C20.4904 1.72042 23.6 0.605578 23.6 4.15306C23.6 4.86154 23.1938 10.1047 22.9555 10.9559C22.1274 13.9152 19.1098 14.67 16.4255 14.2132C21.1175 15.0117 22.3111 17.6569 19.7334 20.302C14.8378 25.3256 12.697 19.0415 12.1482 17.4313C12.0477 17.1362 12.0006 16.9981 11.9999 17.1155C11.9992 16.9981 11.9522 17.1362 11.8516 17.4313C11.303 19.0415 9.16228 25.3257 4.2664 20.302C1.68864 17.6569 2.8822 15.0116 7.57428 14.2132C4.88996 14.67 1.87228 13.9152 1.04428 10.9559C0.806033 10.1046 0.399841 4.86146 0.399841 4.15306C0.399841 0.605578 3.50952 1.72042 5.42864 3.16126H5.42878Z" fill="currentColor"/>
              </svg>
            </a>
            <a class="footer__social-link" href="https://www.linkedin.com/company/redpanda-data" aria-label="Redpanda Linkedin" target="_blank" title="Redpanda Linkedin">
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M22.2234 0H1.77187C0.792187 0 0 0.773438 0 1.72969V22.2656C0 23.2219 0.792187 24 1.77187 24H22.2234C23.2031 24 24 23.2219 24 22.2703V1.72969C24 0.773438 23.2031 0 22.2234 0ZM7.12031 20.4516H3.55781V8.99531H7.12031V20.4516ZM5.33906 7.43438C4.19531 7.43438 3.27188 6.51094 3.27188 5.37187C3.27188 4.23281 4.19531 3.30937 5.33906 3.30937C6.47813 3.30937 7.40156 4.23281 7.40156 5.37187C7.40156 6.50625 6.47813 7.43438 5.33906 7.43438ZM20.4516 20.4516H16.8937V14.8828C16.8937 13.5562 16.8703 11.8453 15.0422 11.8453C13.1906 11.8453 12.9094 13.2937 12.9094 14.7891V20.4516H9.35625V8.99531H12.7687V10.5609H12.8156C13.2891 9.66094 14.4516 8.70938 16.1813 8.70938C19.7859 8.70938 20.4516 11.0813 20.4516 14.1656V20.4516Z" fill="currentColor"/>
              </svg>
            </a>
            <a class="footer__social-link" href="https://redpanda.com/slack" aria-label="Redpanda Slack" target="_blank" title="Redpanda Slack">
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M19.8752 11.2499C20.9106 11.2499 21.75 10.4105 21.75 9.37508C21.75 8.33964 20.9105 7.50025 19.8751 7.50025C18.8395 7.50025 18 8.33971 18 9.37525V11.2499H19.8752ZM14.625 11.2499C15.6605 11.2499 16.5 10.4105 16.5 9.37492V4.12525C16.5 3.08971 15.6605 2.25024 14.625 2.25024C13.5895 2.25024 12.75 3.08971 12.75 4.12524V9.37492C12.75 10.4105 13.5895 11.2499 14.625 11.2499Z" fill="currentColor"/>
                <path d="M4.12484 12.7501C3.08939 12.7501 2.25 13.5895 2.25 14.6249C2.25 15.6604 3.08947 16.4998 4.12492 16.4998C5.16045 16.4998 6 15.6603 6 14.6248V12.7501H4.12484ZM9.375 12.7501C8.33947 12.7501 7.5 13.5895 7.5 14.6251V19.8748C7.5 20.9103 8.33947 21.7498 9.375 21.7498C10.4105 21.7498 11.25 20.9103 11.25 19.8748V14.6251C11.25 13.5895 10.4105 12.7501 9.375 12.7501Z" fill="currentColor"/>
                <path d="M12.7501 19.8752C12.7501 20.9106 13.5895 21.75 14.6249 21.75C15.6604 21.75 16.4998 20.9105 16.4998 19.8751C16.4998 18.8395 15.6603 18 14.6248 18L12.7501 18L12.7501 19.8752ZM12.7501 14.625C12.7501 15.6605 13.5895 16.5 14.6251 16.5L19.8748 16.5C20.9103 16.5 21.7498 15.6605 21.7498 14.625C21.7498 13.5895 20.9103 12.75 19.8748 12.75L14.6251 12.75C13.5895 12.75 12.7501 13.5895 12.7501 14.625Z" fill="currentColor"/>
                <path d="M11.2498 4.12484C11.2498 3.08939 10.4104 2.25 9.37496 2.25C8.33952 2.25 7.50012 3.08947 7.50012 4.12492C7.50012 5.16045 8.33959 6 9.37512 6L11.2498 6L11.2498 4.12484ZM11.2498 9.375C11.2498 8.33947 10.4103 7.5 9.3748 7.5L4.12512 7.5C3.08959 7.5 2.25012 8.33947 2.25012 9.375C2.25012 10.4105 3.08959 11.25 4.12512 11.25L9.3748 11.25C10.4103 11.25 11.2498 10.4105 11.2498 9.375Z" fill="currentColor"/>
              </svg>
            </a>
            <a class="footer__social-link" href="https://github.com/redpanda-data/redpanda" aria-label="Redpanda Github" target="_blank" title="Redpanda Github">
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M12 0C5.3724 0 0 5.3808 0 12.0204C0 17.3304 3.438 21.8364 8.2068 23.4252C8.8068 23.5356 9.0252 23.1648 9.0252 22.8456C9.0252 22.5612 9.0156 21.804 9.0096 20.802C5.6712 21.528 4.9668 19.1904 4.9668 19.1904C4.422 17.8008 3.6348 17.4312 3.6348 17.4312C2.5452 16.6872 3.7176 16.7016 3.7176 16.7016C4.9212 16.7856 5.5548 17.94 5.5548 17.94C6.6252 19.776 8.364 19.2456 9.0468 18.9384C9.1572 18.162 9.4668 17.6328 9.81 17.3328C7.146 17.0292 4.344 15.9972 4.344 11.3916C4.344 10.08 4.812 9.006 5.5788 8.166C5.4552 7.8624 5.0436 6.6396 5.6964 4.986C5.6964 4.986 6.7044 4.662 8.9964 6.2172C9.97532 5.95022 10.9853 5.81423 12 5.8128C13.02 5.8176 14.046 5.9508 15.0048 6.2172C17.2956 4.662 18.3012 4.9848 18.3012 4.9848C18.9564 6.6396 18.5436 7.8624 18.4212 8.166C19.1892 9.006 19.6548 10.08 19.6548 11.3916C19.6548 16.0092 16.848 17.0256 14.1756 17.3232C14.6064 17.694 14.9892 18.4272 14.9892 19.5492C14.9892 21.1548 14.9748 22.452 14.9748 22.8456C14.9748 23.1672 15.1908 23.5416 15.8004 23.424C18.19 22.6225 20.2672 21.0904 21.7386 19.0441C23.2099 16.9977 24.001 14.5408 24 12.0204C24 5.3808 18.6264 0 12 0Z" fill="currentColor"/>
              </svg>
            </a>
            <a class="footer__social-link" href="https://www.youtube.com/@RedpandaData" aria-label="Redpanda youtube" target="_blank" title="Redpanda youtube">
              <svg width="33" height="24" viewBox="0 0 33 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M32.3038 3.74694C32.116 3.02209 31.7483 2.3612 31.2374 1.83041C30.7266 1.29962 30.0905 0.917555 29.3929 0.722449C26.8237 2.18956e-07 16.5 0 16.5 0C16.5 0 6.17627 2.18956e-07 3.60712 0.722449C2.90949 0.917555 2.27342 1.29962 1.76256 1.83041C1.25171 2.3612 0.883986 3.02209 0.696206 3.74694C0.21649 6.46931 -0.0163041 9.23244 0.000886751 12C-0.0163041 14.7676 0.21649 17.5307 0.696206 20.2531C0.883986 20.9779 1.25171 21.6388 1.76256 22.1696C2.27342 22.7004 2.90949 23.0824 3.60712 23.2776C6.17627 24 16.5 24 16.5 24C16.5 24 26.8237 24 29.3929 23.2776C30.0905 23.0824 30.7266 22.7004 31.2374 22.1696C31.7483 21.6388 32.116 20.9779 32.3038 20.2531C32.7835 17.5307 33.0163 14.7676 32.9991 12C33.0163 9.23244 32.7835 6.46931 32.3038 3.74694V3.74694ZM13.2002 17.1429V6.85714L21.7679 12L13.2002 17.1429Z" fill="currentColor"/>
              </svg>
            </a>
          </div>
          <div class="footer__legal-container">
            <a href="https://redpanda.com/legal/privacy-policy" target="_blank" class="text-style-footer-legal">Privacy policy</a>
            <div class="text-style-footer-legal">© {{year}} Redpanda. All rights reserved.</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
