<footer role="contentinfo" class="footer">
    <div class="footer-container">
        <div class="footer-section">
            <nav class="footer-nav">
                <div class="footer-details">
                    <a aria-label="Redpanda logo link to home." href="/">
                        <img title="Redpanda Logo" src="https://images.ctfassets.net/paqvtpyf8rwu/5wODDUzLP7teOGDS7M5m39/466f646e44c2ccc4e78236b17d7d68ac/Logo.svg" alt="">
                    </a>
                    <p class="footer-description">The streaming data platform for developers</p>
                    <address class="footer-address">
                        <p>5758 Geary Blvd. #153</p>
                        <p>San Francisco, CA 94121</p>
                    </address>
                </div>
                <div class="footer-links">
                    <h6 class="footer-links-heading">WHAT IS REDPANDA?</h6>
                    <ul class="footer-links-list">
                        <li class="footer-links-list-item"><a class="" aria-label="Capabilities" target="_blank" href="https://redpanda.com/platform-capabilities">Capabilities</a></li>
                        <li class="footer-links-list-item"><a class="" aria-label="Redpanda University" target="_blank" href="https://university.redpanda.com">Redpanda University</a></li>
                        <li class="footer-links-list-item"><a class="" aria-label="Kafka vs Redpanda" target="_blank" href="https://redpanda.com/blog/redpanda-vs-kafka-faster-safer">Kafka vs Redpanda</a></li>
                        <li class="footer-links-list-item"><a class="" aria-label="Jepsen report " target="_blank" href="https://redpanda.com/blog/redpanda-official-jepsen-report-and-analysis">Jepsen report </a></li>
                        <li class="footer-links-list-item"><a class="" aria-label="Quick start guide" href="/current/get-started/quick-start">Quick start guide</a></li>
                    </ul>
                </div>
                <div class="footer-links">
                    <h6 class="footer-links-heading">COMPANY</h6>
                    <ul class="footer-links-list">
                        <li class="footer-links-list-item"><a class="" aria-label="Contact" target="_blank" href="https://redpanda.com/contact">Contact</a></li>
                        <li class="footer-links-list-item"><a class="" aria-label="About us" target="_blank" href="https://redpanda.com/about-us">About us</a></li>
                        <li class="footer-links-list-item"><a class="" aria-label="Careers" target="_blank" href="https://redpanda.com/careers">Careers</a></li>
                        <li class="footer-links-list-item"><a class="" aria-label="Press" target="_blank" href="https://redpanda.com/press">Press</a></li>
                        <li class="footer-links-list-item"><a class="" aria-label="Scholarship" target="_blank" href="https://redpanda.com/scholarship">Scholarship</a></li>
                    </ul>
                </div>
                <div class="footer-links">
                    <h6 class="footer-links-heading">QUICK LINKS</h6>
                    <ul class="footer-links-list">
                        <li class="footer-links-list-item"><a class="" aria-label="Pricing" target="_blank" href="https://redpanda.com/contact">Pricing</a></li>
                        <li class="footer-links-list-item"><a class="" aria-label="Docs" href="/home">Docs</a></li>
                        <li class="footer-links-list-item"><a class="" aria-label="Blog" target="_blank" href="https://redpanda.com/blog">Blog</a></li>
                        <li class="footer-links-list-item"><a class="" aria-label="Support" target="_blank" href="https://support.redpanda.com">Support</a></li>
                        <li class="footer-links-list-item"><a class="" aria-label="Privacy policy" target="_blank" href="https://redpanda.com/privacy-policy">Privacy policy</a></li>
                        <li class="footer-links-list-item"><a class="" aria-label="Terms of use" target="_blank" href="https://redpanda.com/terms-of-use">Terms of use</a></li>
                    </ul>
                </div>
            </nav>
        </div>
        <hr>
        <div class="footer-social">
            <p class="footer-copyright">© 2023 Redpanda Data Inc.</p>
            <p id="onetrust-pc-btn-handler" class="optanon-show-settings footer-cookie" data-clog-click="" data-clog-ui-component="inc_footer_nav" data-clog-ui-element="btn_cookie_manage_settings" data-qa="cookie_preferences" style="cursor:pointer">Cookie preferences</p>
            <ul class="footer-social-links">
                <li><a aria-label="Go to Redpanda Twitter page." target="_blank" class="footer-social-links-item" href="https://twitter.com/redpandadata"><img src="https://images.ctfassets.net/paqvtpyf8rwu/1TSXIx6EePYnJNQjS6k2ta/ad474fda84f4af4648471d58206009d5/twitter.svg" alt="Twitter Icon"></a></li>
                <li><a aria-label="Go to Redpanda Linked In page." target="_blank" class="footer-social-links-item" href="https://www.linkedin.com/company/redpanda-data"><img src="https://images.ctfassets.net/paqvtpyf8rwu/1Q1RlWMJP7kn8eeTjUPt4P/9aab3285bea11782df09be6b01767242/linked-in.svg" alt="Linked In Icon."></a></li>
                <li><a aria-label="Join Redpanda Slack!" target="_blank" class="footer-social-links-item" href="https://redpanda.com/slack"><img src="https://images.ctfassets.net/paqvtpyf8rwu/7Kfx6ylBvSRQ8TK3YLxXmQ/d1c196a9358aad2351f182ba60269826/slack.svg" alt="Slack Icon."></a></li>
                <li><a aria-label="Go to Redpanda's github page." target="_blank" class="footer-social-links-item" href="https://github.com/redpanda-data/redpanda"><img src="https://images.ctfassets.net/paqvtpyf8rwu/3KLpZD9famkILrAnVgxOCD/4de4a2caa3758225db35ba83a2111c77/github.svg" alt="Github icon."></a></li>
                <li><a aria-label="Go to Redpanda's Youtube page." target="_blank" class="footer-social-links-item" href="https://www.youtube.com/@RedpandaData"><img src="https://images.ctfassets.net/paqvtpyf8rwu/1eMP9vV0KADHEutUzo8vAT/5bd8a36ea2a298c86b78e72d7db0f432/youtube-icon.svg" alt=""></a></li>
            </ul>
        </div>
    </div>
</footer>
