<form data-netlify="true" id="notfound" name="notfoundForm" method="POST" netlify-honeypot="bot-field">
  <input class="hidden" type="hidden" name="form-name" value="notfoundForm" />
  <p class="hidden">
    <label>
      Beep-Boop. Bot-field <input name="bot-field" />
    </label>
  </p>
  <input type="hidden" id="url" class="hidden" name="url" />
  <input type="hidden" id="date" class="hidden" name="date" />
  <input type="hidden" id="user-agent" class="hidden" name="user-agent" />
  <button type="submit" id="submit-button" class="hidden"></button>
</form>

<script>
const handleSubmit = (e) => {
e.preventDefault();
const formData = new FormData(e.target)
formData.set('user-agent', window.navigator.userAgent)

const date = new Date();
if date.toString().includes("GMT+0000 (Coordinated Universal Time)"){
  return
}

fetch("{{page.url}}", {
  method: "POST",
  headers: { "Content-Type": "application/x-www-form-urlencoded" },
  body: new URLSearchParams(formData).toString(),
}).then(() => {
    console.log('Form submission success')
  })
  .catch(error => {
    console.error('Form submission error:', error)
  })
}
window.addEventListener("DOMContentLoaded", (event) => {
  const form = document.getElementById('notfound');
  form.addEventListener('submit', handleSubmit);
  document.getElementById('url').value = window.location.href;
  document.getElementById('date').value = new Date();
  document.getElementById('submit-button').click();
});
</script>
