<header class="header">
  <nav class="navbar">
    <div class="navbar-brand">
      <a class="navbar-item" href="{{{or site.url siteRootPath}}}" aria-label="Go to home page"><img src="{{{uiRootPath}}}/img/redpanda-docs-logo.svg" width="250px" height= "auto" alt="Redpanda logo"/></a>
      <button class="navbar-burger" data-target="topbar-nav" aria-label="Header navigation menu">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-end">
        <a target="_blank" class="navbar-item" href="https://redpanda.com/">Redpanda.com</a>
        <a target="_blank" class="navbar-item" href="https://redpanda.com/resources/">Resources</a>
        <a target="_blank" class="navbar-item" href="https://university.redpanda.com/">Training</a>
        <a target="_blank" class="navbar-item" href="https://redpanda.com/blog/">Blog</a>
        <a target="_blank" class="navbar-item" href="https://github.com/redpanda-data/redpanda/">GitHub</a>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">Contact</a>
          <div class="navbar-dropdown">
            <ul>
              <li><a target="_blank" href="https://redpanda.com/contact">Request demo</a></li>
              <li><a target="_blank" href="https://redpanda.com/slack">Join our Slack</a></li>
              <li><a target="_blank" href="https://support.redpanda.com/hc/en-us/">Support request</a></li>
            <ul>
          </div>
        </div>
      </div>
      <div class="theme-switcher">
        <button id="switch-theme" type="button" title="Switch between dark and light mode" aria-label="Switch between dark and light mode" aria-live="polite">
          <img class="theme-image" src="{{{uiRootPath}}}/img/octicons-24.svg#view-sun" alt=""></img>
        </button>
      </div>
    </div>
  </nav>
</header>
