<header class="header">
  <nav class="navbar">
    <div class="navbar-brand">
      <a class="navbar-item" href="{{{or site.url siteRootPath}}}"><img src="{{{uiRootPath}}}/img/redpanda-docs-logo.svg"/></a>
      <button class="navbar-burger" data-target="topbar-nav">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-end">
        <a class="navbar-item" href="https://redpanda.com/">Redpanda.com</a>
        <a class="navbar-item" href="https://redpanda.com/resources/">Resources</a>
        <a class="navbar-item" href="https://university.redpanda.com/">Training</a>
        <a class="navbar-item" href="https://redpanda.com/blog/">Blog</a>
        <a class="navbar-item" href="https://support.redpanda.com/hc/en-us/">Helpdesk</a>
        <a class="navbar-item" href="https://rpnda.co/slack">Community</a>
        <a class="navbar-item" href="https://github.com/redpanda-data/redpanda/">GitHub</a>
        <!--<div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">Products</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="#">Product A</a>
            <a class="navbar-item" href="#">Product B</a>
            <a class="navbar-item" href="#">Product C</a>
          </div>
        </div>-->
      </div>
      <div class="theme-switcher">
        <button id="switch-theme" type="button" title="Switch between dark and light mode" aria-label="Switch between dark and light mode" aria-live="polite">
          <img class="theme-image" src="{{{uiRootPath}}}/img/octicons-24.svg#view-sun"></img>
        </button>
      </div>
    </div>
  </nav>
</header>
