<ul class="index">
  {{#each page.breadcrumbs}}
    {{#if (and (eq this.url @root.page.url) (ne this.items.length 0))}}
      {{#each this.items}}
        {{#with (get-page-info this.url)}}
          <li class="index"><a href="{{{relativize this.url}}}">{{{this.title}}}</a>
          <p class="index">{{{this.description}}}</p>
          </li>
        {{/with}}
      {{/each}}
    {{/if}}
  {{/each}}
  </ul>