<div class="doc banner-container" id="latest-banner">
  <div>
    This is documentation for {{page.component.title}} <b>{{page.version}}</b>.
  </div>
  <div>
    For up-to-date documentation, see the <a href="{{#with (latest-page-url)}}{{relativize this}}{{/with}}">latest version</a> ({{page.component.latest.version}}).
  </div>
</div>
