<main class="article">
{{> toolbar}}
  <div class="content">
    {{#if (eq page.layout '404')}}
    {{> article-404}}
    {{else if (eq page.layout 'home')}}
    {{> article}}
    {{else}}
    {{> toc}}
    {{> article}}
    {{/if}}
  </div>
</main>
