{{#if (ne page.layout '404') }}
{{> feedback-forms}}
{{/if}}
<div class="nav-container"{{#if page.component}} data-component="{{page.component.name}}" data-version="{{page.version}}"{{/if}}>
  <aside class="nav">
    <div class="top-panel">
    {{#if (and (ne page.layout 'search') (ne page.layout 'labs-search'))}}
      <div class="search hide-for-print">
        <div class="autocomplete" id="autocomplete"></div>
        <div id="custom-kapa-widget-container" style="display:flex;align-items:center;">
          <button class="custom-class-kapa" type="button" data-button="true" style="padding: 2px 4px;background-color: rgb(225, 66, 37);box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 10px;border-radius: 5px;border: none;color:white;"><div><span><div style="display:flex;flex-direction:row;"><div style="width: 1.6rem;"><figure style="margin:0;height:1.5rem;width:1.5rem;"><div><img src="https://avatars.githubusercontent.com/u/49406389?s=200&amp;v=4" alt="Project Logo" style="object-fit: cover; width: 1.5rem; height: 1.5rem; border-radius:5px;"></div></figure></div><div style="text-shadow: rgba(0, 0, 0, 0.2) 1px 1px 2px;line-height:1.5rem;">Ask AI</div></div></span></div></button>
        </div>
      </div>
    {{/if}}
    {{> nav-explore}}
    </div>
    <div class="panels">
{{> nav-menu}}
    </div>
  </aside>
</div>
