{{#if (ne page.layout '404') }}
{{> feedback-forms}}
{{/if}}
<div class="nav-container"{{#if page.component}} data-component="{{page.component.name}}" data-version="{{page.version}}"{{/if}}>
  <aside class="nav">
    <div class="top-panel">
    {{#if (ne page.layout 'search')}}
      <div class="search hide-for-print">
        <div id="autocomplete"></div>
        <div class="filter-options">
          <label>
            <input type="checkbox" class="filter-checkbox" data-filter-name="blogs">
            Include blog posts
          </label>
          <label>
            <input type="checkbox" class="filter-checkbox" data-filter-name="videos">
            Include YouTube videos
          </label>
        </div>
      </div>
    {{/if}}
    {{> nav-explore}}
    </div>
    <div class="panels">
{{> nav-menu}}
    </div>
  </aside>
</div>
