{{#if page.version }}
{{> feedback-forms}}
{{/if}}
<div class="nav-container"{{#if page.component}} data-component="{{page.component.name}}" data-version="{{page.version}}"{{/if}}>
  <aside class="nav">
    <div class="top-panel">
    {{#if (ne page.layout 'search')}}
      <div class="search hide-for-print">
        <div id="search-field" class="field">
          <input id="search-input" type="text" placeholder="Search the docs"{{#if page.home}} autofocus{{/if}}>
        </div>
      </div>
    {{/if}}
    {{> nav-explore}}
    </div>
    <div class="panels">
{{> nav-menu}}
    </div>
  </aside>
</div>
