<div class="redpanda-connect-body">
    <header class="redpanda-connect-header">
        <div class="container">
          <a class="redpanda-connect-header-link" href="https://docs.redpanda.com/redpanda-connect/about/">
            <div class="row top-header">
              <div class="col col--5 col--offset-1 redpanda-connect-header-content">
                <h1 class="redpanda-connect-h1">Redpanda Connect</h1>
                <p class="redpanda-connect-tagline">Powerful stream processing made operationally mundane</p>
                <button class="redpanda-connect-cta-button" href="https://docs.redpanda.com/redpanda-connect/about/">Get started</button>
              </div>
              <div class="col col--5">
                <img src="{{{uiRootPath}}}/img/redpanda-connect-blog.png" alt="Redpanda Connect" class="redpanda-connect-header-image">
              </div>
            </div>
          </a>
        </div>
    </header>
    <div class="redpanda-connect-main">
        <section class="redpanda-connect-features-grid">
          <div class="redpanda-connect-feature">
            <h3 class="redpanda-connect-feature-title">What is Redpanda Connect?</h3>
            <p class="redpanda-connect-feature-description">A high-performance and resilient stream processor, Redpanda Connect offers seamless integration with a wide range of popular data sources and sinks, along with simple installation, configuration, and deployment.</p>
            <div class="redpanda-connect-video-container">
            <iframe src="https://www.youtube.com/embed/DYEphcjofgE" frameborder="0" allowfullscreen></iframe>
          </div>
          </div>

        <div class="redpanda-connect-feature">
         <h3 class="redpanda-connect-feature-title">Easy to install, configure, and run</h3>  
        <p class="redpanda-connect-feature-description">Install Redpanda Connect using the rpk command-line tool (CLI), and configure and run your first data pipeline in minutes.</p>
            <div class="redpanda-connect-tabs">
                <button class="redpanda-connect-tab-button active">Linux</button>
                <button class="redpanda-connect-tab-button">Homebrew</button>
                <button class="redpanda-connect-tab-button">Docker</button>
            </div>
            <div class="redpanda-connect-code-snippet">
              <div id="Linux">
                <pre><code>
# Install
curl -Lsf https://www.benthos.dev/sh/install | bash

# Make a configuration
benthos create nats/protobuf/aws_sqs > ./config.yaml

# Run your configuration
benthos -c ./config.yaml
                </code></pre>
                </div>
                <!---<div id="Homebrew">
                <pre><code>
# Install
curl -Lsf https://www.benthos.dev/sh/install | bash

# Make a configuration
benthos create nats/protobuf/aws_sqs > ./config.yaml

# Run your configuration
benthos -c ./config.yaml
                </code></pre>
                </div>--->
            </div>
               <button class="redpanda-connect-cta-button" href="https://docs.redpanda.com/redpanda-connect/about/">Learn more</button>
          </div>
          <div class="redpanda-connect-feature">
            <h3 class="redpanda-connect-feature-title">Simple to manage</h3>
            <p class="redpanda-connect-feature-description">Update your data pipeline with new features, such as data integrations, transforms, and multiplexing whenever you need to. Redpanda Connect uses declarative configuration in a single YAML file so that you can unit test and deploy changes quickly and easily. </p>
            <div class="redpanda-connect-config-example">
                <div class="redpanda-connect-tabs">
                    <button class="redpanda-connect-tab-button active">Mapping</button>
                    <button class="redpanda-connect-tab-button">Multiplexing</button>
                    <button class="redpanda-connect-tab-button">Windowing</button>
                    <button class="redpanda-connect-tab-button">Enrichments</button>
                </div>
                <div class="redpanda-connect-code-snippet">
                <pre><code>
input:
  gcp_pubsub:
    project: foo
    subscription: bar

pipeline:
  processors:
    - mapping: |
        root.message = this
        root.meta.link_count = this.links.length()
        root.user.age = this.user.age.number()

output:
  redis_streams:
    url: tcp://TODO:6379
    stream: bar
    max_in_flight: 20
                </code></pre>
                
            </div>
            <button class="redpanda-connect-cta-button" href="https://docs.redpanda.com/redpanda-connect/about/">Get started</button>
            </div>
            </div> 
          <div class="redpanda-connect-feature">
            <h3 class="redpanda-connect-feature-title">Integrates with your existing infrastructure</h3>
            <p class="redpanda-connect-feature-description">Drop Redpanda Connect seamlessly into your existing infrastructure. Redpanda Connect integrates with a wide range of sources and sinks, and connects to databases, caches, HTTP APIs, Lambdas, and more.</p>
                <img src="{{{uiRootPath}}}/img/redpanda-connect-blog.png" alt="Redpanda Connect" class="redpanda-connect-header-image">
          </div>
          <div class="redpanda-connect-feature">
                <h3 class="redpanda-connect-feature-title" >Crash resilient delivery guarantees</h3>
            <p class="redpanda-connect-feature-description">Delivery guarantees can be complex. Redpanda Connect processes and acknowledges messages using an in-process transaction model with no need for a disk-persisted state. When it connects to at-least-once sources and sinks, Redpanda Connect guarantees at-least-once delivery, even in the event of crashes, disk corruption, or other server faults.</p>
            <p class="redpanda-connect-feature-description">This default behavior, simplifies the deployment and scaling of Redpanda Connect. It also offers observability by exposing metrics and tracing events to targets of your choice.</p>
          </div>
          </div>
        </section>
    </div>
</div>
