{{#with (get-related-labs page.attributes) as |relatedLabs| }}
  {{#if relatedLabs.length}}
  <div class="badge-container">
    <div class="dropdown">
      <div class="badge-button">
          Redpanda Labs
        <div class="terminal-icon"></div>
      </div>
      <ul>
        {{#each relatedLabs}}
          <li>
            <a href="{{this.url}}">{{this.title}}</a>
          </li>
        {{/each}}
      </ul>
    </div>
  </div>
  {{/if}}
{{/with}}