<div class="thumbs" {{#if id}}id="{{id}}"{{/if}}>
  <div>Was this helpful?</div>
  <div>
    <button aria-label="Give positive feedback" class="thumb" id="up{{#if id}}-{{id}}{{/if}}">
      <span class="material-symbols-outlined" aria-hidden="true">thumb_up</span>
    </button>
    <button aria-label="Give negative feedback" class="thumb" id="down{{#if id}}-{{id}}{{/if}}">
      <span class="material-symbols-outlined" aria-hidden="true">thumb_down</span>
    </button>
  </div>
</div>

<script>
document.addEventListener('scroll', function(e){
  let documentHeight = document.body.scrollHeight;
  let currentScroll = window.scrollY + window.innerHeight;
  // Wait until the user is [modifier]px from the bottom.
  let modifier = 700;
  const feedback = document.getElementById('thumbs-toc');
  if (!feedback) return
  if(currentScroll + modifier > documentHeight) {
      feedback.style.display = 'none';
  } else {
    feedback.style.display = 'block';
  }
})
</script>