<form class="hidden" data-netlify="true" name="feedbackForm" method="POST" netlify-honeypot="bot-field">
  <div>
    <div class="modalContent_fq6z">
      <div>
        <div class="modalHeader_DWzG">
          <h4>What do you like about this doc?</h4>
        </div>
        <div class="modalBody_t4_w">
          <div class="radioButtons_h99H">
            <input type="hidden" name="form-name" value="feedbackForm">
            <p class="hide_dYu6">
              <label class="hide_dYu6">Beep-Boop. Bot-field <input name="bot-field"></label>
            </p>
            <input class="hide_dYu6" name="version">
            <input class="hide_dYu6" name="url">
            <input class="hide_dYu6" name="positiveFeedback">
            <input class="hide_dYu6" name="beta">
            <input class="hide_dYu6" name="date">
            <input class="hide_dYu6" name="navigator">
            <label>
              <input type="radio" name="feedback" id="solvedProblem" value="Solved my problem" checked="">
              <span class="labelMargin_CGI1">Solved my problem</span>
            </label>
            <br>
            <label>
              <input type="radio" name="feedback" id="easyToUnderstand" value="Easy to understand">
              <span class="labelMargin_CGI1">Easy to understand</span>
            </label>
            <br>
            <label>
              <input type="radio" name="feedback" id="other" value="other">
              <span class="labelMargin_CGI1">Other</span>
            </label>
          </div>
          <div class="boxSizing_G558">Optional: Share your email address if we can contact you about your feedback.</div>
          <input type="text" name="email" id="email" placeholder="email@example.com" class="moreQuestions_e2zn">
          <br>
          <div>
            <div class="hide_dYu6">Let us know what we do well:</div>
            <textarea class="hide_dYu6" id="otherText" name="otherText" rows="4" cols="50" placeholder="Please share details or suggestions for this topic."></textarea>
          </div>
        </div>
        <div class="modalFooter_AM24">
          <button type="submit" class="button submitButton_Md_T">Submit</button>
        </div>
      </div>
    </div>
  </div>
</form>
<div class="thumbs" {{#if id}}id="{{id}}"{{/if}}>
  <div>Was this helpful?</div>
  <div>
    <button class="thumb">
      <span class="material-icons MuiIcon-root" aria-hidden="true">thumb_up</span>
    </button>
    <button class="thumb">
      <span class="material-icons MuiIcon-root" aria-hidden="true">thumb_down</span>
    </button>
  </div>
</div>
<script>
document.addEventListener('scroll', function(e){
  let documentHeight = document.body.scrollHeight;
  let currentScroll = window.scrollY + window.innerHeight;
  // Wait until the user is [modifier]px from the bottom.
  let modifier = 200; 
  const feedback = document.getElementById('thumbs-toc');
  if (!feedback) return
  if(currentScroll + modifier > documentHeight) {
      feedback.style.display = 'none';
  } else {
    feedback.style.display = 'block';
  }
})
</script>