{{#if (ne page.attributes.role 'two-column')}}
<aside class="toc sidebar" data-title="{{{page.attributes.toctitle}}}" data-levels="{{{or page.attributes.toclevels 2}}}">
  <div class="toc-menu"></div>
  {{> thumbs id='thumbs-toc'}}
</aside>
{{/if}}