.announcement-email {
  background-color: var(--redpanda-900);
  color: white;
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 1.1em;
  overflow: hidden;
  padding: 15px;
  transition: opacity 0.4s ease-in-out;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
  opacity: 0;
  max-height: 8rem;
}

.announcement-email .emailInput {
  margin-left: 10vw;
  padding: 10px;
  border: none;
  outline: none;
  flex: 1;
  border-right: 1px solid #ccc;
  border-bottom-left-radius: 20px !important;
  border-top-left-radius: 20px !important;
}

.submit-announcement-button-email {
  border: none;
  background-color: black;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  font-weight: bold;
  font-size: 0.9em;
  padding: 8px 20px 9px 10px;
  box-sizing: border-box;
}

.submit-announcement-button-email:hover {
  background-color: var(--redpanda-1000);
}

::-webkit-input-placeholder {
  padding-left: 20px;
}

:-moz-placeholder {
  padding-left: 20px;
}

.input-container {
  align-items: center;
}

.show-announcement-email-footer {
  opacity: 1;
}

.close-announcement-email-footer {
  border: 0;
  background: transparent;
  position: absolute;
  top: 10px;
  right: 10px;
  color: white;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  cursor: pointer;
  line-height: 24px;
  text-align: center;
}

.close-announcement-email-footer:focus {
  outline: none;
}

.hidden-announcement-email-footer {
  opacity: 0;
  pointer-events: none; /* This ensures the user can't interact with the faded-out footer */
}

.successful-sent-email {
  display: none;
  padding: 10px;
}

@media screen and (max-width: 1023px) {
  .emailInput {
    margin-top: 1rem;
    max-width: 45vw;
  }
}

@media screen and (min-width: 1024px) {
  .input-container {
    display: flex;
  }
}
