.api-feedback-section {
  padding: 0 15px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  color: var(--link-font-color);
  gap: 10px;
}

.api-feedback-section .material-icons {
  vertical-align: middle;
}

.api-feedback-section a {
  text-decoration: none;
}

.api-feedback-section a:hover {
  cursor: pointer;
}

.api-feedback-section .col {
  gap: 8px;
  margin-top: 20px;
}

@media screen and (min-width: 1024px) {
  .api-feedback-section {
    align-items: flex-start;
    flex-direction: row;
  }
}
