/* Base badge style */
.badge {
  font-weight: 600;
  border-radius: 10px;
  padding: 3px;
  cursor: help;
}

.badge--large {
  padding: 2px 6px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 100px;
}

/* Default fallback */
.badge--label {
  background-color: #e0e0e0;
  color: #1f1f1f;
}

/* Beta */
.badge--beta {
  color: var(--beta-label-background);
  font-weight: bold;
  background-color: var(--link-highlight-background-color);
}

.badge--large.badge--beta {
  background-color: var(--beta-label-background);
  color: var(--beta-label-color);
}
