.banner-container {
  background-color: var(--important-background);
  border-left-width: var(--admonition-border-left-width);
  border-radius: var(--admonition-border-radius);
  box-shadow: var(--admonition-border-box-shadow);
  padding: var(--admonition-padding);
  margin-top: 0;
  margin-bottom: 10px;
}
