body {
  position: relative;
  min-height: 100vh;
}

.hidden {
  display: none !important;
}

/* Main body container layout */
.body {
  display: block;
}

@media screen and (min-width: 1024px) {
  .body {
    display: block;
    margin-left: var(--sidebar-width, 260px);
  }
}
