.breadcrumbs {
  flex: 1 1;
  padding: 0 0.5rem 0 0.75rem;
  line-height: var(--nav-line-height);
}

a + .breadcrumbs {
  padding-left: 0.05rem;
}

.breadcrumbs ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0.9rem;
}

.breadcrumbs li {
  display: inline;
  margin: 0;
  min-height: 30px;
}

.breadcrumbs li::after {
  content: "";
  display: inline-block;
  background: url(../img/breadcrumb-chevron.svg) no-repeat center right / auto 100%;
  width: 1.25em;
  margin-right: 10px;
  height: 0.75em;
}

.breadcrumbs li:last-of-type::after {
  content: none;
}

.breadcrumbs li a {
  padding: 7px;
}

.breadcrumbs li:hover a,
.breadcrumbs li:last-child a {
  color: var(--link-highlight-color);
  border-radius: 10px;
  border: 1px solid var(--highlight-border);
  text-decoration: none;
}
