.context-switcher {
  display: flex;
  margin-bottom: 15px;
  gap: 10px;
}

.context-switcher button {
  background-color: inherit;
  color: inherit;
  border: none;
}

.context-switcher .context-link {
  flex: 0 1 auto;
  width: 100px;
  border: 1px solid grey;
  border-width: 1px;
  border-radius: 5px;
  text-align: center;
  border-color: rgb(208 213 221/1);
  background-color: #fff;
  color: rgb(102 112 133/1);
}

.context-switcher .context-link.active {
  font-weight: bold;
  border: none;
  background-color: rgb(226 64 27/1);
  color: rgb(255 255 255/1) !important;
}
