.context-switcher,
.beta-label {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 15px;
  margin-top: 15px;
  gap: 10px;
  font-size: var(--secondary-font-size);
}

.beta-label {
  margin: 0;
}

.beta-label > p:hover {
  cursor: pointer;
}

.context-switcher button {
  background: none;
  color: inherit;
  border: none;
}

.context-switcher .context-link,
.beta-label > p {
  flex: 0 1 auto;
  border-radius: 10px;
  text-align: center;
  border: 1px solid var(--highlight-border);
  background-color: inherit;
  color: rgb(102 112 133/1);
}

.context-switcher .context-link.active {
  color: var(--link-highlight-color);
  font-weight: 500;
}

.beta-label > p {
  color: var(--link-highlight-color);
  padding: 3px;
}
