html[data-theme=dark] {
  /* base */
  --body-background: var(--slate-900);
  --banner-background: #54478c;
  --home-background: var(--body-background);
  --panel-background: #ffffff12;
  --panel-border-color: var(--color-white);
  --scrollbar-track-color: var(--color-white);
  --scrollbar-thumb-color: var(--color-gray-10);
  --scrollbar_hover-thumb-color: var(--color-gray-30);
  --body-font-color: var(--color-white);
  --button-font-color: #181818;
  --alt-heading-font-weight: bold;
  --sticky-table-header-background: #545454;
  --tooltip-background: white;
  --tooltip-font-color: #181818;
  --feature-background-color: var(--body-background);
  /* search */
  --search-hits-boxshadow: 0 0 0 1px rgba(255, 255, 255, 0.05), 0 1px 3px 0 rgba(255, 255, 255, 0.15);
  --search-detached-mode-background: #0a0908;
  --search-icon-color: unset;
  /* navbar */
  --navbar-background: var(--body-background);
  --navbar-font-color: var(--body-font-color);
  --navbar_hover-background: none;
  --navbar-button-background: var(--body-background);
  --navbar-button-border-color: var(--panel-border-color);
  --navbar-button-font-color: var(--body-font-color);
  --navbar-menu-border-color: var(--panel-border-color);
  --navbar-menu-background: var(--body-background);
  --navbar-menu-font-color: var(--body-font-color);
  --navbar-menu_hover-background: none;
  --navbar-boxshadow: 1px 3px 5px rgba(16, 16, 16, 0.5);
  --navbar-dropdown-boxshadow: 0 4px 10px #f2f2f2;
  --navbar-dropdown-background-hover-color: #ffffff0d;
  /* nav */
  --nav-background: var(--body-background);
  --nav-border-color: rgba(0, 0, 0, 0.2);
  --nav-heading-font-color: var(--color-jet-30);
  --nav-muted-color: var(--body-font-color);
  --nav-panel-divider-color: var(--color-smoke-90);
  --nav-secondary-background: var(--color-smoke-70);
  --nav-toggle-filter: invert(100%) sepia(94%) saturate(17%) hue-rotate(223deg) brightness(104%) contrast(98%);
  /* toolbar */
  --toolbar-background: var(--body-background);
  --toolbar-border-color: var(--panel-border-color);
  --toolbar-font-color: var(--body-font-color);
  --toolbar-muted-color: var(--color-gray-40);
  --page-version-menu-background: #545454;
  --page-version-font-color: var(--body-font-color);
  --page-version-missing-font-color: var(--color-gray-40);
  /* feedback */
  --feedback-modal-background: var(--body-background);
  /* admonitions */
  --important-background: rgba(68, 76, 231, 0.2);
  --important-on-color: var(--body-font-color);
  --important-icon: url(../img/info-white.svg) no-repeat center right / auto 100%;
  --warning-background: rgba(205, 55, 44, 0.2);
  --warning-on-color: var(--body-font-color);
  --warning-icon: url(../img/report-white.svg) no-repeat center right / auto 100%;
  --note-background: rgba(69, 173, 232, 0.2);
  --note-on-color: var(--body-font-color);
  --note-icon: url(../img/info-white.svg) no-repeat center right / auto 100%;
  --tip-background: rgba(56, 161, 105, 0.2);
  --tip-on-color: var(--body-font-color);
  --tip-icon: url(../img/check-circle-white.svg) no-repeat center right / auto 100%;
  --caution-background: rgba(249, 161, 101, 0.2);
  --caution-on-color: var(--body-font-color);
  --caution-icon: url(../img/warning-white.svg) no-repeat center right / auto 100%;
  /* doc */
  --doc-font-color: var(--body-font-color);
  --heading-font-color: var(--body-font-color);
  --section-divider-color: var(--panel-border-color);
  --link-font-color: #f15d61;
  --accordian-background: var(--link-highlight-background-color);
  --link-highlight-color: #9184f1;
  --highlight-border: rgba(145, 132, 241, 0.48);
  --link-highlight-background-color: rgba(145, 132, 241, 0.16);
  --link_hover-font-color: #2c30a0;
  --external-link-filter: invert(100%) sepia(5%) saturate(1016%) hue-rotate(181deg) brightness(100%) contrast(106%);
  --link_unresolved-font-color: var(--redpanda-800);
  --abstract-background: var(--color-smoke-70);
  --abstract-font-color: var(--color-jet-20);
  --abstract-border-color: var(--panel-border-color);
  --admonition-background: var(--panel-background);
  --admonition-label-font-family: var(--body-font-family-bold);
  --caption-font-color: var(--body-font-color);
  --caption-background-color: #ffffff0d;
  --caption-font-style: normal;
  --caption-font-family: var(--body-font-family-bold);
  --code-background: rgba(177, 209, 241, 0.15);
  --code-font-color: #eceff1;
  --tabs_hover-background: var(--caption-background-color);
  --editable-code-font-color: var(--link-font-color);
  --editable-background: #323440;
  --example-background: var(--body-background);
  --example-border-color: var(--color-gray-70);
  --kbd-background: var(--panel-background);
  --kbd-border-color: var(--color-gray-10);
  --pre-background: var(--slate-900);
  --pre-border-color: var(--panel-border-color);
  --pre-annotation-font-color: var(--color-gray-50);
  --quote-background: var(--panel-background);
  --quote-border-color: var(--color-gray-70);
  --quote-font-color: var(--color-gray-70);
  --quote-attribution-font-color: var(--color-gray-40);
  --sidebar-background: var(--code-background);
  --table-border-color: var(--panel-border-color);
  --table-stripe-background: var(--panel-background);
  --table-footer-background: linear-gradient(to bottom, var(--color-smoke-70) 0%, var(--body-background) 100%);
  /* toc */
  --toc-font-color: var(--doc-font-color);
  --toc-heading-font-color: var(--doc-font-color);
  --toc-border-color: var(--panel-border-color);
  /* footer */
  --footer-line-height: var(--doc-line-height);
  --footer-background: var(--light-dark);
  --footer-font-color: var(--color-gray-70);
  --footer-link-font-color: var(--color-jet-80);
  /* home */
  --svg-dark-mode-filter: invert(100%) sepia(5%) saturate(100%) hue-rotate(181deg) brightness(100%) contrast(106%);
  --highlight-container-background: #262626;
  --color-aliases-static-palette-text-secondary: var(--color-primitives-global-grey-grey-200);
}
