span.editable {
  font-weight: 450;
  color: var(--editable-code-font-color);
  padding: 0 3px;
  border: 0.1rem solid rgba(0, 0, 0, 0.10196078431372549);
  border-radius: 0.25rem;
  margin-left: 1px;
  margin-right: 1px;
  background: var(--editable-background);
  border-bottom: 2px dashed;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

span.editable:hover {
  cursor: pointer;
}

span.cursor {
  font-weight: 450;
  color: var(--editable-code-font-color);
  left: -9px;
  position: relative;
  display: inline-block;
  font-size: 1.1em;
  width: 0;
}

span.cursor::after,
span.cursor > span::after {
  content: "|";
  display: inline-block;
  animation: cursor-blink 1.1s infinite;
  font-weight: 100;
  color: var(--editable-code-font-color);
}

@keyframes cursor-blink {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
