span.editable {
  color: var(--editable-code-font-color);
  font-weight: bolder;
  padding: 0 3px;
  border: 0.1rem solid rgba(0, 0, 0, 0.10196078431372549);
  border-radius: 0.25rem;
  margin-left: 1px;
  margin-right: 1px;
  background: var(--editable-background);
  border-bottom: 2px dashed;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  position: relative;
  z-index: 1;
}

/* stylelint-disable font-family-no-missing-generic-family-keyword */
span.editable::after {
  content: "\f040";
  font-family: 'FontAwesome';
  margin-left: 5px;
}
/* stylelint-enable font-family-no-missing-generic-family-keyword */

span.editable span.token {
  position: relative;
  z-index: 1;
  color: var(--editable-code-font-color) !important;
  font-weight: 450;
  border: none;
  padding: 0;
  margin: 0;
}

.doc pre > code[class*=language-] span.editable span.token {
  color: var(--editable-code-font-color) !important;
}

span.editable:hover,
span.editable > *:hover {
  cursor: pointer;
}
