.imageblock {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imageblock .content {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.imageblock .content img,
.imageblock .content svg {
  max-width: 100%;
  max-height: 100%;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
}

/* Underline clickable spans of SVG images */
svg .node.clickable span {
  text-decoration: underline !important;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  display: none; /* Shown when active */
  align-items: center;
  justify-content: center;
  overflow: auto;  /* Allows scrolling if content is too tall */
  padding: 1rem;
  z-index: 9999;
}

.modal-overlay.active {
  display: flex;
  flex-direction: column;
}

.modal-scroll-container {
  max-width: 90vw;
  max-height: 90vh;
}

.modal-scroll-container img,
.modal-scroll-container svg {
  width: 100%;
  height: auto;
  object-fit: contain;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

.modal-scroll-container svg {
  width: 90vw;
  object-fit: unset;
  font-size: smaller !important;
}

.modal-close {
  position: sticky;
  top: 1rem;
  right: 1rem;
  background: transparent;
  border: none;
  font-size: 2rem;
  color: #fff;
  cursor: pointer;
  z-index: 10000;
}

@media (prefers-reduced-motion: reduce) {
  .imageblock .content img,
  .imageblock .content svg {
    -webkit-transition: none;
    transition: none;
  }
}
