.feedback-section {
  border-color: currentcolor #d0d7de #d0d7de;
  border-top: 1px solid #d0d7de;
  margin-top: 30px;
  padding-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  color: var(--link-font-color);
}

.feedback-section .material-icons {
  vertical-align: middle;
}

.feedback-section a {
  text-decoration: none;
}

.thumbs {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: inherit;
  color: var(--link-font-color);
  margin-top: 20px;
}

.thumb {
  color: var(--link-font-color);
  background: none;
  border: none;
}

.thumb:hover {
  color: var(--link_hover-font-color);
}

.feedback-section .col {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 20px;
}

@media screen and (min-width: 1024px) {
  .feedback-section {
    align-items: flex-start;
    flex-direction: row;
  }
}
