.feedback-modal {
  position: fixed;
  top: 33%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1010;
  width: 600px;
  max-width: 80vw;
  height: 400px;
  max-height: 100%;
  border-radius: 8px;
}

.feedback-modal .feedback-modal-body {
  background-color: var(--feedback-modal-background);
  border: 1px solid #888;
  flex-direction: column;
  display: flex;
  padding: 20px;
  overflow: auto;
  border-radius: 8px;
  max-height: 80vh;
}

.feedback-modal textarea {
  font-family: inherit;
  font-size: 0.9rem;
}

.modal-overlay {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.feedback-modal .feedback-modal h4 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.feedback-modal .radio-buttons.form-field {
  display: flex;
  flex-direction: column;
}

.feedback-modal .form-field {
  margin-bottom: 20px;
}

.feedback-modal .form-field.wrapper {
  margin: 0 auto;
  text-align: center;
}

.feedback-modal .radio-label {
  line-height: 40px;
}

button[type=submit]:not(.aa-SubmitButton),
button.close {
  border: 1px solid var(--highlight-border);
  margin-top: 10px;
  padding: 5px 20px;
  color: var(--body-font-color);
  border-radius: 8px;
}

button[type=submit]:not(.aa-SubmitButton):hover,
button.close:hover {
  background-color: var(--link-highlight-color);
  color: var(--button-font-color);
}

.feedback-modal input[type=radio]:checked {
  border: 2px solid var(--link-highlight-color);
  background-color: var(--link-highlight-color);
}

.feedback-modal input[type=radio] {
  -webkit-appearance: none;
  appearance: none;
  background-clip: content-box;
  background-color: #e7e6e7;
  border: 2px solid #bbb;
  border-radius: 50%;
  display: inline-block;
  height: 15px;
  padding: 2px;
  transform: scale(1.5);
  width: 15px;
}

.feedback-modal input[type=text],
.feedback-modal textarea {
  border: 1px solid #dadce0;
  border-radius: 8px;
  max-width: 400px;
  width: 80%;
  padding: 7px;
}
