footer.footer {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  margin-bottom: -50px;
  font-family: var(--body-font-family);
  margin-top: 250px;
  color: var(--body-faint-font-color);
  font-size: var(--secondary-font-size);
}

footer nav.footer-nav {
  display: flex;
  font-size: var(--secondary-font-size);
  width: 100%;
  padding-bottom: 30px;
  border-top: 1px solid #c6cecd;
  flex: 1 1 0%;
  flex-direction: row;
  justify-content: space-evenly;
  font-family: "Calibre Regular", sans-serif;
}

footer .footer-links {
  display: flex;
  flex-direction: column;
  line-height: 1.5rem;
  font-size: var(--secondary-font-size);
  margin: 0;
}

.footer-links-heading {
  display: inline;
  line-height: 1rem;
  letter-spacing: 0.2em;
  margin-bottom: 20px;
  font-weight: 300;
  color: var(--body-font-color);
  font-size: var(--secondary-font-size);
}

.footer-links-list {
  line-height: 1.5rem;
  color: var(--body-faint-font-color);
  display: flex;
  flex-direction: column;
  padding-left: 0;
  gap: 5px;
  margin: 0;
  font-size: var(--secondary-font-size);
}

.footer-links-list-item {
  list-style: none;
}

.footer-links-list-item-detail {
  max-height: 19px;
  color: var(--body-faint-font-color) !important;
  text-decoration: none;
}

@media (min-width: 1024px) {
  body.home footer nav.footer-nav {
    max-width: var(--doc-max-width);
  }

  footer .footer-links {
    margin-right: 1rem;
  }
}
