:root {
  --navbar-height: calc(70 / var(--rem-base) * 1rem);
  --announcement-bar-height: 0px;
  --announcement-bar-height--desktop: 0px;
  --navbar-background: #fff;
  --navbar-font-color: #a8b2c7;
  --navbar-button-background: #fff;
  --navbar-button-border-color: #e5e9f0;
  --navbar-button-font-color: #181818;
  --navbar-menu-border-color: #e5e9f0;
  --navbar-menu-background: #fff;
  --navbar-menu-font-color: #a8b2c7;
  --navbar_hover-background: #fff;
  --navbar-dropdown-boxshadow: 0 4px 10px #0003;
  --navbar-menu_hover-background: #f4f4f4;
  --navbar-dropdown-background-hover-color: #0000000d;
  --body-top: calc(var(--navbar-height) + var(--announcement-bar-height));
  --body-top--desktop: calc(var(--navbar-height) + var(--announcement-bar-height--desktop));
  --body-font-color: #181818;
  --secondary-font-size: calc(15.5 / 18 * 1rem);
  --doc-line-height: 1.6;
  --navbar-menu-background: #fff;
  --toolbar-muted-color: #696969;
  --transition-fast: 200ms;
  --transition-timing-default: cubic-bezier(0.08, 0.52, 0.52, 1);
  --link_hover-font-color: #2c30a0;
  --z-index-navbar: 5;
  --rem-base: 18;
  --body-font-family: "Inter", sans-serif;
  --text-color: rgb(24, 24, 24);
  --font-family: "Inter", sans-serif;
  --code-font-family: "IBM Plex Mono", "Courier Prime", courier, monospace;
  --body-line-height: 1.15;
}

html {
  font-size: calc(17.5 / var(--rem-base) * 1rem);
  --text-color: white;
}

html[data-theme=dark] .header {
  --body-font-color: white;
}

html[data-theme=dark] {
  --text-color: white;
}

.header {
  max-width: 100%;
  height: var(--navbar-height);
  font-family: var(--body-font-family);
}

.navbar {
  background: var(--navbar-background);
  max-height: var(--navbar-height);
  color: var(--navbar-font-color);
  font-size: var(--secondary-font-size);
  align-content: center;
  position: fixed;
  top: var(--announcement-bar-height);
  width: 100%;
  z-index: var(--z-index-navbar);
  flex-wrap: wrap;
  border: 0, 0, 1px, 0;
  box-shadow: 0 1px 2px -1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}

.navbar a {
  text-decoration: none;
}

.custom-class-kapa {
  cursor: pointer;
  font-family: inherit;
  font-size: 1rem;
  line-height: var(--body-line-height);
  padding-inline: 6px;
  margin: 0;
}

.navbar-menu {
  color: #a8b2c7;
  justify-content: flex-start;
}

.navbar-brand {
  display: flex;
}

.navbar-brand > a:hover {
  background: none;
}

.navbar-brand .navbar-item {
  color: var(--navbar-font-color);
  margin-left: 8px;
}

.navbar-brand .navbar-item:first-child {
  align-self: center;
  padding: 0;
  font-size: calc(22 / var(--rem-base) * 1rem);
  flex-wrap: wrap;
  line-height: 1;
}

.navbar-brand .navbar-item:first-child a {
  color: inherit;
  word-wrap: normal;
}

.navbar-brand .navbar-item:first-child :not(:last-child) {
  padding-right: 0.375rem;
}

.navbar-brand .navbar-item.search {
  flex: auto;
  justify-content: flex-end;
}

#search-input {
  color: #333;
  font-family: inherit;
  font-size: 0.95rem;
  width: 150px;
  border: 1px solid #dbdbdb;
  border-radius: 0.1em;
  line-height: 1.5;
  padding: 0 0.25em;
}

#search-input:disabled {
  background-color: #dbdbdb;
  /* disable cursor */
  cursor: not-allowed;
  pointer-events: all !important;
}

#search-input:disabled::placeholder {
  color: #4c4c4c;
}

#search-input:focus {
  outline: none;
}

.navbar-burger {
  background: none;
  border: none;
  outline: none;
  line-height: 1;
  position: relative;
  width: 3rem;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  min-width: 0;
}

.navbar-burger:hover {
  cursor: pointer;
}

.navbar-burger span {
  background-color: var(--navbar-font-color);
  height: 1.5px;
  width: 1rem;
}

.navbar-burger:not(.is-active) span {
  transition: transform ease-out 0.25s, opacity 0s 0.25s, margin-top ease-out 0.25s 0.25s;
}

.navbar-burger span + span {
  margin-top: 0.25rem;
}

.navbar-burger.is-active span + span {
  margin-top: -1.5px;
}

.navbar-burger.is-active span:nth-child(1) {
  transform: rotate(45deg);
}

.navbar-burger.is-active span:nth-child(2) {
  opacity: 0;
}

.navbar-burger.is-active span:nth-child(3) {
  transform: rotate(-45deg);
}

.navbar-item,
.navbar-link {
  color: var(--navbar-menu-font-color);
  display: block;
  line-height: var(--doc-line-height);
  padding: 6px 8px;
}

.home .navbar-item,
.home .navbar-link,
.api .navbar-item,
.api .navbar-link,
.status-404 .navbar-item,
.status-404 .navbar-link {
  color: #f5f5f5;
}

.navbar-item.is-current,
.navbar-item:hover,
.navbar-link:hover {
  background-color: rgba(255, 255, 255, 0.08);
  color: white;
  border-radius: 10px;
  padding: 6px 8px;
}

.navbar-item.has-dropdown {
  padding: 0;
}

.navbar-item .icon {
  width: 1.25rem;
  height: 1.25rem;
  display: block;
}

.navbar-item .icon img,
.navbar-item .icon svg {
  fill: currentColor;
  width: inherit;
  height: inherit;
}

.navbar-link {
  padding-right: 2.5em;
}

.navbar-dropdown .navbar-item {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.navbar-dropdown .navbar-item.has-label {
  display: flex;
  justify-content: space-between;
}

.navbar-dropdown .navbar-item small {
  color: var(--toolbar-muted-color);
  font-size: calc(12 / var(--rem-base) * 1rem);
}

.navbar-divider {
  background-color: var(--navbar-menu-border-color);
  border: none;
  height: 1px;
  margin: 0.25rem 0;
}

.navbar .button {
  display: inline-flex;
  align-items: center;
  background: var(--navbar-button-background);
  border: 1px solid var(--navbar-button-border-color);
  border-radius: 0.15rem;
  height: 1.75rem;
  color: var(--navbar-button-font-color);
  padding: 0 0.75em;
  white-space: nowrap;
}

.navbar-end {
  display: flex;
  flex: auto;
  gap: 10px;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-end;
}

@media screen and (max-width: 768.5px) {
  .navbar-brand .navbar-item.search {
    padding-left: 0;
    padding-right: 0;
  }
}

@media screen and (min-width: 769px) {
  #search-input {
    width: 200px;
  }
}

@media screen and (max-width: 1024px) {
  .navbar-brand {
    height: var(--navbar-height);
  }

  .header {
    margin-bottom: 0;
  }

  .navbar-brand .navbar-item {
    align-items: center;
    display: flex;
  }

  .navbar-menu {
    box-shadow: 0 8px 16px rgba(10, 10, 10, 0.1);
    max-height: var(--body-min-height);
    overflow-y: auto;
    overscroll-behavior: none;
    padding: 0.5rem 0;
  }

  .navbar-menu:not(.is-active) {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  .navbar-burger {
    display: none;
  }

  .navbar,
  .navbar-menu {
    display: flex;
    flex: auto;
    justify-content: flex-start;
    top: var(--announcement-bar-height--desktop);
  }

  .navbar-menu {
    gap: 16px;
  }

  .navbar {
    gap: 112px;
    padding: 16px;
  }

  .navbar-item,
  .navbar-link {
    display: flex;
    position: relative;
    flex: none;
  }

  .navbar-item:not(.has-dropdown),
  .navbar-link {
    align-items: center;
  }

  .navbar-item.is-hoverable:hover .navbar-dropdown {
    opacity: 1;
    pointer-events: all;
    transform: translateY(-1px);
    visibility: visible;
  }

  .navbar-link::after {
    border-width: 0 0 1px 1px;
    border-style: solid;
    content: "";
    display: block;
    height: 0.5em;
    pointer-events: none;
    position: absolute;
    transform: rotate(-45deg);
    width: 0.5em;
    margin-top: -0.375em;
    right: 1.125em;
    top: 50%;
  }

  .navbar-end > .navbar-item,
  .navbar-end .navbar-link {
    color: var(--navbar-font-color);
  }

  .navbar-end > a.navbar-item:hover,
  .navbar-end .navbar-link:hover,
  .navbar-end .navbar-item.has-dropdown:hover .navbar-link {
    background: var(--navbar_hover-background);
    color: var(--link_hover-font-color);
  }

  .navbar-end .navbar-link::after {
    border-color: currentColor;
  }

  .navbar-dropdown {
    background: var(--navbar-menu-background);
    border-top: none;
    border-radius: 0.25rem;
    top: calc(100% - (0.25rem + 0.3rem));
    left: -80px;
    right: 0;
    position: absolute;
    box-shadow: var(--navbar-dropdown-boxshadow);
    opacity: 0;
    visibility: hidden;
    max-height: 80vh;
    min-width: 5rem;
    padding: 0.5rem;
    transition-duration: var(--transition-fast);
    transition-property: opacity, transform, visibility;
    transition-timing-function: var(--transition-timing-default);
    transform: translateY(-2.625rem);
  }

  .navbar-dropdown:hover {
    opacity: 1;
    pointer-events: all;
    transform: translateY(-1px);
    visibility: visible;
  }

  .navbar-dropdown .navbar-item {
    padding: 0.5rem 3rem 0.5rem 1rem;
    white-space: nowrap;
  }

  .navbar-dropdown .navbar-item small {
    position: relative;
    right: -2rem;
  }

  .navbar-dropdown .navbar-item:last-child {
    border-radius: inherit;
  }

  .navbar-dropdown.is-right {
    left: auto;
    right: 0;
  }

  .navbar-dropdown a.navbar-item:hover {
    background: var(--navbar-menu_hover-background);
  }
}

.navbar-dropdown > ul {
  text-transform: none;
  letter-spacing: normal;
  list-style: none;
  padding-inline-start: 0;
  line-height: 30px;
  margin: 0;
  word-wrap: break-word;
  border-radius: 0.25rem;
}

.navbar-dropdown a {
  text-decoration: none;
  color: var(--navbar-font-color);
  display: block;
  padding: 0.5rem 1rem;
}

.navbar-dropdown a:hover {
  color: var(--link_hover-font-color);
}

.navbar-dropdown > ul > li:hover {
  background-color: var(--navbar-dropdown-background-hover-color);
}

.theme-switcher {
  align-self: center;
}

#switch-theme {
  border: none;
  background: none;
  padding-inline: 6px;
}

#switch-theme label {
  display: none;
}

.theme-image {
  width: 20px;
  height: 20px;
  cursor: pointer;
  transform: rotate(110deg);
  filter: invert(100%) sepia(5%) saturate(1016%) hue-rotate(181deg) brightness(100%) contrast(106%);
}

@media screen and (max-width: 1023.5px) {
  #switch-theme {
    margin: 0;
    margin-top: -2px;
  }
}
