.home .features .container {
  width: 100%;
  margin: 0 auto;
  max-width: 100%;
  display: flex;
  flex-direction: column;
}

.home .doc {
  max-width: unset;
  margin: 0;
  padding: 0;
  margin-bottom: 48px;
}

.home .feature-row {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-top: 20px;
}

.home .features {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 50px;
  max-width: 800px;
  margin: 0 auto;
}

.home h2.feature-title {
  padding-top: 0 !important;
  margin-top: 0;
  font-size: 20px;
}

.home a.feature-link {
  height: inherit;
  text-decoration: none;
  flex: 1;
  white-space: normal;
}

.home .home-header-container {
  display: flex;
  margin-top: 0;
  width: 100%;
  align-items: center;
  justify-content: center;
  min-height: 178px;
  gap: 10px;
  z-index: 2;
  position: relative;
}

.home .home-header {
  max-width: 800px;
  width: 100%;
}

.home .home-header .ask {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
  margin-top: 30px;
}

.home .home-header-container h1 {
  font-size: 32px;
}

html:not([data-theme=dark]) .home .feature-box:hover {
  border-color: var(--color-jet-50);
}

.home .feature-box {
  width: 100%;
  height: 100%;
  flex: 1;
  border: 1px solid #e5e9f0;
  box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  padding: 1rem;
  align-content: flex-start;
  transition: 100ms ease all;
  background-color: var(--feature-background-color);
}

.home .feature-image {
  width: 50px;
  height: 50px;
}

.home .feature-image img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.home .feature-text h2 {
  color: var(--body-font-color);
  font-size: 1.2rem;
  font-weight: 600;
}

.home .feature-text p {
  font-size: 1rem;
  font-weight: 400;
  color: var(--body-font-color);
}

.home div.menu-container {
  padding: 2rem;
  background: var(--highlight-container-background);
}

.home div.menu-container a:hover {
  text-decoration: none;
}

.home ul.menu-list {
  padding: 0;
  list-style-type: none;
}

.home li.menu-list-item {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.home a.menu-list-item-link {
  color: var(--ifm-font-color-base);
  font-weight: 400;
}

@media screen and (min-width: 850px) {
  .home .feature-row {
    flex-direction: row;
  }
}

@media screen and (min-width: 560px) {
  .home .ask #autocomplete {
    width: 70%;
  }
}
