.nav-container {
  position: fixed;
  top: var(--navbar-height);
  left: 0;
  width: 100%;
  font-size: calc(18 / var(--rem-base) * 1rem);
  z-index: var(--z-index-nav);
  visibility: hidden;
}

.top-panel {
  display: block;
  font-size: 13px;
  font-weight: 200;
  margin: 0;
  position: sticky;
  z-index: 999;
  top: 0;
  background-color: inherit;
  padding: 10px;
  width: 100%;
}

.top-panel .search {
  padding: 5px;
  border-bottom: 1px solid var(--toolbar-border-color);
}

.top-panel .dropdown .dropdown-content {
  display: none;
  flex-direction: column;
  font-size: 1.1em;
}

.top-panel .dropdown .dropdown-content.is-active {
  display: flex;
  padding: 5px;
}

.top-panel .dropdown .search-filters {
  padding: 5px;
  cursor: pointer;
  font-size: 1.2em;
  display: flex;
  gap: 10px;
  color: var(--nav-muted-color);
}

.top-panel .dropdown .search-filters .filter-toggle {
  display: flex;
  align-items: center;
}

.top-panel .dropdown .search-filters .filter-toggle::after {
  content: "";
  background: url(../img/chevron.svg) no-repeat 100%/auto 100%;
  width: 1.1em;
  height: 0.75em;
}

.top-panel .dropdown .search-filters .selected-items {
  font-size: 0.9em;
  gap: 2px;
  flex-wrap: wrap;
  display: flex;
}

.top-panel .dropdown .search-filters .selected-items span {
  background-color: var(--page-version-menu-background);
  border-radius: 5px;
  color: var(--page-version-font-color);
  padding: 2px 3px;
}

@media screen and (min-width: 769px) {
  .nav-container {
    width: var(--nav-width);
  }
}

@media screen and (min-width: 1024px) {
  .nav-container {
    font-size: calc(18 / var(--rem-base) * 1rem);
    flex: none;
    position: static;
    top: 0;
    visibility: visible;
  }
}

.nav-container.is-active {
  visibility: visible;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.nav::-webkit-scrollbar {
  display: none;
}

.nav {
  background: var(--nav-background);
  font-size: calc(18 / var(--rem-base) * 1rem);
  position: relative;
  overflow-y: scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  overscroll-behavior: none;
  top: var(--toolbar-height);
  height: var(--nav-height);
  border-right: 1px solid var(--nav-border-color);
  -webkit-clip-path: inset(0);
  clip-path: inset(0);
}

@media screen and (min-width: 769px) {
  .nav {
    box-shadow: 0.5px 0 3px var(--nav-border-color);
  }
}

@media screen and (min-width: 1024px) {
  .nav {
    top: var(--navbar-height);
    box-shadow: none;
    position: sticky;
    height: var(--nav-height--desktop);
  }
}

.nav a {
  color: inherit;
}

.context .container.has-dropdown .components,
.context .container.has-dropdown .versions {
  display: none;
  position: absolute;
  margin-top: 2px;
  gap: 10px;
  z-index: 2;
  background-color: var(--page-version-menu-background);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
}

.context .container.has-dropdown .components a,
.context .container.has-dropdown .versions a {
  padding: 5px;
}

.context .container.has-dropdown.is-active .components,
.context .container.has-dropdown.is-active .versions {
  display: flex;
  flex-direction: column;
}

.nav .panels {
  display: flex;
  flex-direction: column;
  height: inherit;
}

html.is-clipped--nav {
  overflow-y: hidden;
}

.nav-panel-menu {
  height: var(--nav-panel-menu-height);
}

.nav-menu {
  min-height: 100%;
  padding: 0.5rem 0.75rem;
  line-height: var(--nav-line-height);
  position: relative;
}

.nav-menu h3.title {
  color: var(--nav-heading-font-color);
  font-size: inherit;
  font-family: var(--body-font-family-bold);
  margin: 0;
  padding: 0.25em 0 0.125em;
}

.nav-list {
  list-style: none;
  margin: 0 0 0 0.5rem;
  padding: 0;
  width: 100%;
}

.nav-item {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  cursor: pointer;
}

.nav .item {
  width: 100%;
  display: flex;
  min-height: 30px;
  justify-content: space-between;
  align-items: center;
  margin-top: 2px;
  border-radius: 3px;
}

ul.nav-list > li:first-child[data-depth="2"],
ul.nav-list > li:first-child[data-depth="3"],
ul.nav-list > li:first-child[data-depth="4"],
ul.nav-list > li:first-child[data-depth="5"],
ul.nav-list > li:first-child[data-depth="6"] {
  margin-top: 0.5em;
}

.nav-list > li > .item:hover,
.nav-list > li > .is-current-page {
  background-color: #0000000d;
  color: var(--link-font-color);
}

.nav-list .is-current-path > div.item:first-child {
  color: var(--link-font-color);
}

.nav-list a {
  text-decoration: none !important;
}

.nav-list .nav-link,
.nav-list .nav-text {
  padding: 5px;
  font-weight: 300;
}

.nav-item[data-depth="0"] > .nav-list:first-child {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex: 1;
  margin: 0;
  flex-direction: column;
}

.nav-item:not(.is-active) > .nav-list {
  display: none;
}

.dropdown a.nav-link,
.dropdown a.nav-text {
  max-width: 80%;
}

.nav-item-toggle {
  background: transparent url(../img/caret.svg) no-repeat center / 100%;
  border: none;
  filter: var(--nav-toggle-filter);
  transform: rotate(90deg);
  outline: none;
  line-height: inherit;
  padding: 0;
  height: calc(var(--nav-line-height) * 1.5em);
  width: calc(var(--nav-line-height) * 1.5em);
}

.nav-item-toggle:hover {
  background-color: #0000000d;
}

.nav-item.is-active > .item > .nav-item-toggle {
  transform: rotate(180deg);
}

.nav-panel-explore {
  background: var(--nav-background);
  display: flex;
  flex-direction: column;
}

.nav-panel-explore:not(:first-child) {
  top: auto;
  max-height: var(--nav-panel-explore-height);
}

.nav-panel-explore .context {
  font-size: calc(18 / var(--rem-base) * 1rem);
  flex-shrink: 0;
  color: var(--nav-muted-color);
  padding: 0 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  line-height: 1;
  height: var(--drawer-height);
  border-bottom: 1px solid var(--toolbar-border-color);
}

.nav-panel-explore:not(:first-child) .context .container.has-dropdown:has(.components,.versions) {
  cursor: pointer;
}

.nav-panel-explore .context .current-version,
.nav-panel-explore .context .title {
  display: flex;
  align-items: center;
}

.nav-panel-explore .context .version.is-latest,
.nav-panel-explore .context .version:hover,
.nav-panel-explore .context .component.is-current,
.nav-panel-explore .context .component:hover,
.nav-panel-explore .context .version a:hover,
.nav-panel-explore .context .component a:hover {
  background-color: var(--link-highlight-background-color);
  color: var(--link-font-color);
  border-radius: 3px;
}

.nav-panel-explore .context .version a,
.nav-panel-explore .context .component a {
  color: var(--page-version-font-color);
  text-decoration: none;
  line-height: 25px;
  padding-left: 5px;
  display: block;
  width: 100%;
}

.nav-panel-explore .context .version,
.nav-panel-explore .context .component {
  flex: 0 0 25px;
}

.nav-panel-explore .context .current-version::after {
  content: "";
  background: url(../img/chevron.svg) no-repeat center right / auto 100%;
  width: 1.25em;
  height: 0.75em;
}

.nav-panel-explore .context .container.has-dropdown:has(.components,.versions) .title::after {
  content: "";
  background: url(../img/chevron.svg) no-repeat center right / auto 100%;
  width: 1.25em;
  height: 0.75em;
}

.nav-panel-explore .component .title {
  font-family: var(--body-font-family-bold);
}

.nav-link.cloud-beta::after {
  background-image: url(../img/cloud-beta.svg);
  height: 20px;
  display: block;
  background-repeat: no-repeat;
  background-size: contain;
  content: '';
}
