.nav-container {
  position: fixed;
  top: var(--navbar-height);
  left: 0;
  width: 100%;
  font-size: calc(16 / var(--rem-base) * 1rem);
  z-index: var(--z-index-nav);
  visibility: hidden;
}

.nav-collapse {
  background: var(--nav-background);
  font-size: calc(16 / var(--rem-base) * 1rem);
  color: var(--body-font-color);
  border-top: 1px solid #e5e9f0;
  visibility: hidden;
  z-index: 9;
  position: sticky;
  height: 50px;
  bottom: 0;
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: flex-start;
  width: calc(var(--nav-width) / 1.5);
  left: calc(var(--nav-width) / 6);
}

.nav-collapse.collapsed {
  width: calc(var(--nav-width) / 2);
  border: none;
}

.nav-collapse.collapsed img {
  transform: rotate(180deg);
}

.nav-collapse:hover {
  cursor: pointer;
}

.top-panel {
  display: block;
  font-size: 13px;
  font-weight: 200;
  margin: 0;
  position: sticky;
  z-index: 999;
  top: 0;
  background-color: inherit;
  padding: 10px;
  width: 100%;
}

.top-panel .search {
  padding: 5px;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.top-panel .dropdown .dropdown-content {
  display: none;
  flex-direction: column;
  font-size: 1.1em;
}

.top-panel .dropdown .dropdown-content.is-active {
  display: flex;
  padding: 5px;
}

.top-panel .dropdown .search-filters {
  padding: 5px;
  cursor: pointer;
  font-size: 1.2em;
  display: flex;
  gap: 10px;
  color: var(--nav-muted-color);
}

.top-panel .dropdown .search-filters .filter-toggle {
  display: flex;
  align-items: center;
}

.top-panel .dropdown .search-filters .filter-toggle::after {
  content: "";
  background: url(../img/nav-tree-chevron.svg) no-repeat 100%/auto 100%;
  width: 1.1em;
  height: 0.75em;
}

.top-panel .dropdown .search-filters .selected-items {
  font-size: 0.9em;
  gap: 2px;
  flex-wrap: wrap;
  display: flex;
}

.top-panel .dropdown .search-filters .selected-items span {
  background-color: var(--page-version-menu-background);
  border-radius: 5px;
  color: var(--page-version-font-color);
  padding: 2px 3px;
}

.top-panel .autocomplete {
  flex: 1;
}

@media screen and (min-width: 769px) {
  .nav-container {
    width: var(--nav-width);
  }
}

@media screen and (min-width: 1024px) {
  .nav-container {
    font-size: calc(16 / var(--rem-base) * 1rem);
    flex: none;
    position: static;
    top: 0;
    visibility: visible;
  }

  .nav-collapse {
    visibility: visible;
  }
}

.nav-container.is-active {
  visibility: visible;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.nav::-webkit-scrollbar {
  display: none;
}

.nav {
  background: var(--nav-background);
  font-size: calc(16 / var(--rem-base) * 1rem);
  position: relative;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  overscroll-behavior: none;
  top: var(--toolbar-height);
  border-right: 1px solid var(--nav-border-color);
  -webkit-clip-path: inset(0);
  clip-path: inset(0);
}

@media screen and (min-width: 769px) {
  .nav {
    box-shadow: 0.5px 0 3px var(--nav-border-color);
  }
}

@media screen and (min-width: 1024px) {
  .nav {
    top: var(--navbar-height);
    box-shadow: none;
    position: sticky;
    height: var(--nav-height--desktop);
  }
}

.nav a {
  color: inherit;
}

.context .container.has-dropdown {
  border: 1px solid #a4bcfd;
  width: 70%;
  border-radius: 10px;
  padding: 10px 6px;
}

.context .container.has-dropdown .components,
.context .container.has-dropdown .versions {
  display: none;
  position: absolute;
  margin-top: 11px;
  align-items: center;
  gap: 10px;
  width: 50%;
  z-index: 2;
  background-color: var(--body-background);
  white-space: nowrap;
  border-radius: 10px;
  padding: 10px;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
  color: var(--body-font-color);
}

.context:hover {
  cursor: pointer;
}

.context .container.has-dropdown .components a,
.context .container.has-dropdown .versions a {
  padding: 5px;
}

.context .container.has-dropdown.is-active .components,
.context .container.has-dropdown.is-active .versions {
  display: flex;
  flex-direction: column;
}

.nav .panels {
  display: flex;
  flex-direction: column;
  height: inherit;
}

.article.lab .nav .panels {
  padding-left: 0.5em;
}

html.is-clipped--nav {
  overflow-y: hidden;
}

.nav-panel-menu {
  height: var(--nav-panel-menu-height);
}

.nav-menu {
  height: var(--nav-height);
  overflow-y: scroll;
  line-height: var(--nav-line-height);
  position: relative;
}

.nav-menu h3.title {
  color: var(--nav-heading-font-color);
  font-size: inherit;
  font-family: var(--body-font-family-bold);
  margin: 0;
  padding: 0.25em 0 0.125em;
}

.nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.nav-item {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  cursor: pointer;
  padding: 6px 8px;
}

.nav .item {
  width: 100%;
  display: flex;
  min-height: 30px;
  justify-content: space-between;
  align-items: center;
  padding: 6px 8px;
  border-radius: 10px;
}

.nav-list > li > .item:hover,
.nav-list > li > .is-current-page {
  background-color: var(--link-highlight-background-color);
  color: var(--link-highlight-color);
}

.nav-list .is-current-path > div.item:first-child {
  color: var(--link-highlight-color);
}

.nav-list a {
  text-decoration: none !important;
}

.nav-item[data-depth="0"] {
  height: 36px;
}

.nav-item[data-depth="0"] .item.dropdown:first-child {
  height: 36px;
}

.nav-item[data-depth="0"] > .nav-list:first-child {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex: 1;
  margin: 0;
  flex-direction: column;
}

.nav-item:not(.is-active) > .nav-list {
  display: none;
}

.dropdown a.nav-link,
.dropdown a.nav-text {
  max-width: 80%;
}

.nav-item-toggle {
  background: transparent url(../img/nav-tree-chevron.svg) no-repeat center / 100%;
  border: none;
  filter: var(--nav-toggle-filter);
  outline: none;
  line-height: inherit;
  padding: 0;
  width: 0.75em;
  height: 1em;
}

.nav-item.is-active > .item > .nav-item-toggle {
  transform: rotate(90deg);
}

.nav-panel-explore {
  background: var(--nav-background);
  display: flex;
  position: sticky;
  top: 0;
  z-index: 9;
  flex-direction: column;
}

.nav-panel-explore:not(:first-child) {
  top: auto;
  max-height: var(--nav-panel-explore-height);
}

.nav-panel-explore .context {
  font-size: calc(16 / var(--rem-base) * 1rem);
  color: var(--link-highlight-color);
  padding-left: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  line-height: 1;
  height: var(--drawer-height);
}

.nav-panel-explore:not(:first-child) .context .container.has-dropdown:has(.components,.versions) {
  cursor: pointer;
}

.nav-panel-explore .context .current-version,
.nav-panel-explore .context .title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-panel-explore .context .version.is-latest,
.nav-panel-explore .context .version:hover,
.nav-panel-explore .context .component.is-current,
.nav-panel-explore .context .component:hover,
.nav-panel-explore .context .version a:hover,
.nav-panel-explore .context .component a:hover {
  background-color: var(--link-highlight-background-color);
  color: var(--body-font-color);
  border-radius: 3px;
}

.nav-panel-explore .context .versions a,
.nav-panel-explore .context .component a {
  color: var(--page-version-font-color);
  text-decoration: none;
  line-height: 25px;
  padding-left: 5px;
  display: block;
  width: 100%;
}

.nav-panel-explore .context .version,
.nav-panel-explore .context .component {
  flex: 0 0 25px;
}

.nav-panel-explore .context .current-version::after {
  content: "";
  background: url(../img/version-dropdown-chevron.svg) no-repeat center right / auto 100%;
  width: 1.25em;
  height: 0.75em;
}

.nav-panel-explore .context .container.has-dropdown:has(.components,.versions) .title::after {
  content: "";
  background: url(../img/version-dropdown-chevron.svg) no-repeat center right / auto 100%;
  width: 1.25em;
  height: 0.75em;
}

.nav-panel-explore .component .title {
  font-family: var(--body-font-family-bold);
}

.nav-link.cloud-beta::after {
  background-image: url(../img/beta.svg);
  height: 20px;
  display: block;
  background-repeat: no-repeat;
  background-size: contain;
  content: '';
}
