:root {
  --nav-side-padding: 22px;
  --nav-item-side-padding: 10px;
}

.nav-container {
  position: fixed;
  top: calc(var(--navbar-height) + var(--toolbar-height));
  left: 0;
  bottom: 0;
  width: 100%;
  font-size: var(--secondary-font-size);
  z-index: var(--z-index-nav);
  visibility: hidden;
  overflow-y: scroll;
}

.nav-collapse,
.nav-expand {
  font-size: var(--secondary-font-size);
  color: var(--body-font-color);
  z-index: 8;
  position: sticky;
  height: var(--nav-collapse-height);
  bottom: 0;
  display: none;
  gap: 5px;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding: 12px var(--nav-side-padding);
  cursor: pointer;
  transition: opacity 0.2s ease;
  opacity: 0.6;
  background: var(--nav-background);
  border-top: 1px solid var(--nav-border-color);
}

.nav-collapse:hover,
.nav-expand:hover {
  opacity: 1;
}

.nav-collapse p {
  margin: 0;
}

.nav-collapse.collapsed {
  opacity: 0.6;
}

.nav-expand {
  position: fixed;
  background: var(--body-background);
  border: 1.5px solid rgba(128, 152, 249, 0.5);
  border-radius: 6px;
  padding: 8px 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  z-index: 100;
  left: 5px;
  bottom: 30px;
  width: auto;
}

.nav-expand img {
  transform: rotate(180deg);
}

@media screen and (max-width: 1023px) {
  .nav-container {
    width: var(--nav-width);
    top: calc(var(--navbar-height) + var(--announcement-bar-height));
  }

  .nav-panel-explore {
    top: 20px !important;
  }
}

@media screen and (min-width: 1024px) {
  .nav-container {
    font-size: var(--secondary-font-size);
    flex: none;
    border-right: 1px solid var(--nav-border-color);
    display: block;
    position: sticky;
    visibility: visible;
    height: calc(100vh - var(--navbar-height) - var(--announcement-bar-height--desktop));
    top: calc(var(--navbar-height) + var(--announcement-bar-height--desktop));
    width: var(--nav-width);
  }

  .nav-expand:not(.hidden) {
    display: flex;
  }

  .nav {
    overflow-y: hidden;
  }

  .nav-collapse {
    display: flex;
  }
}

.nav-container.is-active {
  visibility: visible;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.nav::-webkit-scrollbar {
  display: none;
}

.nav {
  background: var(--nav-background);
  font-size: var(--secondary-font-size);
  position: relative;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  overscroll-behavior: none;
  overflow-y: scroll;
  -webkit-clip-path: inset(0);
  clip-path: inset(0);
  height: inherit !important;
}

@media screen and (min-width: 769px) {
  .nav {
    box-shadow: 0.5px 0 3px var(--nav-border-color);
  }
}

@media screen and (min-width: 1024px) {
  .nav {
    box-shadow: none;
  }
}

.nav a {
  color: inherit;
}

.context .container.has-dropdown {
  border: 1px solid var(--highlight-border);
  width: 100%;
  border-radius: var(--border-radius-radius-md);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px var(--nav-item-side-padding);
  position: relative;
}

.context .container.has-dropdown .components,
.context .container.has-dropdown .versions {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  margin-top: 35px;
  align-items: center;
  z-index: 2;
  background-color: var(--body-background);
  white-space: nowrap;
  border-radius: var(--border-radius-radius-md);
  padding: 8px 0;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
  color: var(--body-font-color);
}

.context:hover {
  cursor: pointer;
}

.context .container.has-dropdown .components a,
.context .container.has-dropdown .versions a {
  padding: 4px var(--nav-item-side-padding);
}

.context .container.has-dropdown.is-active .components,
.context .container.has-dropdown.is-active .versions {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
}

.article.lab .nav .panels {
  padding-left: 0.5em;
}

html.is-clipped--nav {
  overflow-y: hidden;
}

.nav-menu {
  position: relative;
  line-height: var(--nav-line-height);
  padding: calc(var(--toolbar-top-padding) - 8px) var(--nav-side-padding) 32px;
  /* Isolate rendering for performance */
  contain: layout style;
}

.nav-menu h3.title {
  color: var(--nav-heading-font-color);
  font-size: inherit;
  font-family: var(--body-font-family-bold);
  margin: 0;
  padding: 0.25em 0 0.125em;
}

.nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  color: var(--color-aliases-static-palette-text-secondary);
  margin-left: 8px;
}

/* Target the very first nav-menu and remove the margin-left */
.nav-menu > .nav-list {
  margin-left: 0;
}

li.nav-item {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  cursor: pointer;
}

.nav .item {
  width: 100%;
  display: flex;
  min-height: 30px;
  justify-content: space-between;
  align-items: center;
  padding: 8px var(--nav-item-side-padding);
  border-radius: var(--border-radius-radius-md);
  margin-bottom: 4px;
}

.nav-list > li > .item:hover,
.nav-list > li > .is-current-page {
  background-color: var(--link-highlight-background-color);
  color: var(--link-highlight-color);
}

.nav-list .is-current-path > div.item:first-child {
  color: var(--link-highlight-color);
}

.nav-list a {
  text-decoration: none !important;
}

/* Note - Dan removed .nav-item setting height - this rule was causing all sorts of issues with nav height due to all nav items being nested inside a single <li> with a height of 36px, this meant there was a lot of extra css needed to override */

.nav-item[data-depth="0"] > .nav-list:first-child {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex: 1;
  margin: 0;
  flex-direction: column;
}

.nav-item:not(.is-active) > .nav-list {
  display: none;
}

a.nav-link,
a.nav-text {
  min-width: 80%;
}

.item:not(.dropdown) a.nav-link,
.item:not(.dropdown) a.nav-text {
  min-width: 100%;
}

.nav-item-toggle {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: var(--nav-toggle-filter);
  outline: none;
  line-height: inherit;
  padding: 0;
  width: 2em;
  height: 100%;
  margin-right: -8px;
}

.nav-item-toggle > img {
  filter: var(--nav-toggle-filter);
  width: 0.6em;
}

.nav-item.is-active > .item > .nav-item-toggle {
  transform: rotate(90deg);
}

.nav-panel-explore {
  position: sticky;
  z-index: 9;
  background-color: var(--nav-background);
  padding: 24px var(--nav-side-padding) 0;
}

.nav-panel-explore:not(:first-child) {
  top: auto;
  max-height: var(--nav-panel-explore-height);
}

.nav-panel-explore .context {
  font-size: var(--secondary-font-size);
  color: var(--link-highlight-color);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  line-height: 1;
}

.nav-panel-explore:not(:first-child) .context .container.has-dropdown:has(.components,.versions) {
  cursor: pointer;
}

.nav-panel-explore .context .current-version,
.nav-panel-explore .context .title {
  display: flex;
  gap: 2px;
  justify-content: space-between;
}

.nav-panel-explore .context .version.is-latest,
.nav-panel-explore .context .version:hover,
.nav-panel-explore .context .component.is-current,
.nav-panel-explore .context .component:hover,
.nav-panel-explore .context .version a:hover,
.nav-panel-explore .context .component a:hover {
  background-color: var(--link-highlight-background-color);
  color: var(--body-font-color);
}

.nav-panel-explore .context .versions a,
.nav-panel-explore .context .component a {
  color: var(--page-version-font-color);
  text-decoration: none;
  line-height: 25px;
  padding-left: 5px;
  display: block;
  width: 100%;
}

.nav-panel-explore .context .version,
.nav-panel-explore .context .component {
  flex: 0 0 25px;
}

.nav-panel-explore .component .title {
  font-family: var(--body-font-family-bold);
}

.nav-link.cloud-beta::after {
  height: 20px;
  display: block;
  background-repeat: no-repeat;
  background-size: contain;
  content: '(beta)';
}
