.page-versions {
  position: relative;
  color: var(--link-highlight-color);
  line-height: 0.5;
  background-color: var(--body-background);
  width: 130px;
  z-index: var(--z-index-page-version-menu);
  padding: 10px 6px;
  border: 1px solid #a4bcfd;
  border-radius: 10px;
}

.page-versions .version-menu-toggle {
  color: var(--page-version-font-color);
  border: none;
  outline: none;
  line-height: inherit;
  display: flex;
  align-items: center;
  background: none;
  width: 100%;
  justify-content: space-between;
  position: relative;
  z-index: var(--z-index-page-version-menu);
}

.page-versions .version-menu-toggle::after {
  content: "";
  background: url(../img/version-dropdown-chevron.svg) no-repeat center right / auto 100%;
  width: 1.25em;
  height: 0.75em;
  display: inline-block;
}

.page-versions .version-menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  position: absolute;
  width: 100%;
  right: 0;
  white-space: nowrap;
  border-radius: 10px;
  padding: 10px;
  margin-top: 11px;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
  background-color: var(--body-background);
  color: var(--body-font-color);
}

.page-versions .version-menu:first-child {
  padding-top: 0.75rem;
}

.page-versions:not(.is-active) .version-menu {
  display: none;
}

.page-versions .version {
  display: block;
  padding-top: 0.5rem;
}

.page-versions .version.is-current {
  display: none;
}

.page-versions .version.is-missing {
  color: var(--page-version-missing-font-color);
  font-style: italic;
  text-decoration: line-through;
}
