pre.line-numbers {
  position: relative;
  counter-reset: linenumber;
  white-space: pre-line;
}

pre.line-numbers > code {
  padding-left: 1.2rem;
}

pre.line-numbers .line-numbers-rows {
  position: absolute;
  top: 0.95rem;
  font-size: 100%;
  left: -1rem;
  width: 3em; /* works for line-numbers below 1000 lines */
  letter-spacing: -1px;
  border-right: 1px solid #999;
}

.line-numbers-rows > span {
  display: block;
  counter-increment: linenumber;
}

.line-numbers-rows > span::before {
  content: counter(linenumber);
  color: #999;
  display: block;
  padding-right: 0.8em;
  text-align: right;
}

.line-numbers span.line-numbers-rows > span {
  position: relative;
  /* For future use (linkable line numbers)
  cursor: pointer;
  */
}

/* For future use (linkable line numbers)
.line-numbers-rows > span:hover {
  background-color: rgba(255, 255, 0, 0.23);
}
*/

pre .line-highlight {
  position: absolute;
  background-color: var(--highlight-background);
}

.doc pre > code[class*=language-] span.token.entity {
  background: unset !important;
  cursor: unset;
}
