pre.line-numbers {
  position: relative;
  counter-reset: linenumber;
  white-space: pre-line;
}

pre.line-numbers > code {
  padding-left: 1.2rem;
}

pre.line-numbers .line-numbers-rows {
  position: absolute;
  top: 0.95rem;
  font-size: 100%;
  left: -1rem;
  width: 3em; /* works for line-numbers below 1000 lines */
  letter-spacing: -1px;
  border-right: 1px solid #999;
}

.line-numbers-rows > span {
  display: block;
  counter-increment: linenumber;
}

.line-numbers-rows > span::before {
  content: counter(linenumber);
  color: #999;
  display: block;
  padding-right: 0.8em;
  text-align: right;
}

.line-numbers span.line-numbers-rows > span {
  position: relative;
  /* For future use (linkable line numbers)
  cursor: pointer;
  */
}

/* For future use (linkable line numbers)
.line-numbers-rows > span:hover {
  background-color: rgba(255, 255, 0, 0.23);
}
*/

pre .line-highlight {
  position: absolute;
  background-color: var(--highlight-background);
}

.doc pre > code[class*=language-] span.token.entity {
  background: unset !important;
  cursor: unset;
}

.language-bloblang .token.string,
.language-blobl .token.string {
  color: #22863a;
}

.language-bloblang .token.keyword,
.language-blobl .token.keyword {
  color: #6f42c1;
  font-weight: normal;
}

.language-bloblang .token.function,
.language-blobl .token.function {
  color: #6f42c1;
  font-weight: normal;
}

.language-bloblang .token.coalesce,
.language-blobl .token.coalesce {
  color: #d73a49;
  font-weight: normal;
}

.language-bloblang .token.metadata,
.language-blobl .token.metadata {
  color: #005cc5;
  font-weight: normal;
}

.language-bloblang .token.variable,
.language-blobl .token.variable {
  color: #005cc5;
  font-weight: normal;
}

.language-bloblang .token.method,
.language-blobl .token.method {
  color: #6f42c1;
  font-style: normal;
}

.language-bloblang .token.multiline-string,
.language-blobl .token.multiline-string {
  color: #22863a;
}

.language-bloblang .token.number,
.language-blobl .token.number {
  color: #005cc5;
}

.language-bloblang .token.operator,
.language-blobl .token.operator {
  color: #d73a49;
}

.language-bloblang .token.spread,
.language-blobl .token.spread {
  color: #d73a49;
}

.language-bloblang .token.comment,
.language-blobl .token.comment {
  color: #6a737d;
  font-style: italic;
}

.language-bloblang .token.punctuation,
.language-blobl .token.punctuation {
  color: #24292e;
}

.language-bloblang .token.property,
.language-blobl .token.property {
  color: #005cc5;
}

html[data-theme="dark"] .language-bloblang .token.string,
html[data-theme="dark"] .language-blobl .token.string {
  color: #ce9178;
}

html[data-theme="dark"] .language-bloblang .token.keyword,
html[data-theme="dark"] .language-blobl .token.keyword {
  color: #c586c0;
  font-weight: normal;
}

html[data-theme="dark"] .language-bloblang .token.function,
html[data-theme="dark"] .language-blobl .token.function {
  color: #dcdcaa;
  font-weight: normal;
}

html[data-theme="dark"] .language-bloblang .token.coalesce,
html[data-theme="dark"] .language-blobl .token.coalesce {
  color: #f48771;
  font-weight: normal;
}

html[data-theme="dark"] .language-bloblang .token.metadata,
html[data-theme="dark"] .language-blobl .token.metadata {
  color: #4ec9b0;
  font-weight: normal;
}

html[data-theme="dark"] .language-bloblang .token.variable,
html[data-theme="dark"] .language-blobl .token.variable {
  color: #9cdcfe;
  font-weight: normal;
}

html[data-theme="dark"] .language-bloblang .token.method,
html[data-theme="dark"] .language-blobl .token.method {
  color: #dcdcaa;
  font-style: normal;
}

html[data-theme="dark"] .language-bloblang .token.multiline-string,
html[data-theme="dark"] .language-blobl .token.multiline-string {
  color: #ce9178;
}

html[data-theme="dark"] .language-bloblang .token.number,
html[data-theme="dark"] .language-blobl .token.number {
  color: #b5cea8;
}

html[data-theme="dark"] .language-bloblang .token.operator,
html[data-theme="dark"] .language-blobl .token.operator {
  color: #d4d4d4;
}

html[data-theme="dark"] .language-bloblang .token.spread,
html[data-theme="dark"] .language-blobl .token.spread {
  color: #d4d4d4;
}

html[data-theme="dark"] .language-bloblang .token.comment,
html[data-theme="dark"] .language-blobl .token.comment {
  color: #6a9955;
  font-style: italic;
}

html[data-theme="dark"] .language-bloblang .token.punctuation,
html[data-theme="dark"] .language-blobl .token.punctuation {
  color: #d4d4d4;
}

html[data-theme="dark"] .language-bloblang .token.property,
html[data-theme="dark"] .language-blobl .token.property {
  color: #9cdcfe;
}
