.redpanda-connect-body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #333;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.redpanda-connect-header {
  text-align: center;
  margin-bottom: 40px;
}

.redpanda-connect-h1 {
  font-size: 3em;
  margin-bottom: 10px;
}

.redpanda-connect-cta-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  border-radius: 5px;
}

.redpanda-connect-header-image {
  margin-top: 20px;
  display: flex;
  max-width: 600px;
}

.redpanda-connect-easy-to-use {
  margin-bottom: 40px;
}

.redpanda-connect-tabs {
  display: flex;
  margin-bottom: 10px;
}

.redpanda-connect-tab-button {
  background-color: #f0f0f0;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px 5px 0 0;
}

.redpanda-connect-tab-button.active {
  background-color: #007bff;
  color: white;
}

.redpanda-connect-code-snippet,
.redpanda-connect-config-example {
  background-color: #f8f8f8;
  padding: 20px;
  border-radius: 5px;
  overflow-x: auto;
}

.redpanda-connect-pre {
  margin: 0;
}

.redpanda-connect-code {
  font-family: 'Courier New', Courier, monospace;
}

.redpanda-connect-read-more {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 5px 10px;
  font-size: 0.9em;
  cursor: pointer;
  border-radius: 3px;
  margin-top: 10px;
}

.redpanda-connect-features {
  display: flex;
  justify-content: space-between;
}

.redpanda-connect-feature img {
  max-width: 100%;
  height: auto;
}

.redpanda-connect-benthos-studio {
  display: flex;
  margin-bottom: 40px;
  align-items: flex-start;
}

.redpanda-connect-video-container iframe {
  width: 100%;
  aspect-ratio: 16 / 9;
}

.redpanda-connect-studio-description {
  flex: 1;
}

.redpanda-connect-benthos-character {
  max-width: 100px;
  float: right;
  margin-left: 20px;
}

.redpanda-connect-features-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  align-items: start;
}


.redpanda-connect-feature {
  background-color: #f8f8f8;
  padding: 20px;
  border-radius: 5px;
  flex-basis: 48%;
  min-height: 320px;
}

.redpanda-connect-feature h3 {
  margin-top: 0;
}

.redpanda-connect-a {
  color: #007bff;
  text-decoration: none;
}

.redpanda-connect-a:hover {
  text-decoration: underline;
}

.top-header {
  display: flex;
  flex-wrap: wrap;
}

.redpanda-connect-header-content {
  padding: 10px;
  margin-right: auto;
}

.redpanda-connect-header-link {
  text-decoration: none;
}

.redpanda-connect-header-link:hover {
  text-decoration: none;
}

.redpanda-connect-header-link:visited {
  color: inherit;
}

.redpanda-connect-main-features {
  min-height: 660px !important;
}
