article.search {
  margin: 0 auto;
  max-width: 1140px;
  padding-left: 20px;
}

article.search > h1 {
  font-size: 2rem;
}

article.search .ais-InstantSearch .container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin-bottom: 20px;
}

article.search .searchbox {
  flex: 0.75;
}

article.search .ais-SearchBox-form::before {
  height: 0.95rem !important;
  width: 0.95rem !important;
}

article.search .ais-Hits-item {
  background: unset;
}

article.search .search-panel__filters {
  position: relative;
  flex: 0.5;
  background-color: #fff;
  border: 1px solid #d6d6e7;
  border-radius: 3px;
  box-shadow: inset 0 1px 4px 0 rgb(119 122 175 / 30%);
  caret-color: #5a5e9a;
  color: #23263b;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 0%;
  font: inherit;
  height: 2.5rem;
  max-width: 100%;
  line-height: 2.4rem;
  padding-left: 20px;
}

article.search .search-panel__filters::after {
  content: "▼";
  font-size: small;
  float: right;
  margin-right: 10px;
}

article.search .versions {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
  margin-left: -20px;
  width: 100%;
  font-size: 0.875rem;
}

article.search .search-panel__filters:hover .versions {
  display: flex;
}

.nav .field {
  flex: 1;
  padding: 0.5rem 0.75rem;
}

article.search .ais-Heading > a {
  color: var(--link-font-color);
  font-size: 1.5rem;
}

.ais-Breadcrumbs a,
.aa-Breadcrumbs a {
  color: var(--body-font-color);
}

.ais-Breadcrumbs a:hover,
.aa-Breadcrumbs a:hover {
  text-decoration: none;
}

article.search .ais-Heading > a:hover,
.ais-Breadcrumbs a:hover,
.aa-Breadcrumbs a:hover {
  cursor: pointer;
}

article.search .ais-Breadcrumbs {
  font-size: 0.8rem;
}

.aa-Breadcrumbs {
  font-size: 0.7rem;
  display: flex;
}

.aa-Breadcrumbs ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  gap: 5px;
  padding: 0;
  list-style: none;
  font-size: 0.6rem;
}

.ais-Breadcrumbs > *:not(:last-child)::after,
.aa-Breadcrumbs ul *:not(:last-child)::after {
  content: " > ";
  margin-left: 5px;
}

article.search .ais-Pagination-list {
  justify-content: space-evenly;
}

.aa-DetachedSearchButton:hover {
  box-shadow: inset 0 0 0 2px var(--link-font-color) !important;
}

.aa-DetachedSearchButton {
  border-radius: 40px !important;
}

.aa-Form {
  border-radius: 40px !important;
}

.aa-Item[aria-selected=true] .aa-ItemContent mark {
  color: white !important;
  text-decoration: underline !important;
  font-weight: unset !important;
}

mark {
  color: var(--link-font-color) !important;
  background: none;
}

.aa-Item[aria-selected=true] a {
  background-color: var(--link-font-color) !important;
}

kbd.algolia-command {
  align-items: center;
  background: linear-gradient(-225deg, #d5dbe4, #f8f8f8);
  border: 0;
  border-radius: 2px;
  box-shadow: inset 0 -2px 0 0 #cdcde6, inset 0 0 1px 1px #fff, 0 1px 2px 1px #1e235a66;
  color: #969faf;
  display: flex;
  height: 18px;
  justify-content: center;
  margin-right: 0.4em;
  padding: 0 0 1px;
  width: 20px;
}

.aa-DetachedContainer.aa-DetachedContainer--modal {
  padding: 20px;
  background: #f5f6f7;
}

.aa-DetachedFormContainer {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.aa-Grid {
  display: block;
}

.aa-DetachedCancelButton {
  width: 80px;
}

.aa-Preview.aa-Column {
  display: none;
}

.search-footer {
  display: none;
}

.aa-Footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.aa-Footer > a {
  width: fit-content;
  display: block;
}

.aa-SourceFooter {
  position: sticky;
  bottom: -10px;
  background: var(--body-background);
  padding: 10px;
}

.search-commands {
  display: flex;
  gap: 20px;
  list-style: none;
  font-size: small;
  padding-left: 0;
}

.search-commands > li {
  display: flex;
}

.aa-ItemContentRow {
  display: flex;
  gap: 10px;
}

.aa-Results.aa-Column {
  font-size: 15px;
}

.aa-ItemLink:hover {
  text-decoration: none;
}

.aa-ItemIcon {
  margin: 10px auto;
}

.aa-Preview.aa-Column .breadcrumbs {
  padding: 0;
}

.aa-Preview.aa-Column .breadcrumbs li a {
  color: var(--body-font-color);
  padding: 4px;
}

.aa-Preview.aa-Column .breadcrumbs li a:hover {
  color: var(--link-font-color);
}

.aa-Preview.aa-Column .breadcrumbs ul {
  padding: 0;
  gap: 5px;
}

.aa-Item[aria-selected=true] {
  background-color: var(--link-font-color) !important;
  color: white !important;
}

.aa-ItemContentTitle {
  font-size: 1rem;
}

@media screen and (min-width: 900px) {
  .search-footer {
    display: flex;
    justify-content: space-evenly;
  }

  .aa-Preview.aa-Column {
    display: flex;
    flex-direction: column;
    height: 500px;
    padding: 10px;
  }

  .aa-Preview.aa-Column .toc-menu ul {
    padding-top: 10px;
  }

  .aa-Grid {
    display: grid;
    padding: 0 calc(var(--aa-spacing-half) / 2);
    column-gap: calc(var(--aa-spacing-half) / 2);
    grid-template-columns: 50% 1fr;
  }
}
