.opblock-summary-path {
  max-width: none !important;
  flex-shrink: unset !important;
}

.swagger {
  color: var(--body-font-color);
  font-size: var(--body-font-size);
  hyphens: auto;
  line-height: var(--doc-line-height);
  padding: 0 1rem;
  margin-top: 2.5rem;
}

.swagger a,
.swagger .glossary-term,
.swagger p a > code {
  color: var(--link-font-color);
}

.swagger a:hover,
.swagger .glossary-term:hover,
.swagger p a > code:hover {
  color: var(--link_hover-font-color);
}

.swagger code,
.swagger pre {
  hyphens: none;
  color: var(--code-font-color);
  background: var(--pre-background);
}

.swagger p code,
.swagger code,
.swagger thead code,
.swagger .colist > table code {
  color: var(--code-font-color);
  background: var(--code-background);
  border: 0.1rem solid #0000001a;
  font-weight: lighter;
  border-radius: 0.25em;
  font-size: 0.88rem;
  padding: 0.125em 0.25em;
}

/* Override Prism.js styles */
.swagger code .token.operator,
.swagger code .token.url {
  background-color: inherit;
}

.swagger pre {
  font-size: calc(16 / var(--rem-base) * 1rem);
  line-height: 1.5;
  margin: 0;
  padding: 1em;
}

.swagger pre > code {
  padding-bottom: 1rem;
  border: none;
  white-space: pre-wrap;
  font-weight: lighter;
}

.swagger pre > code span {
  position: relative;
  z-index: 1;
}

.swagger .paragraph,
.swagger .dlist,
.swagger .hdlist,
.swagger .olist,
.swagger .ulist,
.swagger .exampleblock,
.swagger .imageblock,
.swagger .listingblock,
.swagger .literalblock,
.swagger .sidebarblock,
.swagger .verseblock,
.swagger .videoblock,
.swagger .quoteblock,
.swagger .partintro,
.swagger details,
.swagger hr {
  margin: 1rem 0 0;
}

.swagger .ulist.two-column {
  column-count: 2;
}

.swagger table.tableblock {
  font-size: calc(17 / var(--rem-base) * 1rem);
}

.tablecontainer {
  overflow-x: auto;
}

.swagger .clippedcontainer table.tableblock thead {
  background: var(--sticky-table-header-background);
  position: sticky;
  top: -1px;
  z-index: var(--z-index-nav);
}

.content .tablecontainer {
  margin-bottom: 1.25em;
}

.content .tablecontainer > table.tableblock {
  margin-bottom: 0;
}

.swagger :not(.tablecontainer) > table.tableblock,
.swagger :not(.tablecontainer) > table.tableblock + * {
  margin-top: 1.5rem;
}

.swagger p.tableblock + p.tableblock {
  margin-top: 0.5rem;
}

.swagger td.tableblock > .content > :first-child {
  margin-top: 0;
}

.swagger table.tableblock th,
.swagger table.tableblock td {
  padding: 0.5rem;
}

.swagger table.tableblock,
.swagger table.tableblock > * > tr > * {
  border: 1px solid var(--table-border-color);
}

.swagger table.tableblock th {
  text-align: center;
}

.swagger table.grid-all > * > tr > * {
  border-width: 1px;
}

.swagger table.grid-cols > * > tr > * {
  border-width: 0 1px;
}

.swagger table.grid-rows > * > tr > * {
  border-width: 1px 0;
}

.swagger table.grid-all > thead th,
.swagger table.grid-rows > thead th {
  border-bottom-width: 2.5px;
}

.swagger table.frame-all {
  border-width: 1px;
}

.swagger table.frame-ends {
  border-width: 1px 0;
}

.swagger table.frame-sides {
  border-width: 0 1px;
}

.swagger table.frame-none > colgroup + * > :first-child > *,
.swagger table.frame-sides > colgroup + * > :first-child > * {
  border-top-width: 0;
}

/* NOTE let the grid win in case of frame-none */
.swagger table.frame-sides > :last-child > :last-child > * {
  border-bottom-width: 0;
}

.swagger table.frame-none > * > tr > :first-child,
.swagger table.frame-ends > * > tr > :first-child {
  border-left-width: 0;
}

.swagger table.frame-none > * > tr > :last-child,
.swagger table.frame-ends > * > tr > :last-child {
  border-right-width: 0;
}

.swagger table.stripes-all > tbody > tr,
.swagger table.stripes-odd > tbody > tr:nth-of-type(odd),
.swagger table.stripes-even > tbody > tr:nth-of-type(even),
.swagger table.stripes-hover > tbody > tr:hover,
.swagger table.tableblock thead {
  background: var(--table-stripe-background);
}

.swagger table.tableblock > tfoot {
  background: var(--table-footer-background);
}

.swagger .halign-left {
  text-align: left;
}

.swagger .halign-right {
  text-align: right;
}

.swagger .halign-center {
  text-align: center;
}

.swagger .valign-top {
  vertical-align: top;
}

.swagger .valign-bottom {
  vertical-align: bottom;
}

.swagger .valign-middle {
  vertical-align: middle;
}
