.opblock-summary-path {
  max-width: none !important;
  flex-shrink: unset !important;
}

.swagger {
  color: var(--body-font-color);
  hyphens: auto;
  line-height: var(--doc-line-height);
}

.swagger .main-content-inner--read-mode {
  max-width: 1800px;
  margin: 0 auto;
}

.swagger .glossary-term,
.swagger p a,
.swagger table a,
.swagger p a > code {
  color: var(--link-font-color);
}

.swagger a:hover,
.swagger .glossary-term:hover,
.swagger p a > code:hover {
  color: var(--link_hover-font-color);
}

.swagger code,
.swagger pre,
.m-markdown-small pre,
.m-markdown pre {
  hyphens: none;
  color: var(--code-font-color);
  background: var(--pre-background);
  white-space: pre-wrap !important;
}

.m-markdown code {
  color: var(--body-font-color);
}

.swagger p code,
.swagger code,
.swagger thead code,
.swagger .colist > table code {
  color: var(--code-font-color);
  background: var(--code-background);
  border: 0.1rem solid #0000001a;
  font-weight: lighter;
  border-radius: 0.25em;
  font-size: 0.88rem;
  padding: 0.125em 0.25em;
}

/* Override Prism.js styles */
.swagger code .token.operator,
.swagger code .token.url {
  background-color: inherit;
}

.swagger pre {
  font-size: calc(16 / var(--rem-base) * 1rem);
  line-height: 1.5;
  margin: 0;
  padding: 1em;
}

.swagger pre > code {
  padding-bottom: 1rem;
  border: none;
  font-weight: lighter;
}

.swagger pre > code span {
  position: relative;
  z-index: 1;
}

.swagger .paragraph,
.swagger .dlist,
.swagger .hdlist,
.swagger .olist,
.swagger .ulist,
.swagger .exampleblock,
.swagger .imageblock,
.swagger .listingblock,
.swagger .literalblock,
.swagger .sidebarblock,
.swagger .verseblock,
.swagger .videoblock,
.swagger .quoteblock,
.swagger .partintro,
.swagger details,
.swagger hr {
  margin: 1rem 0 0;
}

.swagger .ulist.two-column {
  column-count: 2;
}

.swagger table.tableblock {
  font-size: calc(17 / var(--rem-base) * 1rem);
}

.tablecontainer {
  overflow-x: auto;
}

.swagger .clippedcontainer table.tableblock thead {
  background: var(--sticky-table-header-background);
  position: sticky;
  top: -1px;
  z-index: var(--z-index-nav);
}

.content .tablecontainer {
  margin-bottom: 1.25em;
}

.content .tablecontainer > table.tableblock {
  margin-bottom: 0;
}

.swagger :not(.tablecontainer) > table.tableblock,
.swagger :not(.tablecontainer) > table.tableblock + * {
  margin-top: 1.5rem;
}

.swagger p.tableblock + p.tableblock {
  margin-top: 0.5rem;
}

.swagger td.tableblock > .content > :first-child {
  margin-top: 0;
}

.swagger table.tableblock th,
.swagger table.tableblock td {
  padding: 0.5rem;
}

.swagger table.tableblock,
.swagger table.tableblock > * > tr > * {
  border: 1px solid var(--table-border-color);
}

.swagger table.tableblock th {
  text-align: center;
}

.swagger table.grid-all > * > tr > * {
  border-width: 1px;
}

.swagger table.grid-cols > * > tr > * {
  border-width: 0 1px;
}

.swagger table.grid-rows > * > tr > * {
  border-width: 1px 0;
}

.swagger table.grid-all > thead th,
.swagger table.grid-rows > thead th {
  border-bottom-width: 2.5px;
}

.swagger table.frame-all {
  border-width: 1px;
}

.swagger table.frame-ends {
  border-width: 1px 0;
}

.swagger table.frame-sides {
  border-width: 0 1px;
}

.swagger table.frame-none > colgroup + * > :first-child > *,
.swagger table.frame-sides > colgroup + * > :first-child > * {
  border-top-width: 0;
}

/* NOTE let the grid win in case of frame-none */
.swagger table.frame-sides > :last-child > :last-child > * {
  border-bottom-width: 0;
}

.swagger table.frame-none > * > tr > :first-child,
.swagger table.frame-ends > * > tr > :first-child {
  border-left-width: 0;
}

.swagger table.frame-none > * > tr > :last-child,
.swagger table.frame-ends > * > tr > :last-child {
  border-right-width: 0;
}

.swagger table.stripes-all > tbody > tr,
.swagger table.stripes-odd > tbody > tr:nth-of-type(odd),
.swagger table.stripes-even > tbody > tr:nth-of-type(even),
.swagger table.stripes-hover > tbody > tr:hover,
.swagger table.tableblock thead {
  background: var(--table-stripe-background);
}

.swagger table.tableblock > tfoot {
  background: var(--table-footer-background);
}

.swagger .halign-left {
  text-align: left;
}

.swagger .halign-right {
  text-align: right;
}

.swagger .halign-center {
  text-align: center;
}

.swagger .valign-top {
  vertical-align: top;
}

.swagger .valign-bottom {
  vertical-align: bottom;
}

.swagger .valign-middle {
  vertical-align: middle;
}

/* Dan's edits */
.rapidoc-container {
  height: 100%;
  width: 100%;
  display: block;
  padding-top: 0.5rem;
  padding-top: var(--navbar-height);
}

.swagger .nav-bar {
  border-right: 1px solid var(--nav-border-color);
  width: var(--nav-width);
  padding-top: 0.5rem;
}

.swagger .title,
.swagger #api-title,
.swagger h1,
.swagger h2,
.swagger h3,
.swagger h4 {
  font-weight: bold !important;
  font-family: var(--heading-font-family);
  text-transform: capitalize !important;
}

.req-res-title::first-line {
  font-weight: bold !important;
  font-family: var(--heading-font-family);
  text-transform: capitalize !important;
  color: red;
}

::part(section-navbar-scroll) {
  padding-left: 1rem;
  padding-right: 0.5rem;
  padding-bottom: 2rem;
}

::part(section-overview-title) {
  padding-top: 3rem;
}

::part(section-servers) > h2,
::part(section-auth) > h2 {
  padding-top: 5rem !important;
}

::part(section-tag) {
  border-color: var(--nav-border-color);
  padding-top: 4rem;
}

::part(section-operation) {
  margin-top: 3rem;
}

::part(section-operation-summary) {
  padding-top: 2rem;
  margin-bottom: 0;
  scroll-margin-top: 4rem !important;
  scroll-padding-top: 4rem !important;
}

::part(operation-divider) {
  display: none;
}

::part(section-navbar-item section-navbar-path) {
  padding-left: 1.5rem;
}

::part(section-navbar-tag) {
  padding-left: 1.25rem;
}

::part(section-navbar-operations-top) {
  justify-content: flex-start;
  margin-left: -6px;
}

::part(section-operations-in-tag) {
  padding-top: 1rem;
}

::part(section-operation-webhook-method) {
  background: var(--pre-background);
  padding: 0.5rem 1rem;
  width: fit-content;
  border-radius: 5px;
  margin: 0.25rem 0 0.75rem;
}

.expanded-req-resp-container .response-panel {
  border: 0 !important;
}

.swagger .left-bar.active {
  border-color: transparent !important;
  background: var(--nav-hover-bg-color) !important;
}

.swagger .nav-bar-section {
  text-align: left !important;
  background: transparent !important;
  cursor: default;
  margin-top: 1.5rem;
  padding-left: 1rem;
  padding-bottom: 0;
  font-size: 0.7rem;
}

.swagger .nav-bar-section:hover {
  cursor: default;
  background-color: transparent;
  color: default !important;
}

.swagger .nav-bar-section-title {
  padding-left: 0.25rem;
}

.swagger .nav-bar-section > div:first-child {
  display: none !important;
}

.m-table .param-name {
  text-align: left;
}

.m-table .param-type {
  text-align: left;
}

.swagger .breadcrumbs {
  display: none;
  flex: 1 1;
  padding: 0 0.5rem 0 0.75rem;
  line-height: var(--nav-line-height);
}

@media screen and (min-width: 1024px) {
  .swagger .breadcrumbs {
    display: block;
  }
}

.swagger a + .breadcrumbs {
  padding-left: 0.05rem;
}

.swagger .breadcrumbs ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0.9rem;
}

.swagger .breadcrumbs li {
  display: inline;
  margin: 0;
}

.swagger .breadcrumbs li::after {
  content: "\203A";
  padding: 0 0.5rem;
}

.swagger .breadcrumbs li:last-of-type::after {
  content: none;
}

.swagger .breadcrumbs li a {
  padding: 7px;
}

.swagger .breadcrumbs li:hover a,
.swagger .breadcrumbs li:last-child a {
  color: var(--link-font-color);
  border-radius: 1.5rem;
  background-color: var(--link-highlight-background-color);
  text-decoration: none;
}

/*
Shadow Root CSS
- this works by using the tags exposed in exportparts under the custom HTML elements in the DOM.
- more info on how to use here:
-- https://developer.mozilla.org/en-US/docs/Web/HTML/Global_attributes/exportparts
--https://jordanbrennan.hashnode.dev/8-ways-to-style-the-shadow-dom
- the format exposed is "internal:external" where you can use "external" to target in this CSS sheet
- unfortunately not everything is exposed, so you cannot target general classes

// API Request parts = <api-request>
wrap-request-btn:wrap-request-btn,
btn:btn,
btn-fill:btn-fill,
btn-outline:btn-outline,
btn-try:btn-try,
btn-clear:btn-clear,
btn-clear-resp:btn-clear-resp,
file-input:file-input,
textbox:textbox,
textbox-param:textbox-param,
textarea:textarea,
textarea-param:textarea-param,
anchor:anchor,
anchor-param-example:anchor-param-example,
schema-description:schema-description,
schema-multiline-toggle:schema-multiline-toggle

// API Response parts = <api-response>
btn:btn,
btn-response-status:btn-response-status,
btn-selected-response-status:btn-selected-response-status,
btn-fill:btn-fill,
btn-copy:btn-copy,
schema-description:schema-description,
schema-multiline-toggle:schema-multiline-toggle

// JSON tree parts = <json-tree>
btn:btn,
btn-fill:btn-fill,
btn-copy:btn-copy
*/

/* Outer container for API elements */
.expanded-req-resp-container {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 1fr; /* change this to 1fr 1fr for 2 columns */
  gap: 1rem;
}

/* End Dan's edits */
