.thumbs {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.thumb {
  color: var(--link-highlight-color);
  background: none;
  border: none;
}

.thumb:hover {
  color: var(--link_hover-font-color);
}
