.toc-menu-dropdown {
  background-color: var(--tabs_hover-background);
  width: 100%;
  padding: 0.4em;
  margin-bottom: 10px;
  margin-top: 10px;
  vertical-align: middle;
  border-radius: 8px 8px 0 0;
}

.toc-menu-dropdown:hover {
  cursor: pointer;
}

.doc .toc-menu-dropdown h3::after {
  content: '';
  background: transparent url(../img/caret.svg) no-repeat center / 100%;
  border: none;
  filter: var(--nav-toggle-filter);
  transform: rotate(180deg);
  outline: none;
  line-height: inherit;
  padding: 0;
  height: calc(var(--nav-line-height) * 1.5em);
  width: calc(var(--nav-line-height) * 1.5em);
}

.doc .toc-menu-dropdown h3 {
  margin: 0;
  font-size: 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.toc .toc-menu-dropdown > .toc-menu a {
  color: var(--toc-font-color);
  border-left: none;
  padding: 0.5em 0.5em 0.3em 0;
  text-decoration: none;
}

.toc .toc-menu-dropdown > .toc-menu {
  border-top: 1px solid #dadde1;
}

.toc.sidebar .thumbs {
  align-items: flex-start;
  padding: 0.25rem 0 1rem 1rem;
  margin-top: 40px;
}

.toc h3 {
  color: var(--toc-heading-font-color);
  font-size: var(--secondary-font-size);
  font-family: var(--body-font-family-bold);
  line-height: 1.3;
  margin: 0 -0.5px;
  padding-bottom: 0.25rem;
}

.toc.sidebar h3 {
  display: flex;
  flex-direction: column;
  height: 2.5rem;
  justify-content: flex-end;
}

.toc ul {
  line-height: var(--toc-line-height);
  list-style: none;
  margin: 0;
  padding: 0;
}

.toc.sidebar ul {
  overflow-x: hidden;
  text-overflow: ellipsis;
}

@supports (scrollbar-width: none) {
  .toc.sidebar ul {
    scrollbar-width: none;
  }
}

.toc ul::-webkit-scrollbar {
  width: 0;
  height: 0;
}

@media screen and (min-width: 1024px) {
  .toc h3 {
    font-size: var(--secondary-font-size);
  }

  .toc ul {
    font-size: var(--secondary-font-size);
  }

  .toc .toc-menu {
    text-overflow: ellipsis;
    word-wrap: normal;
  }

  .toc.sidebar {
    top: calc(var(--navbar-height) + var(--announcement-bar-height--desktop));
  }
}

.toc li {
  margin: 0;
}

.toc li[data-level="2"] a {
  padding-left: 1.5rem;
}

.toc li[data-level="3"] a {
  padding-left: 2rem;
}

.toc li[data-level="4"] a {
  padding-left: 2.5rem;
}

.toc li[data-level="5"] a {
  padding-left: 3rem;
}

.toc a {
  color: var(--toc-font-color);
  border-left: 2px solid var(--toc-border-color);
  display: inline-block;
  padding: 6px 0 6px 1rem;
  text-decoration: none;
}

.toc .thumbs a {
  border: none;
  padding-left: 0;
}

.sidebar.toc a {
  display: block;
  outline: none;
}

.toc a:hover {
  color: var(--link-highlight-color);
}

.toc a.is-active {
  border-left-color: var(--link-highlight-color);
  color: var(--link-highlight-color);
}

.sidebar.toc a:focus {
  background: var(--panel-background);
}

.toc .is-hidden-toc {
  display: none !important;
}

.toc.sidebar {
  position: sticky;
  height: fit-content;
  max-height: var(--nav-height);
  font-size: var(--secondary-font-size);
  font-weight: 300;
  color: var(--toc-font-color);
  max-width: var(--toc-width);
  overflow-y: auto;
  overflow-x: hidden;
  text-overflow: ellipsis;
  flex: 0 0 var(--toc-width);
  word-wrap: break-word;
  top: calc(var(--navbar-height) + var(--announcement-bar-height));
  /* Reserve space for TOC to prevent CLS when JavaScript populates it */
  min-width: var(--toc-width);
}

/* Reserve space for TOC menu before JavaScript populates it */
/* Apply containment to inner wrapper to preserve position: sticky on parent */
.toc.sidebar .toc-menu {
  min-height: 300px;
  /* Isolate rendering without breaking parent sticky positioning */
  contain: layout style;
}

@media screen and (min-width: 1350px) {
  .toc.sidebar {
    width: var(--toc-width--widescreen);
    max-width: 400px;
  }
}
