.toolbar {
  color: var(--toolbar-font-color);
  background-color: var(--toolbar-background);
  display: flex;
  font-size: var(--secondary-font-size);
  height: var(--toolbar-height);
  justify-content: flex-start;
  position: sticky;
  flex-wrap: wrap;
  align-items: flex-end;
  top: calc(var(--navbar-height) + var(--announcement-bar-height));
  z-index: var(--z-index-toolbar);
}

.toolbar a {
  color: inherit;
}

.nav-toggle {
  background: url(../img/menu.svg) no-repeat 50% 47.5%;
  background-size: 49%;
  border: none;
  outline: none;
  line-height: inherit;
  padding: 0;
  height: calc(var(--toolbar-height));
  width: calc(var(--toolbar-height));
  margin-right: -0.25rem;
}

html[data-theme=dark] .nav-toggle {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(248deg) brightness(105%) contrast(101%);
}

@media screen and (min-width: 1024px) {
  .nav-toggle {
    display: none;
  }

  .toolbar {
    display: none;
  }
}

.nav-toggle.is-active {
  background-image: url(../img/back.svg);
  background-size: 41.5%;
}

html[data-theme=dark] .home-link {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(248deg) brightness(105%) contrast(101%);
}

.edit-this-page {
  display: none;
  padding-right: 0.5rem;
}

@media screen and (min-width: 1024px) {
  .edit-this-page {
    display: block;
  }
}

.toolbar .edit-this-page a {
  color: var(--toolbar-muted-color);
}
