@font-face {
  font-family: "Calibre Regular";
  font-style: normal;
  font-weight: 400;
  src:
    local("Calibre Regular"),
    url(../font/calibre-Regular.woff2) format("woff2");
  font-display: swap;
}
