@font-face {
  font-family: "Patron Medium";
  font-style: normal;
  font-weight: 400;
  src:
    local("Patron Medium"),
    url(../font/Patron-Medium.woff2) format("woff2");
  font-display: swap;
}
