html:not([data-theme=dark]),
html[data-theme=dark] {
  --ash-900: #212121;
  --ash-800: #252525;
  --ash-700: #292929;
  --ash-600: #3e3e3e;
  --ash-500: #545454;
  --ash-400: #696969;
  --ash-300: #bfbfbf;
  --ash-200: #d4d4d4;
  --ash-100: #eaeaea;
  --ash-50: #f4f4f4;
  --ash-25: #f9f9f9;
  --slate-900: #101828;
  --slate-800: #1d2939;
  --slate-700: #344054;
  --slate-600: #475467;
  --slate-500: #667085;
  --slate-400: #98a2b3;
  --slate-300: #d0d5dd;
  --slate-200: #eaecf0;
  --slate-100: #f2f4f7;
  --slate-50: #f9fafb;
  --slate-25: #fcfcfd;
  --saphire-900: #111322;
  --saphire-800: #30374f;
  --saphire-700: #404968;
  --saphire-600: #4a5578;
  --saphire-500: #5d6b98;
  --saphire-400: #7d89b0;
  --saphire-300: #b9c0d4;
  --saphire-200: #dcdfea;
  --saphire-100: #eff1f5;
  --saphire-50: #f9f9fb;
  --saphire-25: #fcfcfd;
  --sepia-900: #1d1711;
  --sepia-800: #392e21;
  --sepia-700: #564632;
  --sepia-600: #725d42;
  --sepia-500: #8e7453;
  --sepia-400: #a78b67;
  --sepia-300: #b7a184;
  --sepia-200: #c8b6a0;
  --sepia-100: #d8ccbd;
  --sepia-50: #e9e2d9;
  --sepia-25: #f4f1ec;
  --amber-900: #713b12;
  --amber-800: #854a0e;
  --amber-700: #a15c07;
  --amber-600: #ca8504;
  --amber-500: #eaaa08;
  --amber-400: #fac515;
  --amber-300: #fde272;
  --amber-200: #feee95;
  --amber-100: #fef7c3;
  --amber-50: #fefbe8;
  --amber-25: #fefdf0;
  --saffron-900: #be5107;
  --saffron-800: #da5d08;
  --saffron-700: #f77923;
  --saffron-600: #f88639;
  --saffron-500: #f9944f;
  --saffron-400: #faa165;
  --saffron-300: #fbb77b;
  --saffron-200: #fbbc91;
  --saffron-100: #fdd7bd;
  --saffron-50: #feefe4;
  --saffron-25: #fef2e9;
  --redpanda-1000: #a33016;
  --redpanda-900: #c83918;
  --redpanda-800: #e2401b;
  --redpanda-700: #e65433;
  --redpanda-600: #ed7f66;
  --redpanda-500: #f0947f;
  --redpanda-400: #f3aa99;
  --redpanda-300: #f6bfb2;
  --redpanda-200: #f9cbc1;
  --redpanda-100: #f9d4cc;
  --redpanda-50: #fceae5;
  --redpanda-25: #fff5f5;
  --light-dark: #262626;
  /* colors */
  --color-white: #fff;
  --color-smoke-10: var(--ash-25);
  --color-smoke-30: var(--ash-50);
  --color-smoke-50: var(--ash-50);
  --color-smoke-70: var(--ash-100);
  --color-smoke-90: var(--ash-200);
  --color-gray-10: var(--ash-300);
  --color-gray-30: var(--ash-400);
  --color-gray-40: var(--ash-400);
  --color-gray-50: var(--ash-500);
  --color-gray-70: var(--slate-500);
  --color-jet-20: var(--ash-600);
  --color-jet-30: var(--ash-700);
  --color-jet-50: var(--ash-900);
  --color-jet-60: var(--ash-900);
  --color-jet-70: var(--slate-900);
  --color-jet-80: var(--slate-900);
  --color-black: var(--slate-900);
  /* fonts */
  --rem-base: 18; /* used to compute rem value from desired pixel value (e.g., calc(18 / var(--rem-base) * 1rem) = 18px) */
  --body-font-size: calc(18 / var(--rem-base) * 1rem);
  --body-font-size--desktop: var(--body-font-size);
  --body-font-size--print: 0.9375em;
  --body-line-height: 1.15;
  --body-font-family: "Inter", "Open Sans", arial, helvetica, sans-serif;
  --body-font-weight-bold: bold;
  --body-font-family-bold: "Inter SemiBold", "Calibre Regular", "Open Sans", arial, helvetica, sans-serif;
  --monospace-font-family: "IBM Plex Mono", inter, "Courier Prime", courier, monospace;
  --monospace-font-weight-bold: 500;
  --alt-heading-font-weight: 800;
  /* nav */
  --nav-line-height: 1.35;
  /* admonitions */
  --admonition-border-left-width: 5px;
  --admonition-border-radius: 1px;
  --admonition-box-shadow: 0 1px 2px 0 #0000001a;
  --admonition-padding: 1rem;
  /* doc */
  --doc-font-size: inherit;
  --doc-font-size--desktop: var(--body-font-size);
  --doc-line-height: 1.75;
  --heading-font-weight: 700;
  --heading-font-family: "Inter Medium", georgia, "Times New Roman", "Palatino Linotype", "Book Antiqua", garamond, "Roboto Slab", serif;
  --admonition-label-font-weight: var(--body-font-weight-bold);
  --caption-font-style: normal;
  --caption-font-weight: var(--body-font-weight-bold);
  --link-highlight-color: #444ce7;
  --link-highlight-background-color: rgba(68, 76, 231, 0.08);
  /* toc */
  --toc-line-height: 1.2;
  /* footer */
  --footer-line-height: var(--doc-line-height);
  /* dimensions and positioning */
  --navbar-height: calc(70 / var(--rem-base) * 1rem);
  --toolbar-height: calc(45 / var(--rem-base) * 1rem);
  --drawer-height: var(--toolbar-height);
  --body-top: var(--navbar-height);
  --body-min-height: calc(100vh - var(--body-top));
  --nav-height: calc(var(--body-min-height) - var(--toolbar-height) - 150px);
  --nav-height--desktop: var(--body-min-height);
  --nav-panel-menu-height: calc(100% - var(--drawer-height));
  --nav-panel-explore-height: calc(50% + var(--drawer-height));
  --nav-width: calc(270 / var(--rem-base) * 1rem);
  --toc-top: calc(var(--body-top) + var(--toolbar-height) + 3rem);
  --toc-height: calc(100vh - var(--toc-top) - 2.5rem);
  --toc-width: calc(200 / var(--rem-base) * 1rem);
  --toc-width--widescreen: calc(250 / var(--rem-base) * 1rem);
  --doc-max-width: 55rem;
  /* stacking */
  --z-index-page-version-menu: 2;
  --z-index-nav: 3;
  --z-index-toolbar: 4;
  --z-index-navbar: 5;
  /* Algolia */
  --aa-detached-modal-max-width: 1000px;
  --aa-spacing-factor: 1.3;
  --aa-primary-color-rgb: 241, 93, 97;
  /* Prism */
  --highlight-background: rgba(255, 255, 0, 0.23);
}

html:not([data-theme=dark]) {
  --body-font-color: #333;
  --body-faint-font-color: #667085;
  --body-footer-font-color: #98a2b3;
  /* base */
  --body-background: var(--color-white);
  --panel-background: #f9fafb;
  --panel-border-color: var(--color-smoke-90);
  --scrollbar-track-color: var(--color-smoke-30);
  --scrollbar-thumb-color: var(--color-gray-10);
  --scrollbar_hover-thumb-color: var(--color-gray-30);
  --sticky-table-header-background: #f6f6f6;
  /* search */
  --search-hits-boxshadow: 0 0 0 1px rgba(35, 38, 59, 0.05), 0 1px 3px 0 rgba(35, 38, 59, 0.15);
  --search-detached-mode-background: #f5f6f7;
  --search-icon-color: unset;
  /* navbar */
  --navbar-background: var(--color-white);
  --navbar-font-color: #a8b2c7;
  --navbar_hover-background: var(--color-white);
  --navbar-button-background: var(--color-white);
  --navbar-button-border-color: var(--panel-border-color);
  --navbar-button-font-color: var(--body-font-color);
  --navbar-menu-border-color: var(--panel-border-color);
  --navbar-menu-background: var(--color-white);
  --navbar-menu-font-color: var(--navbar-font-color);
  --navbar-menu_hover-background: var(--color-smoke-50);
  --navbar-boxshadow: 1px 3px 5px var(--ash-50);
  --navbar-dropdown-boxshadow: 0 4px 10px #0003;
  --navbar-dropdown-background-hover-color: #0000000d;

  /* navbar animations */
  --transition-timing-default: cubic-bezier(0.08, 0.52, 0.52, 1);
  --transition-fast: 200ms;

  /* nav */
  --nav-background: white;
  --nav-border-color: var(--slate-100);
  --nav-heading-font-color: var(--color-jet-30);
  --nav-muted-color: var(--color-gray-70);
  --nav-panel-divider-color: var(--color-smoke-90);
  --nav-secondary-background: var(--color-smoke-70);
  --nav-toggle-filter: '';
  /* toolbar */
  --toolbar-background: var(--body-background);
  --toolbar-border-color: var(--panel-border-color);
  --toolbar-font-color: var(--color-gray-70);
  --toolbar-muted-color: var(--color-gray-40);
  --page-version-menu-background: var(--color-smoke-70);
  --page-version-font-color: inherit;
  --page-version-missing-font-color: var(--color-gray-40);
  /* feedback */
  --feedback-modal-background: #fefefe;
  /* admonitions */
  --important-color: #a0439c;
  --important-background: #e5dcf56b;
  --important-on-color: #a0439c;
  --warning-color: #e13238;
  --warning-background: #ffebec;
  --warning-on-color: #4b1113;
  --note-color: #4cb3d4;
  --note-background: #eef9fd;
  --note-on-color: #193c47;
  --tip-color: #009400;
  --tip-background: #e6f6e6;
  --tip-on-color: #003100;
  --caution-color: #e6a700;
  --caution-background: #fff8e6;
  --caution-on-color: #4d3800;
  /* doc */
  --doc-font-color: var(--color-jet-50);
  --heading-font-color: var(--color-jet-80);
  --section-divider-color: var(--panel-border-color);
  --link-font-color: var(--redpanda-800);
  --link-highlight-background-color: #0000000d;
  --link_hover-font-color: var(--redpanda-900);
  --link_unresolved-font-color: var(--redpanda-800);
  --abstract-background: var(--color-smoke-70);
  --abstract-font-color: var(--color-jet-20);
  --abstract-border-color: var(--panel-border-color);
  --admonition-background: var(--panel-background);
  --admonition-label-font-weight: var(--body-font-weight-bold);
  --caption-font-color: var(--color-gray-70);
  --caption-background-color: #f6f8fa;
  --caption-font-style: normal;
  --tabs_hover-background: #0000000d;
  --caption-font-weight: normal;
  --code-background: var(--panel-background);
  --code-font-color: rgb(0 0 0/1);
  --editable-code-font-color: var(--link-font-color);
  --editable-background: #eff0f1;
  --example-background: var(--color-white);
  --example-border-color: var(--color-gray-70);
  --kbd-background: var(--panel-background);
  --kbd-border-color: var(--color-gray-10);
  --pre-background: var(--panel-background);
  --pre-border-color: var(--panel-border-color);
  --pre-annotation-font-color: var(--color-gray-50);
  --quote-background: var(--panel-background);
  --quote-border-color: var(--color-gray-70);
  --quote-font-color: var(--color-gray-70);
  --quote-attribution-font-color: var(--color-gray-40);
  --sidebar-background: var(--color-smoke-90);
  --table-border-color: var(--panel-border-color);
  --table-stripe-background: #00000008;
  --table-footer-background: linear-gradient(to bottom, var(--color-smoke-70) 0%, var(--color-white) 100%);
  /* toc */
  --toc-font-color: var(--nav-muted-color);
  --toc-heading-font-color: var(--doc-font-color);
  --toc-border-color: var(--panel-border-color);
  /* footer */
  --footer-line-height: var(--doc-line-height);
  --footer-background: var(--slate-50);
  --footer-font-color: var(--color-gray-70);
  --footer-link-font-color: var(--color-jet-80);
  /* home */
  --highlight-container-background: #f9fafb;
}
