html:not([data-theme=dark]),
html[data-theme=dark] {
  --ash-900: #212121;
  --ash-800: #252525;
  --ash-700: #292929;
  --ash-600: #3e3e3e;
  --ash-500: #545454;
  --ash-400: #696969;
  --ash-300: #bfbfbf;
  --ash-200: #d4d4d4;
  --ash-100: #eaeaea;
  --ash-50: #f4f4f4;
  --ash-25: #f9f9f9;
  --slate-900: #101828;
  --slate-800: #1d2939;
  --slate-700: #344054;
  --slate-600: #475467;
  --slate-500: #667085;
  --slate-400: #98a2b3;
  --slate-300: #d0d5dd;
  --slate-200: #eaecf0;
  --slate-100: #f2f4f7;
  --slate-50: #f9fafb;
  --slate-25: #fcfcfd;
  --saphire-900: #111322;
  --saphire-800: #30374f;
  --saphire-700: #404968;
  --saphire-600: #4a5578;
  --saphire-500: #5d6b98;
  --saphire-400: #7d89b0;
  --saphire-300: #b9c0d4;
  --saphire-200: #dcdfea;
  --saphire-100: #eff1f5;
  --saphire-50: #f9f9fb;
  --saphire-25: #fcfcfd;
  --sepia-900: #1d1711;
  --sepia-800: #392e21;
  --sepia-700: #564632;
  --sepia-600: #725d42;
  --sepia-500: #8e7453;
  --sepia-400: #a78b67;
  --sepia-300: #b7a184;
  --sepia-200: #c8b6a0;
  --sepia-100: #d8ccbd;
  --sepia-50: #e9e2d9;
  --sepia-25: #f4f1ec;
  --amber-900: #713b12;
  --amber-800: #854a0e;
  --amber-700: #a15c07;
  --amber-600: #ca8504;
  --amber-500: #eaaa08;
  --amber-400: #fac515;
  --amber-300: #fde272;
  --amber-200: #feee95;
  --amber-100: #fef7c3;
  --amber-50: #fefbe8;
  --amber-25: #fefdf0;
  --saffron-900: #be5107;
  --saffron-800: #da5d08;
  --saffron-700: #f77923;
  --saffron-600: #f88639;
  --saffron-500: #f9944f;
  --saffron-400: #faa165;
  --saffron-300: #fbb77b;
  --saffron-200: #fbbc91;
  --saffron-100: #fdd7bd;
  --saffron-50: #feefe4;
  --saffron-25: #fef2e9;
  --redpanda-1000: #a33016;
  --redpanda-900: #c83918;
  --redpanda-800: #e2401b;
  --redpanda-700: #e65433;
  --redpanda-600: #ed7f66;
  --redpanda-500: #f0947f;
  --redpanda-400: #f3aa99;
  --redpanda-300: #f6bfb2;
  --redpanda-200: #f9cbc1;
  --redpanda-100: #f9d4cc;
  --redpanda-50: #fceae5;
  --redpanda-25: #fff5f5;
  --light-dark: #262626;
  /* colors */
  --color-white: #fff;
  --color-smoke-10: var(--ash-25);
  --color-smoke-30: var(--ash-50);
  --color-smoke-50: var(--ash-50);
  --color-smoke-70: var(--ash-100);
  --color-smoke-90: var(--ash-200);
  --color-gray-10: var(--ash-300);
  --color-gray-30: var(--ash-400);
  --color-gray-40: var(--ash-400);
  --color-gray-50: var(--ash-500);
  --color-gray-70: var(--slate-500);
  --color-jet-20: var(--ash-600);
  --color-jet-30: var(--ash-700);
  --color-jet-50: var(--ash-900);
  --color-jet-60: var(--ash-900);
  --color-jet-70: var(--slate-900);
  --color-jet-80: var(--slate-900);
  --color-black: var(--slate-900);
  /* fonts */
  --rem-base: 18; /* used to compute rem value from desired pixel value (e.g., calc(18 / var(--rem-base) * 1rem) = 18px) */
  --body-font-size: calc(17.5 / var(--rem-base) * 1rem);
  --body-font-size--desktop: var(--body-font-size);
  --secondary-font-size: calc(15.5 / var(--rem-base) * 1rem);
  --body-font-size--print: 0.9375em;
  --body-line-height: 1.15;
  --body-font-family: "Inter", sans-serif;
  --body-font-weight-bold: bold;
  --body-font-family-bold: "Inter SemiBold", "Calibre Regular", "Open Sans", arial, helvetica, sans-serif;
  --monospace-font-family: "IBM Plex Mono", "Courier Prime", courier, monospace;
  --monospace-font-weight-bold: 500;
  --alt-heading-font-weight: bold;
  /* nav */
  --nav-line-height: 1.3;
  /* admonitions */
  --admonition-border-left-width: 5px;
  --admonition-border-radius: 10px;
  --admonition-box-shadow: 0 1px 2px 0 #0000001a;
  --admonition-padding: 1rem;
  /* doc */
  --doc-font-size: inherit;
  --doc-font-size--desktop: var(--body-font-size);
  --doc-line-height: 1.6;
  --heading-font-weight: 500;
  --heading-font-family: "Inter", sans-serif;
  --admonition-label-font-weight: var(--body-font-weight-bold);
  --caption-font-style: normal;
  --caption-font-weight: var(--body-font-weight-bold);
  /* toc */
  --toc-line-height: 1.2;
  /* footer */
  --footer-line-height: var(--doc-line-height);
  /* dimensions and positioning */

  --navbar-height: calc(70 / var(--rem-base) * 1rem);
  --toolbar-top-padding: 32px;
  --toolbar-height: calc(50 / var(--rem-base) * 1rem);
  --drawer-height: 24px;
  --body-top: calc(var(--navbar-height) + var(--announcement-bar-height));
  --body-top--desktop: calc(var(--navbar-height) + var(--announcement-bar-height--desktop));
  --body-min-height: calc(100vh - var(--body-top));
  --nav-height: calc(var(--body-min-height) - var(--toolbar-height));
  --nav-collapse-height: 40px;
  --announcement-bar-height: 0px; /* stylelint-disable-line */
  --announcement-bar-height--desktop: 0px; /* stylelint-disable-line */
  --nav-height--desktop: var(--body-min-height);
  --nav-panel-menu-height: calc(100% - var(--drawer-height));
  --nav-panel-explore-height: calc(50% + var(--drawer-height));
  --nav-width: 250px;
  --toc-top: calc(var(--body-top) + var(--toolbar-height) + 3rem);
  --toc-height: calc(100vh - var(--toc-top) - 2.5rem);
  --toc-width: calc(250 / var(--rem-base) * 1rem);
  --toc-width--widescreen: 25%;
  --doc-max-width: 1000px;
  /* stacking */
  --z-index-page-version-menu: 2;
  --z-index-nav: 3;
  --z-index-toolbar: 4;
  --z-index-navbar: 5;
  /* Algolia */
  --aa-detached-modal-max-width: 1200px;
  --aa-spacing-factor: 0.8;
  /* Prism */
  --highlight-background: rgba(255, 255, 0, 0.23);
}

html:not([data-theme=dark]) {
  --body-font-color: #181818;
  --body-faint-font-color: #667085;
  --body-footer-font-color: #98a2b3;
  /* base */
  --body-background: var(--color-white);
  --banner-background: #f0f1fd;
  --home-background: #eff1f6;
  --card-color: #e4e9f0;
  --chip-color: rgba(45, 58, 83, 0.06);
  --chip-text-color: var(--body-font-color);
  --card-border-color: #c6cddb;
  --button-font-color: white;
  --panel-background: #f9fafb;
  --panel-border-color: #e5e9f0;
  --scrollbar-track-color: var(--color-smoke-30);
  --scrollbar-thumb-color: var(--color-gray-10);
  --scrollbar_hover-thumb-color: var(--color-gray-30);
  --sticky-table-header-background: #f6f6f6;
  --tooltip-background: var(--slate-900);
  --tooltip-font-color: white;
  --feature-background-color: var(--card-color);
  /* search */
  --search-hits-boxshadow: 0 0 0 1px rgba(35, 38, 59, 0.05), 0 1px 3px 0 rgba(35, 38, 59, 0.15);
  --search-detached-mode-background: #f5f6f7;
  --search-icon-color: unset;
  /* navbar */
  --navbar-background: var(--color-white);
  --navbar-font-color: #a8b2c7;
  --navbar_hover-background: var(--color-white);
  --navbar-button-background: var(--color-white);
  --navbar-button-border-color: var(--panel-border-color);
  --navbar-button-font-color: var(--body-font-color);
  --navbar-menu-border-color: var(--panel-border-color);
  --navbar-menu-background: var(--color-white);
  --navbar-menu-font-color: var(--navbar-font-color);
  --navbar-menu_hover-background: var(--color-smoke-50);
  --navbar-boxshadow: 1px 3px 5px var(--ash-50);
  --navbar-dropdown-boxshadow: 0 4px 10px #0003;
  --navbar-dropdown-background-hover-color: #0000000d;

  /* navbar animations */
  --transition-timing-default: cubic-bezier(0.08, 0.52, 0.52, 1);
  --transition-fast: 200ms;

  /* nav */
  --nav-background: white;
  --nav-border-color: var(--slate-100);
  --nav-heading-font-color: var(--color-jet-30);
  --nav-muted-color: var(--color-gray-70);
  --nav-panel-divider-color: var(--color-smoke-90);
  --nav-secondary-background: var(--color-smoke-70);
  --nav-toggle-filter: '';
  --color-aliases-static-palette-text-secondary: var(--color-primitives-global-grey-grey-700);
  /* toolbar */
  --toolbar-background: var(--body-background);
  --toolbar-border-color: var(--panel-border-color);
  --toolbar-font-color: var(--color-gray-70);
  --toolbar-muted-color: var(--color-gray-40);
  --page-version-menu-background: var(--color-smoke-70);
  --page-version-font-color: inherit;
  --page-version-missing-font-color: var(--color-gray-40);
  /* feedback */
  --feedback-modal-background: #fefefe;
  /* admonitions */
  --important-background: rgba(68, 76, 231, 0.1);
  --important-on-color: var(--body-font-color);
  --important-icon: url(../img/info-purple.svg) no-repeat center right / auto 100%;
  --warning-background: rgba(205, 55, 44, 0.1);
  --warning-on-color: var(--body-font-color);
  --warning-icon: url(../img/report-red.svg) no-repeat center right / auto 100%;
  --note-background: rgba(69, 173, 232, 0.1);
  --note-on-color: var(--body-font-color);
  --note-icon: url(../img/info-blue.svg) no-repeat center right / auto 100%;
  --tip-background: rgba(56, 161, 105, 0.1);
  --tip-on-color: var(--body-font-color);
  --tip-icon: url(../img/check-circle-green.svg) no-repeat center right / auto 100%;
  --caution-background: rgba(249, 161, 101, 0.1);
  --caution-on-color: var(--body-font-color);
  --caution-icon: url(../img/warning-orange.svg) no-repeat center right / auto 100%;
  /* doc */
  --doc-font-color: var(--color-jet-50);
  --heading-font-color: var(--color-jet-80);
  --section-divider-color: var(--panel-border-color);
  --link-font-color: var(--redpanda-800);
  --accordian-background: rgba(0, 0, 0, 0.05);
  --link-highlight-color: #444ce7;
  --highlight-border: #a4bcfd;
  --link-highlight-background-color: rgba(68, 76, 231, 0.08);
  --link_hover-font-color: #2c30a0;
  --link_unresolved-font-color: var(--redpanda-800);
  --abstract-background: var(--color-smoke-70);
  --abstract-font-color: var(--color-jet-20);
  --abstract-border-color: var(--panel-border-color);
  --admonition-background: var(--panel-background);
  --admonition-label-font-weight: var(--body-font-weight-bold);
  --caption-font-color: var(--color-gray-70);
  --caption-background-color: #f6f8fa;
  --caption-font-style: normal;
  --tabs_hover-background: #0000000d;
  --caption-font-weight: normal;
  --code-background: var(--panel-background);
  --code-font-color: rgb(0 0 0/1);
  --editable-code-font-color: var(--link-font-color);
  --editable-background: #eff0f1;
  --example-background: var(--color-white);
  --example-border-color: var(--color-gray-70);
  --kbd-background: var(--panel-background);
  --kbd-border-color: var(--color-gray-10);
  --pre-background: var(--panel-background);
  --pre-border-color: var(--panel-border-color);
  --pre-annotation-font-color: var(--color-gray-50);
  --quote-background: var(--panel-background);
  --quote-border-color: var(--color-gray-70);
  --quote-font-color: var(--color-gray-70);
  --quote-attribution-font-color: var(--color-gray-40);
  --sidebar-background: var(--color-smoke-90);
  --table-border-color: var(--panel-border-color);
  --table-stripe-background: #00000008;
  --table-footer-background: linear-gradient(to bottom, var(--color-smoke-70) 0%, var(--color-white) 100%);
  /* toc */
  --toc-font-color: var(--nav-muted-color);
  --toc-heading-font-color: var(--doc-font-color);
  --toc-border-color: var(--panel-border-color);
  /* footer */
  --footer-line-height: var(--doc-line-height);
  --footer-background: var(--slate-50);
  --footer-font-color: var(--color-gray-70);
  --footer-link-font-color: var(--color-jet-80);
  /* home */
  --highlight-container-background: #f9fafb;
}

/* RedPanda DS */
:root {
  /* Light Mode */
  /* color */
  --color-aliases-interactive-palette-opacity-brand-disabled: var(--color-primitives-alpha-primary-brand-primary-brand-alpha-500);
  --color-aliases-interactive-palette-opacity-brand-empty: var(--color-primitives-alpha-primary-brand-primary-brand-alpha-0);
  --color-aliases-interactive-palette-opacity-brand-enabled: var(--color-primitives-alpha-primary-brand-primary-brand-alpha-50);
  --color-aliases-interactive-palette-opacity-brand-enabled-strong: var(--color-primitives-alpha-primary-brand-primary-brand-alpha-300);
  --color-aliases-interactive-palette-opacity-brand-hover: var(--color-primitives-alpha-primary-brand-primary-brand-alpha-100);
  --color-aliases-interactive-palette-opacity-brand-pressed: var(--color-primitives-alpha-primary-brand-primary-brand-alpha-200);
  --color-aliases-interactive-palette-opacity-dark-disabled: var(--color-primitives-alpha-black-black-alpha-50);
  --color-aliases-interactive-palette-opacity-dark-empty: var(--color-primitives-alpha-black-black-alpha-0);
  --color-aliases-interactive-palette-opacity-dark-enabled: var(--color-primitives-alpha-black-black-alpha-50);
  --color-aliases-interactive-palette-opacity-dark-enabled-strong: var(--color-primitives-alpha-black-black-alpha-300);
  --color-aliases-interactive-palette-opacity-dark-hover: var(--color-primitives-alpha-black-black-alpha-100);
  --color-aliases-interactive-palette-opacity-dark-pressed: var(--color-primitives-alpha-black-black-alpha-200);
  --color-aliases-interactive-palette-opacity-error-disabled: var(--color-primitives-alpha-red-red-alpha-500);
  --color-aliases-interactive-palette-opacity-error-empty: var(--color-primitives-alpha-red-red-alpha-0);
  --color-aliases-interactive-palette-opacity-error-enabled: var(--color-primitives-alpha-red-red-alpha-50);
  --color-aliases-interactive-palette-opacity-error-enabled-strong: var(--color-primitives-alpha-red-red-alpha-200);
  --color-aliases-interactive-palette-opacity-error-hover: var(--color-primitives-alpha-red-red-alpha-100);
  --color-aliases-interactive-palette-opacity-error-pressed: var(--color-primitives-alpha-red-red-alpha-200);
  --color-aliases-interactive-palette-opacity-informative-empty: var(--color-primitives-alpha-blue-blue-alpha-0);
  --color-aliases-interactive-palette-opacity-informative-enabled: var(--color-primitives-alpha-blue-blue-alpha-50);
  --color-aliases-interactive-palette-opacity-informative-enabled-strong: var(--color-primitives-alpha-blue-blue-alpha-100);
  --color-aliases-interactive-palette-opacity-informative-hover: var(--color-primitives-alpha-blue-blue-alpha-300);
  --color-aliases-interactive-palette-opacity-informative-pressed: var(--color-primitives-alpha-blue-blue-alpha-400);
  --color-aliases-interactive-palette-opacity-light-disabled: var(--color-primitives-alpha-white-white-alpha-600);
  --color-aliases-interactive-palette-opacity-light-empty: var(--color-primitives-alpha-white-white-alpha-0);
  --color-aliases-interactive-palette-opacity-light-enabled: var(--color-primitives-alpha-white-white-alpha-50);
  --color-aliases-interactive-palette-opacity-light-enabled-strong: var(--color-primitives-alpha-white-white-alpha-300);
  --color-aliases-interactive-palette-opacity-light-hover: var(--color-primitives-alpha-white-white-alpha-100);
  --color-aliases-interactive-palette-opacity-light-pressed: var(--color-primitives-alpha-white-white-alpha-200);
  --color-aliases-interactive-palette-opacity-primary-disabled: var(--color-primitives-alpha-indigo-indigo-alpha-500);
  --color-aliases-interactive-palette-opacity-primary-empty: var(--color-primitives-alpha-indigo-indigo-alpha-0);
  --color-aliases-interactive-palette-opacity-primary-enabled: var(--color-primitives-alpha-indigo-indigo-alpha-50);
  --color-aliases-interactive-palette-opacity-primary-enabled-strong: var(--color-primitives-alpha-indigo-indigo-alpha-300);
  --color-aliases-interactive-palette-opacity-primary-hover: var(--color-primitives-alpha-indigo-indigo-alpha-100);
  --color-aliases-interactive-palette-opacity-primary-pressed: var(--color-primitives-alpha-indigo-indigo-alpha-200);
  --color-aliases-interactive-palette-opacity-secondary-disabled: var(--color-primitives-alpha-dark-blue-dark-blue-alpha-400);
  --color-aliases-interactive-palette-opacity-secondary-empty: var(--color-primitives-alpha-dark-blue-dark-blue-alpha-0);
  --color-aliases-interactive-palette-opacity-secondary-enabled: var(--color-primitives-alpha-dark-blue-dark-blue-alpha-50);
  --color-aliases-interactive-palette-opacity-secondary-enabled-strong: var(--color-primitives-alpha-dark-blue-dark-blue-alpha-500);
  --color-aliases-interactive-palette-opacity-secondary-pressed: var(--color-primitives-alpha-dark-blue-dark-blue-alpha-200);
  --color-aliases-interactive-palette-opacity-secondary-hover: var(--color-primitives-alpha-dark-blue-dark-blue-alpha-100);
  --color-aliases-interactive-palette-outline-brand-disabled: var(--color-primitives-global-grey-grey-400);
  --color-aliases-interactive-palette-outline-brand-enabled: var(--color-primitives-global-primary-brand-primary-brand-300);
  --color-aliases-interactive-palette-outline-brand-hover: var(--color-primitives-global-primary-brand-primary-brand-500);
  --color-aliases-interactive-palette-outline-brand-pressed: var(--color-primitives-global-primary-brand-primary-brand-500);
  --color-aliases-interactive-palette-outline-error-disabled: var(--color-primitives-global-grey-grey-400);
  --color-aliases-interactive-palette-outline-error-enabled: var(--color-primitives-global-red-red-400);
  --color-aliases-interactive-palette-outline-error-hover: var(--color-primitives-global-red-red-500);
  --color-aliases-interactive-palette-outline-error-pressed: var(--color-primitives-global-red-red-600);
  --color-aliases-interactive-palette-outline-informative-disabled: var(--color-primitives-global-grey-grey-400);
  --color-aliases-interactive-palette-outline-informative-enabled: var(--color-primitives-global-blue-blue-600);
  --color-aliases-interactive-palette-outline-informative-hover: var(--color-primitives-global-blue-blue-700);
  --color-aliases-interactive-palette-outline-informative-pressed: var(--color-primitives-global-blue-blue-800);
  --color-aliases-interactive-palette-outline-inverse-disabled: var(--color-primitives-global-grey-grey-50);
  --color-aliases-interactive-palette-outline-inverse-enabled: var(--color-primitives-global-dark-blue-dark-blue-100);
  --color-aliases-interactive-palette-outline-inverse-hover: var(--color-primitives-global-dark-blue-dark-blue-200);
  --color-aliases-interactive-palette-outline-inverse-pressed: var(--color-primitives-global-dark-blue-dark-blue-300);
  --color-aliases-interactive-palette-outline-neutral-disabled: var(--color-primitives-global-grey-grey-400);
  --color-aliases-interactive-palette-outline-neutral-enabled: var(--color-primitives-global-grey-grey-600);
  --color-aliases-interactive-palette-outline-neutral-hover: var(--color-primitives-global-grey-grey-800);
  --color-aliases-interactive-palette-outline-neutral-pressed: var(--color-primitives-global-grey-grey-800);
  --color-aliases-interactive-palette-outline-primary-disabled: var(--color-primitives-global-grey-grey-200);
  --color-aliases-interactive-palette-outline-primary-enabled: var(--color-primitives-global-indigo-indigo-400);
  --color-aliases-interactive-palette-outline-primary-hover: var(--color-primitives-global-indigo-indigo-500);
  --color-aliases-interactive-palette-outline-primary-pressed: var(--color-primitives-global-indigo-indigo-600);
  --color-aliases-interactive-palette-outline-secondary-disabled: var(--color-primitives-global-grey-grey-50);
  --color-aliases-interactive-palette-outline-secondary-enabled: var(--color-primitives-global-dark-blue-dark-blue-300);
  --color-aliases-interactive-palette-outline-secondary-hover: var(--color-primitives-global-dark-blue-dark-blue-400);
  --color-aliases-interactive-palette-outline-secondary-pressed: var(--color-primitives-global-dark-blue-dark-blue-500);
  --color-aliases-interactive-palette-outline-secondary-subtle: var(--color-primitives-global-dark-blue-dark-blue-100);
  --color-aliases-interactive-palette-outline-success-disabled: var(--color-primitives-global-grey-grey-400);
  --color-aliases-interactive-palette-outline-success-enabled: var(--color-primitives-global-green-green-500);
  --color-aliases-interactive-palette-outline-success-hover: var(--color-primitives-global-green-green-600);
  --color-aliases-interactive-palette-outline-success-pressed: var(--color-primitives-global-green-green-700);
  --color-aliases-interactive-palette-outline-warning-disabled: var(--color-primitives-global-grey-grey-400);
  --color-aliases-interactive-palette-outline-warning-enabled: var(--color-primitives-global-orange-orange-400);
  --color-aliases-interactive-palette-outline-warning-hover: var(--color-primitives-global-orange-orange-500);
  --color-aliases-interactive-palette-outline-warning-pressed: var(--color-primitives-global-orange-orange-600);
  --color-aliases-interactive-palette-surfaces-brand-disabled: var(--color-primitives-global-grey-grey-400);
  --color-aliases-interactive-palette-surfaces-brand-enabled: var(--color-primitives-global-primary-brand-primary-brand-600);
  --color-aliases-interactive-palette-surfaces-brand-hover: var(--color-primitives-global-primary-brand-primary-brand-700);
  --color-aliases-interactive-palette-surfaces-brand-pressed: var(--color-primitives-global-primary-brand-primary-brand-800);
  --color-aliases-interactive-palette-surfaces-error-disabled: var(--color-primitives-global-grey-grey-400);
  --color-aliases-interactive-palette-surfaces-error-enabled: var(--color-primitives-global-red-red-600);
  --color-aliases-interactive-palette-surfaces-error-hover: var(--color-primitives-global-red-red-700);
  --color-aliases-interactive-palette-surfaces-error-pressed: var(--color-primitives-global-red-red-800);
  --color-aliases-interactive-palette-surfaces-informative-disabled: var(--color-primitives-global-grey-grey-400);
  --color-aliases-interactive-palette-surfaces-informative-enabled: var(--color-primitives-global-blue-blue-600);
  --color-aliases-interactive-palette-surfaces-informative-hover: var(--color-primitives-global-blue-blue-700);
  --color-aliases-interactive-palette-surfaces-informative-pressed: var(--color-primitives-global-blue-blue-800);
  --color-aliases-interactive-palette-surfaces-inverse-disabled: var(--color-primitives-global-grey-grey-50);
  --color-aliases-interactive-palette-surfaces-inverse-enabled: var(--color-primitives-global-grey-white);
  --color-aliases-interactive-palette-surfaces-inverse-hover: var(--color-primitives-global-grey-grey-50);
  --color-aliases-interactive-palette-surfaces-inverse-pressed: var(--color-primitives-global-grey-grey-100);
  --color-aliases-interactive-palette-surfaces-neutral-dark-disabled: var(--color-primitives-global-grey-grey-400);
  --color-aliases-interactive-palette-surfaces-neutral-dark-enabled: var(--color-primitives-global-grey-grey-800);
  --color-aliases-interactive-palette-surfaces-neutral-dark-hover: var(--color-primitives-global-grey-grey-700);
  --color-aliases-interactive-palette-surfaces-neutral-dark-pressed: var(--color-primitives-global-grey-grey-600);
  --color-aliases-interactive-palette-surfaces-neutral-light-disabled: var(--color-primitives-global-grey-grey-50);
  --color-aliases-interactive-palette-surfaces-neutral-light-enabled: var(--color-primitives-global-grey-grey-200);
  --color-aliases-interactive-palette-surfaces-neutral-light-hover: var(--color-primitives-global-grey-grey-300);
  --color-aliases-interactive-palette-surfaces-neutral-light-pressed: var(--color-primitives-global-grey-grey-400);
  --color-aliases-interactive-palette-surfaces-primary-disabled: var(--color-primitives-global-grey-grey-400);
  --color-aliases-interactive-palette-surfaces-primary-enabled: var(--color-primitives-global-indigo-indigo-600);
  --color-aliases-interactive-palette-surfaces-primary-hover: var(--color-primitives-global-indigo-indigo-800);
  --color-aliases-interactive-palette-surfaces-primary-pressed: var(--color-primitives-global-indigo-indigo-900);
  --color-aliases-interactive-palette-surfaces-secondary-disabled: var(--color-primitives-global-grey-grey-400);
  --color-aliases-interactive-palette-surfaces-secondary-enabled: var(--color-primitives-global-dark-blue-dark-blue-600);
  --color-aliases-interactive-palette-surfaces-secondary-hover: var(--color-primitives-global-dark-blue-dark-blue-800);
  --color-aliases-interactive-palette-surfaces-secondary-pressed: var(--color-primitives-global-dark-blue-dark-blue-900);
  --color-aliases-interactive-palette-surfaces-success-disabled: var(--color-primitives-global-grey-grey-400);
  --color-aliases-interactive-palette-surfaces-success-enabled: var(--color-primitives-global-green-green-500);
  --color-aliases-interactive-palette-surfaces-success-hover: var(--color-primitives-global-green-green-600);
  --color-aliases-interactive-palette-surfaces-success-pressed: var(--color-primitives-global-green-green-700);
  --color-aliases-interactive-palette-surfaces-warning-disabled: var(--color-primitives-global-grey-grey-400);
  --color-aliases-interactive-palette-surfaces-warning-enabled: var(--color-primitives-global-orange-orange-400);
  --color-aliases-interactive-palette-surfaces-warning-hover: var(--color-primitives-global-orange-orange-800);
  --color-aliases-interactive-palette-surfaces-warning-pressed: var(--color-primitives-global-orange-orange-900);
  --color-aliases-overlays-brand-background: var(--color-primitives-alpha-primary-brand-primary-brand-alpha-300);
  --color-aliases-overlays-brand-disabled: var(--color-primitives-alpha-primary-brand-primary-brand-alpha-500);
  --color-aliases-overlays-brand-empty: var(--color-primitives-alpha-primary-brand-primary-brand-alpha-0);
  --color-aliases-overlays-brand-enabled: var(--color-primitives-alpha-primary-brand-primary-brand-alpha-50);
  --color-aliases-overlays-brand-hover: var(--color-primitives-alpha-primary-brand-primary-brand-alpha-100);
  --color-aliases-overlays-brand-pressed: var(--color-primitives-alpha-primary-brand-primary-brand-alpha-200);
  --color-aliases-overlays-error-background: var(--color-primitives-alpha-red-red-alpha-200);
  --color-aliases-overlays-error-disabled: var(--color-primitives-alpha-red-red-alpha-500);
  --color-aliases-overlays-error-empty: var(--color-primitives-alpha-red-red-alpha-0);
  --color-aliases-overlays-error-enabled: var(--color-primitives-alpha-red-red-alpha-50);
  --color-aliases-overlays-error-hover: var(--color-primitives-alpha-red-red-alpha-100);
  --color-aliases-overlays-error-pressed: var(--color-primitives-alpha-red-red-alpha-200);
  --color-aliases-overlays-informative-background: var(--color-primitives-alpha-blue-blue-alpha-100);
  --color-aliases-overlays-informative-empty: var(--color-primitives-alpha-blue-blue-alpha-0);
  --color-aliases-overlays-informative-enabled: var(--color-primitives-alpha-blue-blue-alpha-50);
  --color-aliases-overlays-informative-hover: var(--color-primitives-alpha-blue-blue-alpha-300);
  --color-aliases-overlays-informative-pressed: var(--color-primitives-alpha-blue-blue-alpha-400);
  --color-aliases-overlays-inverse-background: var(--color-primitives-alpha-white-white-alpha-300);
  --color-aliases-overlays-inverse-disabled: var(--color-primitives-alpha-white-white-alpha-600);
  --color-aliases-overlays-inverse-empty: var(--color-primitives-alpha-white-white-alpha-0);
  --color-aliases-overlays-inverse-enabled: var(--color-primitives-alpha-white-white-alpha-50);
  --color-aliases-overlays-inverse-hover: var(--color-primitives-alpha-white-white-alpha-100);
  --color-aliases-overlays-inverse-pressed: var(--color-primitives-alpha-white-white-alpha-200);
  --color-aliases-overlays-neutral-background: var(--color-primitives-alpha-black-black-alpha-300);
  --color-aliases-overlays-neutral-disabled: var(--color-primitives-alpha-black-black-alpha-50);
  --color-aliases-overlays-neutral-empty: var(--color-primitives-alpha-black-black-alpha-0);
  --color-aliases-overlays-neutral-enabled: var(--color-primitives-alpha-black-black-alpha-50);
  --color-aliases-overlays-neutral-hover: var(--color-primitives-alpha-black-black-alpha-100);
  --color-aliases-overlays-neutral-pressed: var(--color-primitives-alpha-black-black-alpha-200);
  --color-aliases-overlays-primary-background: var(--color-primitives-alpha-indigo-indigo-alpha-300);
  --color-aliases-overlays-primary-disabled: var(--color-primitives-alpha-indigo-indigo-alpha-500);
  --color-aliases-overlays-primary-empty: var(--color-primitives-alpha-indigo-indigo-alpha-0);
  --color-aliases-overlays-primary-enabled: var(--color-primitives-alpha-indigo-indigo-alpha-50);
  --color-aliases-overlays-primary-hover: var(--color-primitives-alpha-indigo-indigo-alpha-100);
  --color-aliases-overlays-primary-pressed: var(--color-primitives-alpha-indigo-indigo-alpha-200);
  --color-aliases-overlays-secondary-background: var(--color-primitives-alpha-dark-blue-dark-blue-alpha-500);
  --color-aliases-overlays-secondary-disabled: var(--color-primitives-alpha-dark-blue-dark-blue-alpha-400);
  --color-aliases-overlays-secondary-empty: var(--color-primitives-alpha-dark-blue-dark-blue-alpha-0);
  --color-aliases-overlays-secondary-enabled: var(--color-primitives-alpha-dark-blue-dark-blue-alpha-50);
  --color-aliases-overlays-secondary-pressed: var(--color-primitives-alpha-dark-blue-dark-blue-alpha-200);
  --color-aliases-overlays-secondary-hover: var(--color-primitives-alpha-dark-blue-dark-blue-alpha-100);
  --color-aliases-static-palette-background-base: var(--color-primitives-global-grey-grey-50);
  --color-aliases-static-palette-background-strong: var(--color-primitives-global-grey-white);
  --color-aliases-static-palette-background-subtle: var(--color-primitives-global-dark-blue-dark-blue-50);
  --color-aliases-static-palette-background-brand-strong: var(--color-primitives-global-primary-brand-primary-brand-600);
  --color-aliases-static-palette-background-brand-subtle: var(--color-primitives-global-primary-brand-primary-brand-100);
  --color-aliases-static-palette-background-inverse-base: var(--color-primitives-global-dark-blue-dark-blue-900);
  --color-aliases-static-palette-background-inverse-subtle: var(--color-primitives-global-grey-grey-600);
  --color-aliases-static-palette-background-semantic-error-strong: var(--color-primitives-global-red-red-600);
  --color-aliases-static-palette-background-semantic-error-subtle: var(--color-primitives-global-red-red-50);
  --color-aliases-static-palette-background-semantic-informative-strong: var(--color-primitives-global-blue-blue-600);
  --color-aliases-static-palette-background-semantic-informative-subtle: var(--color-primitives-global-blue-blue-50);
  --color-aliases-static-palette-background-semantic-success-strong: var(--color-primitives-global-green-green-500);
  --color-aliases-static-palette-background-semantic-success-subtle: var(--color-primitives-global-green-green-50);
  --color-aliases-static-palette-background-semantic-warning-strong: var(--color-primitives-global-orange-orange-400);
  --color-aliases-static-palette-background-semantic-warning-subtle: var(--color-primitives-global-orange-orange-50);
  --color-aliases-static-palette-background-on-background-strong: var(--color-primitives-global-grey-grey-100);
  --color-aliases-static-palette-background-on-background-subtle: var(--color-primitives-global-grey-grey-50);
  --color-aliases-static-palette-divider-inverse-standard: var(--color-primitives-alpha-white-white-alpha-100);
  --color-aliases-static-palette-divider-inverse-strong: var(--color-primitives-alpha-white-white-alpha-300);
  --color-aliases-static-palette-divider-inverse-weak: var(--color-primitives-alpha-white-white-alpha-200);
  --color-aliases-static-palette-divider-standard: var(--color-primitives-global-dark-blue-dark-blue-100);
  --color-aliases-static-palette-divider-strong: var(--color-primitives-global-dark-blue-dark-blue-300);
  --color-aliases-static-palette-divider-weak: var(--color-primitives-global-dark-blue-dark-blue-200);
  --color-aliases-static-palette-text-disabled: var(--color-primitives-global-grey-grey-300);
  --color-aliases-static-palette-text-primary: var(--color-primitives-global-grey-grey-900);
  --color-aliases-static-palette-text-subtle: var(--color-primitives-global-grey-grey-500);
  --color-aliases-static-palette-text-tertiary: var(--color-primitives-global-grey-grey-600);
  --color-aliases-static-palette-text-action-accent: var(--color-primitives-global-primary-brand-primary-brand-700);
  --color-aliases-static-palette-text-action-on-secondary: var(--color-primitives-global-dark-blue-dark-blue-500);
  --color-aliases-static-palette-text-action-primary: var(--color-primitives-global-indigo-indigo-600);
  --color-aliases-static-palette-text-action-primary-hover: var(--color-primitives-global-indigo-indigo-800);
  --color-aliases-static-palette-text-inverse-disabled: var(--color-primitives-global-grey-grey-500);
  --color-aliases-static-palette-text-inverse-primary: var(--color-primitives-global-grey-white);
  --color-aliases-static-palette-text-inverse-secondary: var(--color-primitives-global-grey-grey-50);
  --color-aliases-static-palette-text-inverse-tertiary: var(--color-primitives-global-dark-blue-dark-blue-300);
  --color-aliases-static-palette-text-semantic-error: var(--color-primitives-global-red-red-700);
  --color-aliases-static-palette-text-semantic-infromative: var(--color-primitives-global-blue-blue-700);
  --color-aliases-static-palette-text-semantic-success: var(--color-primitives-global-green-green-500);
  --color-aliases-static-palette-text-semantic-warning: var(--color-primitives-global-orange-orange-600);
  --color-primitives-alpha-black-black-alpha-0: #00000000;
  --color-primitives-alpha-black-black-alpha-100: #0000000d;
  --color-primitives-alpha-black-black-alpha-200: #00000014;
  --color-primitives-alpha-black-black-alpha-300: #00000029;
  --color-primitives-alpha-black-black-alpha-400: #0000003d;
  --color-primitives-alpha-black-black-alpha-50: #00000008;
  --color-primitives-alpha-black-black-alpha-500: #0000005c;
  --color-primitives-alpha-black-black-alpha-600: #0000007a;
  --color-primitives-alpha-black-black-alpha-700: #000000a3;
  --color-primitives-alpha-black-black-alpha-800: #000000cc;
  --color-primitives-alpha-black-black-alpha-900: #000000eb;
  --color-primitives-alpha-blue-blue-alpha-0: #45ade800;
  --color-primitives-alpha-blue-blue-alpha-100: #45ade80f;
  --color-primitives-alpha-blue-blue-alpha-200: #45ade814;
  --color-primitives-alpha-blue-blue-alpha-300: #45ade829;
  --color-primitives-alpha-blue-blue-alpha-400: #45ade83d;
  --color-primitives-alpha-blue-blue-alpha-50: #45ade80a;
  --color-primitives-alpha-blue-blue-alpha-500: #45ade85c;
  --color-primitives-alpha-blue-blue-alpha-600: #45ade87a;
  --color-primitives-alpha-blue-blue-alpha-700: #45ade8a3;
  --color-primitives-alpha-blue-blue-alpha-800: #45ade8cc;
  --color-primitives-alpha-blue-blue-alpha-900: #45ade8eb;
  --color-primitives-alpha-dark-blue-dark-blue-alpha-0: #2d3a5300;
  --color-primitives-alpha-dark-blue-dark-blue-alpha-100: #2d3a530f;
  --color-primitives-alpha-dark-blue-dark-blue-alpha-200: #2d3a5314;
  --color-primitives-alpha-dark-blue-dark-blue-alpha-300: #2d3a5329;
  --color-primitives-alpha-dark-blue-dark-blue-alpha-400: #2d3a533d;
  --color-primitives-alpha-dark-blue-dark-blue-alpha-50: #2d3a530a;
  --color-primitives-alpha-dark-blue-dark-blue-alpha-500: #2d3a535c;
  --color-primitives-alpha-dark-blue-dark-blue-alpha-600: #2d3a537a;
  --color-primitives-alpha-dark-blue-dark-blue-alpha-700: #2d3a53a3;
  --color-primitives-alpha-dark-blue-dark-blue-alpha-800: #2d3a53cc;
  --color-primitives-alpha-dark-blue-dark-blue-alpha-900: #2d3a53eb;
  --color-primitives-alpha-indigo-indigo-alpha-0: #444ce700;
  --color-primitives-alpha-indigo-indigo-alpha-100: #444ce70f;
  --color-primitives-alpha-indigo-indigo-alpha-200: #444ce714;
  --color-primitives-alpha-indigo-indigo-alpha-300: #444ce729;
  --color-primitives-alpha-indigo-indigo-alpha-400: #444ce73d;
  --color-primitives-alpha-indigo-indigo-alpha-50: #444ce70a;
  --color-primitives-alpha-indigo-indigo-alpha-500: #444ce75c;
  --color-primitives-alpha-indigo-indigo-alpha-600: #444ce77a;
  --color-primitives-alpha-indigo-indigo-alpha-700: #444ce7a3;
  --color-primitives-alpha-indigo-indigo-alpha-800: #444ce7cc;
  --color-primitives-alpha-indigo-indigo-alpha-900: #444ce7eb;
  --color-primitives-alpha-primary-brand-primary-brand-alpha-0: #e2432800;
  --color-primitives-alpha-primary-brand-primary-brand-alpha-100: #e243280f;
  --color-primitives-alpha-primary-brand-primary-brand-alpha-200: #e2432814;
  --color-primitives-alpha-primary-brand-primary-brand-alpha-300: #e2432829;
  --color-primitives-alpha-primary-brand-primary-brand-alpha-400: #e243283d;
  --color-primitives-alpha-primary-brand-primary-brand-alpha-50: #e243280a;
  --color-primitives-alpha-primary-brand-primary-brand-alpha-500: #e243285c;
  --color-primitives-alpha-primary-brand-primary-brand-alpha-600: #e243287a;
  --color-primitives-alpha-primary-brand-primary-brand-alpha-700: #e24328a3;
  --color-primitives-alpha-primary-brand-primary-brand-alpha-800: #e24328cc;
  --color-primitives-alpha-primary-brand-primary-brand-alpha-900: #e24328eb;
  --color-primitives-alpha-red-red-alpha-0: #d92d2000;
  --color-primitives-alpha-red-red-alpha-100: #d92d200f;
  --color-primitives-alpha-red-red-alpha-200: #d92d2014;
  --color-primitives-alpha-red-red-alpha-300: #d92d2029;
  --color-primitives-alpha-red-red-alpha-400: #d92d203d;
  --color-primitives-alpha-red-red-alpha-50: #d92d200a;
  --color-primitives-alpha-red-red-alpha-500: #d92d205c;
  --color-primitives-alpha-red-red-alpha-600: #d92d207a;
  --color-primitives-alpha-red-red-alpha-700: #d92d20a3;
  --color-primitives-alpha-red-red-alpha-800: #d92d20cc;
  --color-primitives-alpha-red-red-alpha-900: #d92d20eb;
  --color-primitives-alpha-white-white-alpha-0: #ffffff00;
  --color-primitives-alpha-white-white-alpha-100: #ffffff0d;
  --color-primitives-alpha-white-white-alpha-200: #ffffff14;
  --color-primitives-alpha-white-white-alpha-300: #ffffff29;
  --color-primitives-alpha-white-white-alpha-400: #ffffff3d;
  --color-primitives-alpha-white-white-alpha-50: #ffffff08;
  --color-primitives-alpha-white-white-alpha-500: #ffffff5c;
  --color-primitives-alpha-white-white-alpha-600: #ffffff7a;
  --color-primitives-alpha-white-white-alpha-700: #ffffffa3;
  --color-primitives-alpha-white-white-alpha-800: #ffffffcc;
  --color-primitives-alpha-white-white-alpha-900: #ffffffeb;
  --color-primitives-global-blue-blue-100: #d2ebf9;
  --color-primitives-global-blue-blue-200: #bbe1f7;
  --color-primitives-global-blue-blue-300: #a4d7f4;
  --color-primitives-global-blue-blue-400: #84c9f0;
  --color-primitives-global-blue-blue-50: #e8f5fc;
  --color-primitives-global-blue-blue-500: #6ebfed;
  --color-primitives-global-blue-blue-600: #45ade8;
  --color-primitives-global-blue-blue-700: #1c9be3;
  --color-primitives-global-blue-blue-800: #115d88;
  --color-primitives-global-blue-blue-900: #0b3e5b;
  --color-primitives-global-dark-blue-dark-blue-100: #e5e9f0;
  --color-primitives-global-dark-blue-dark-blue-200: #c6cedc;
  --color-primitives-global-dark-blue-dark-blue-300: #a8b2c7;
  --color-primitives-global-dark-blue-dark-blue-400: #5972a6;
  --color-primitives-global-dark-blue-dark-blue-50: #eff1f6;
  --color-primitives-global-dark-blue-dark-blue-500: #475b85;
  --color-primitives-global-dark-blue-dark-blue-600: #2d3a53;
  --color-primitives-global-dark-blue-dark-blue-700: #20293c;
  --color-primitives-global-dark-blue-dark-blue-800: #161e2d;
  --color-primitives-global-dark-blue-dark-blue-900: #101828;
  --color-primitives-global-green-green-100: #d7eed5;
  --color-primitives-global-green-green-200: #9ae6b4;
  --color-primitives-global-green-green-300: #68d391;
  --color-primitives-global-green-green-400: #48bb78;
  --color-primitives-global-green-green-50: #f4fbf6;
  --color-primitives-global-green-green-500: #38a169;
  --color-primitives-global-green-green-600: #25855a;
  --color-primitives-global-green-green-700: #276749;
  --color-primitives-global-green-green-800: #22543d;
  --color-primitives-global-green-green-900: #1c4532;
  --color-primitives-global-grey-grey-100: #dcddde;
  --color-primitives-global-grey-grey-200: #c3c4c6;
  --color-primitives-global-grey-grey-300: #aaabae;
  --color-primitives-global-grey-grey-400: #919295;
  --color-primitives-global-grey-grey-50: #f5f5f5;
  --color-primitives-global-grey-grey-500: #79797d;
  --color-primitives-global-grey-grey-600: #606164;
  --color-primitives-global-grey-grey-700: #48484a;
  --color-primitives-global-grey-grey-800: #303032;
  --color-primitives-global-grey-grey-900: #181818;
  --color-primitives-global-grey-white: #ffffff;
  --color-primitives-global-indigo-indigo-100: #e0eaff;
  --color-primitives-global-indigo-indigo-200: #c7d7fe;
  --color-primitives-global-indigo-indigo-300: #a4bcfd;
  --color-primitives-global-indigo-indigo-400: #8098f9;
  --color-primitives-global-indigo-indigo-50: #eef4ff;
  --color-primitives-global-indigo-indigo-500: #6172f3;
  --color-primitives-global-indigo-indigo-600: #444ce7;
  --color-primitives-global-indigo-indigo-700: #3538cd;
  --color-primitives-global-indigo-indigo-800: #2c30a0;
  --color-primitives-global-indigo-indigo-900: #2d3282;
  --color-primitives-global-orange-orange-100: #fdd7bd;
  --color-primitives-global-orange-orange-200: #fbbc91;
  --color-primitives-global-orange-orange-300: #faaf7b;
  --color-primitives-global-orange-orange-400: #f9a165;
  --color-primitives-global-orange-orange-50: #fef0e7;
  --color-primitives-global-orange-orange-500: #f9944f;
  --color-primitives-global-orange-orange-600: #f88639;
  --color-primitives-global-orange-orange-700: #f77923;
  --color-primitives-global-orange-orange-800: #da5d08;
  --color-primitives-global-orange-orange-900: #be5107;
  --color-primitives-global-primary-brand-primary-brand-100: #fcebe9;
  --color-primitives-global-primary-brand-primary-brand-200: #fae0db;
  --color-primitives-global-primary-brand-primary-brand-300: #f4b9ae;
  --color-primitives-global-primary-brand-primary-brand-400: #ee9281;
  --color-primitives-global-primary-brand-primary-brand-50: #fff5f5;
  --color-primitives-global-primary-brand-primary-brand-500: #e86b54;
  --color-primitives-global-primary-brand-primary-brand-600: #d73d23;
  --color-primitives-global-primary-brand-primary-brand-700: #ca3921;
  --color-primitives-global-primary-brand-primary-brand-800: #9e2e1a;
  --color-primitives-global-primary-brand-primary-brand-900: #942714;
  --color-primitives-global-purple-purple-100: #f4ebff;
  --color-primitives-global-purple-purple-200: #e9d7fe;
  --color-primitives-global-purple-purple-300: #d6bbfb;
  --color-primitives-global-purple-purple-400: #b692f6;
  --color-primitives-global-purple-purple-50: #f9f5ff;
  --color-primitives-global-purple-purple-500: #9e77ed;
  --color-primitives-global-purple-purple-600: #7f56d9;
  --color-primitives-global-purple-purple-700: #6941c6;
  --color-primitives-global-purple-purple-800: #53389e;
  --color-primitives-global-purple-purple-900: #42307d;
  --color-primitives-global-red-red-100: #fee8e6;
  --color-primitives-global-red-red-200: #fed0cd;
  --color-primitives-global-red-red-300: #fea19a;
  --color-primitives-global-red-red-400: #ff6b60;
  --color-primitives-global-red-red-50: #fff6f5;
  --color-primitives-global-red-red-500: #ea4a3e;
  --color-primitives-global-red-red-600: #cd372c;
  --color-primitives-global-red-red-700: #be1b0e;
  --color-primitives-global-red-red-800: #a21107;
  --color-primitives-global-red-red-900: #901704;
  --color-primitives-global-yellow-yellow-100: #fef7c3;
  --color-primitives-global-yellow-yellow-200: #faf089;
  --color-primitives-global-yellow-yellow-300: #fde272;
  --color-primitives-global-yellow-yellow-400: #ecc94b;
  --color-primitives-global-yellow-yellow-50: #fefbe8;
  --color-primitives-global-yellow-yellow-500: #eaaa08;
  --color-primitives-global-yellow-yellow-600: #ca8504;
  --color-primitives-global-yellow-yellow-700: #a15c07;
  --color-primitives-global-yellow-yellow-800: #854a0e;
  --color-primitives-global-yellow-yellow-900: #713b12;
  --non-semantic-alpha-alpha-1: var(--color-primitives-alpha-white-white-alpha-400);
  --non-semantic-fill-special-fill-1: var(--color-primitives-global-blue-blue-600);
  --non-semantic-fill-special-fill-2: var(--color-primitives-global-purple-purple-600);
  --non-semantic-fill-special-fill-3: var(--color-primitives-global-yellow-yellow-500);
  --non-semantic-fill-special-fill-4: var(--color-primitives-global-primary-brand-primary-brand-600);
  --non-semantic-fill-special-fill-5: var(--color-primitives-global-orange-orange-100);
  --non-semantic-modal-overlay-modal-overlay-dark: var(--color-primitives-alpha-black-black-alpha-500);
  --non-semantic-modal-overlay-modal-overlay-darker: var(--color-primitives-alpha-black-black-alpha-700);
  /* number */
  --border-radius-radius-none: 0rem;
  --border-radius-radius-xs: 0.125rem;
  --border-radius-radius-sm: 0.25rem;
  --border-radius-radius-md: 0.375rem;
  --border-radius-radius-lg: 0.5rem;
  --border-radius-radius-xl: 0.75rem;
  --border-radius-radius-2xl: 1rem;
  --border-radius-radius-3xl: 1.25rem;
  --border-radius-radius-full: 624.9375rem;
  --border-width-border-default: 0.0625rem;
  --border-width-border-width-2: 0.125rem;
  --border-width-border-width-4: 0.25rem;
  --border-width-border-width-8: 0.5rem;
  --spacings-spacing-none: 0rem;
  --spacings-spacing-3xs: 0.25rem;
  --spacings-spacing-2xs: 0.375rem;
  --spacings-spacing-xs: 0.5rem;
  --spacings-spacing-sm: 0.75rem;
  --spacings-spacing-md: 0.875rem;
  --spacings-spacing-lg: 1rem;
  --spacings-spacing-xl: 1.5rem;
  --spacings-spacing-2xl: 2rem;
  --spacings-spacing-3xl: 2.5rem;
  --spacings-spacing-4xl: 3rem;
  --spacings-spacing-5xl: 3.5rem;
  --spacings-spacing-6xl: 4rem;
  --spacings-spacing-7xl: 5rem;
  --spacings-spacing-8xl: 5.5rem;
  --spacings-spacing-9xl: 8rem;
  --spacings-spacing-10xl: 9rem;
}
