<!DOCTYPE html>
<html lang="en">
  <head>
{{> head defaultPageTitle='Redpanda Documentation'}}
  </head>
  <body class="article component-home-v3">
{{> header}}
<div class="body no-keep-markup">
{{> nav}}
<main class="article component-home">
  <div class="content component-content">
{{> component-home-v3}}
  </div>
</main>
</div>
{{> chat-panel}}
{{> footer-scripts}}
  </body>
</html>
