<!DOCTYPE html>
<html lang="en">
  <head>
{{> head defaultPageTitle='Redpanda Data Platform'}}
  </head>
  <body class="article data-platform">
{{> header}}
<div class="body no-keep-markup">
{{> nav}}
<main class="article data-platform">
  <div class="content dp-content">
{{> data-platform}}
  </div>
</main>
</div>
{{> chat-panel}}
{{> footer-scripts}}
  </body>
</html>
