<!DOCTYPE html>
<html lang="en">
<head>
  {{> head defaultPageTitle='Redpanda Connect'}}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{> header-scripts}}
</head>
<body>
  {{> header}}
  <div class="body no-keep-markup">
    {{> nav}}
    {{> redpanda-connect-content}}
  </div>
</body>
{{> footer}}
</html>
