<!DOCTYPE html>
<html lang="en">
  <head>
    {{> head defaultPageTitle='API Reference'}}
    <script type="module" src="https://unpkg.com/rapidoc/dist/rapidoc-min.js"></script>
  </head>
  <body class="swagger">
    {{> header}}
    <rapi-doc id="api" spec-url="{{resolve-resource page.attributes.api-spec-url}}" primary-color="#e2401b"
        show-header="false" show-curl-before-try=true>
    </rapi-doc>
    {{> footer}}
    <script defer>
      function getNavbarHeight() {
          const navbar = document.querySelector('nav.navbar');
          if (!navbar) {
            console.error('Navbar not found.');
            return null;
          }
          const style = window.getComputedStyle(navbar);
          const height = parseFloat(style.height);
          return height;
      }
      function adjustScrollForNavbar() {
          const height = getNavbarHeight();
          console.log(height);
          if (height && window.location.hash) {
            window.scrollTo(window.scrollX, window.scrollY - height);
          }
      }
      let lastHash = window.location.hash;
      setInterval(function() {
        if (window.location.hash !== lastHash) {
          lastHash = window.location.hash;
          adjustScrollForNavbar();
        }
      }, 100);
      window.addEventListener('DOMContentLoaded', function() {
        setTimeout(adjustScrollForNavbar, 100)
      });
      let resizeTimeout;
      function debouncedApplyMobileLogic() {
          clearTimeout(resizeTimeout);
          resizeTimeout = setTimeout(applyMobileLogic, 250);
      }

      function applyMobileLogic() {
          const rapidocEl = document.getElementById('api');
          if (window.innerWidth <= 768) {
            rapidocEl.setAttribute('render-style', 'view');
          } else {
            rapidocEl.setAttribute('render-style', 'focused');
          }
      }

      window.addEventListener('DOMContentLoaded', applyMobileLogic);
      window.addEventListener('resize', debouncedApplyMobileLogic);
    </script>
  </body>
</html>